.breadCrumble {
  font-size: var(--size-medium-l);
}

.element {
  flex: 0 0 auto;
}

.elementLast {
  composes: inlineEllipsis from '~styles/text.css';
  flex: 1 1 auto;
}

.crumbContainer {
  display: flex;
  overflow: hidden;
}

.arrow {
  padding: 3px 5px;
}
