@value tableHeight: 347px;
@value query700 from '~styles/queries.css';

.inboxContainerFull {
  flex: 0 1;
  height: 525px;
}

.inboxContainerPopover {
  height: 400px;
}

.inboxContainerPopover table {
  height: tableHeight;
}

.contentContainerFull {
  display: flex;
  flex-direction: column;
  padding-top: 70px; /* pad space for transparent navbar */
  width: 100%;
  max-width: 940px;
}

.contentContainerPopup {
  display: flex;
  flex-direction: column;
  width: 480px;
}

.inboxHeadingFull {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.inboxHeadingPopover {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 13px 20px;
}

.inboxHeadingPopover button {
  margin-top: -5px;
}

.inboxFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 46px;
}

.emptyPopoverPlaceholder {
  padding: 15px;
  height: tableHeight;
  border-color: var(--grey-blue-1);
  background-color: white;
  box-shadow: 0px 2px 11px var(--drop-shadow);
}

.emptyPopoverPlaceholder .emptyText {
  font-size: var(--size-medium);
}

.loadingPopoverPlaceholder {
  composes: emptyPopoverPlaceholder;
  padding: 68px 0;
}

.emptyText {
  max-width: 700px;
  font-size: var(--size-medium-l);
  font-weight: var(--weight-normal);
}

@media screen and query700 {
  .contentContainerFull {
    padding: 35px 14px 60px;
  }

  .contentContainerPopup {
    width: calc(100% - 28px);
    border-radius: 4px;
    background-color: var(--grey-blue-2);
  }
}
