@value paddingValue: 12px;

.main {
  width: 100%;
}

/*
 * @NOTE this isn't really used externally, just internally to compose same
 * styles to different classes
 */
.composableItem {
  overflow: hidden;
  font-weight: var(--weight-bold);
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--grey-dark);
}

.selectedItemDisplay {
  composes: composableItem;
}

.itemsWrapper {
  padding: paddingValue;
}

.itemList {
  max-height: 250px;
  width: 300px;
  overflow: auto;
}

.itemList li {
  padding: 6px 0;
}

.item {
  composes: composableItem;
  display: block;
  margin: 0;
  padding: 0 paddingValue 0 0;
  width: calc(100% - paddingValue);
  border: none;
  background-color: transparent;
  font-size: var(--size-normal);
  text-align: left;
  cursor: pointer;
  outline: none;
}

.item:hover {
  color: color-mod(var(--colony-blue) alpha(70%));
}

.item:disabled,
.item:disabled:hover {
  color: var(--grey-4);
  cursor: default;
}

.itemHeading {
  composes: item;
  cursor: default;
}

.itemHeading:hover {
  color: var(--grey-dark);
}

.selectedItem .item {
  color: var(--colony-blue);
}

.controls {
  margin-top: paddingValue;
  padding: paddingValue 0 0 0;
  border-top: 1px solid var(--grey-blue-0);
  text-align: right;
}
