@import 'variables.css';

.content{
    width: 460px;
}

.title{
    margin-top: 180px;
}
.subtitle {
    margin-bottom: 65px;
}

.greyBox{
    min-height: 86px;
    padding: 60px;
    position: relative;
    border: 1px solid rgb(213, 213, 213);
    border-radius: 3px;
    background-color: rgb(232, 236, 245);
    text-align: center;
}

.buttonsForBox{
    display: flex;
    justify-content: flex-end;
    margin-top: 40px;
    margin-bottom: 10px;
}
.heading {
    flex: 1;
    font-weight: 600;
    margin-bottom: 9px;
}
.backgroundGrid{
     display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 439px;
    left: 81px;
    overflow: hidden; 
    width: 460px;
    height: 110px;  
}
.gridElement{
    flex: 1 0 25%;
    border-bottom: 1px dashed var(--pink);
    border-right: 1px dashed var(--pink);
    height: 37px;
}

.placeholder{
    width: 100%;
    text-align: center;
    color: var(--temp-grey-12);
    font-weight: 600;
    font-size: var(--size-normal);
    position: absolute;
    top: 500px;
    left: 0px;
    overflow: hidden; 
}
.placeholderTop{
    margin-top: 35px;
    width: 100%;
    text-align: center;
    color: var(--temp-grey-12);
    font-weight: 600;
    font-size: var(--size-normal);
    position: absolute;
    top: 445px;
    left: 0px;
    overflow: hidden;  
}
.plus{
    margin-top: -10px;
    margin-left: -5px;
    color: var(--secondary);
}



.rowOutlier{
    flex: 1;
}

.wordContainer {
    border-bottom: 1px solid var(--grey-blue-0); 
}
