.inboxIcon {
  composes: navigationItem from '~pages/NavigationWrapper/UserNavigation.css';
}

.inboxIconWCircle {
  composes: inboxIcon;

  &::after {
    display: inline-block;
    margin-bottom: 8px;
    margin-left: -5px;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: var(--danger);
    content: '';
  }
}
