.inboxNotification::after {
  display: inline-block;
  margin-left: -5px;
  height: 9px;
  width: 9px;
  position: absolute;
  border-radius: 50%;
  background-color: var(--danger);
  content: '';
  box-shadow: 0px 2px 11px var(--drop-shadow);
}
