@value paddingTop: 46px;
@value lockedPaddingTop: 75px;
@value paddingRightLeftBottom: 54px;

.container {
  padding: paddingTop paddingRightLeftBottom paddingRightLeftBottom;
}

.costRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
}

.cost {
  display: flex;
  align-items: center;
  font-size: var(--size-smallish);
  font-weight: var(--weight-bold);
  color: color-mod(var(--dark) alpha(85%));
  letter-spacing: var(--spacing-medium);
}

.cost i {
  margin-right: 8px;
}

.labelWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.labelWrapper label {
  margin-right: 8px;
  width: auto;
}

.labelWrapper > div {
  max-width: 250px;
}

.nameInputs {
  padding: 12px 0 0 0;
}

.nameInputs input {
  height: 44px;
  font-size: var(--size-normal);
  font-weight: var(--weight-bold);
  color: var(--dark);
  letter-spacing: var(--spacing-normal);
}

.nameInputs > div:not(:first-child) {
  margin-bottom: 12px;
}

.nameInputs label {
  font-size: var(--size-smallish);
  font-weight: var(--weight-bold);
  color: color-mod(var(--dark) alpha(85%));
}

.namesWrapper {
  /* border: 1px solid red */
}

.namesWrapper label {
  flex: 1;
  color: color-mod(var(--temp-grey-blue-7) alpha(85%));
  letter-spacing: var(--spacing-medium);
}

.description {
  /* border: 1px solid red */
}

.descriptionWrapper {
  display: flex;
  align-items: baseline;
}

.descriptionWrapper label {
  flex: 1;
  color: color-mod(var(--temp-grey-blue-7) alpha(85%));
  letter-spacing: var(--spacing-medium);
}

.descriptionWrapper > div {
  flex: 2.5;
  font-size: var(--size-normal);
  font-weight: var(--weight-bold);
  text-align: right;
  color: color-mod(var(--dark) alpha(85%));
  letter-spacing: 0.1px;
}

.title {
  margin-bottom: 16px;
  font-size: var(--size-smallish);
  font-weight: var(--weight-bold);
  color: color-mod(var(--dark) alpha(85%));
  letter-spacing: var(--spacing-medium);
}

.label {
  font-size: var(--size-smallish);
  font-weight: var(--weight-bold);
  color: color-mod(var(--temp-grey-blue-7) alpha(85%));
  letter-spacing: var(--spacing-medium);
}
