.dropzone {
  height: 160px;
  width: 160px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.dropzoneNoButtonsVariant {
  height: 77px;
  position: relative;
  overflow: hidden;
  background: rgba(200, 214, 245, 0.33);
}

.filesContainer {
  height: 100%;
  width: 100%;
}

.overlay {
  display: none;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--primary);
  font-size: var(--size-medium);
  font-weight: var(--weight-bold);
  color: white;
  opacity: 0.7;
}

.dropzoneAccept .overlay {
  display: flex;
}

.buttonContainer {
  margin-top: 25px;
}
