@value cellPadding: 20px;

tr.main:hover .etherscanButtonWrapper {
  margin-right: 0;
}

.main td {
  padding: cellPadding;

  /*
   * @NOTE Without this positioning the hover doesn't work properly on the
   * undelying flexbox. It will only detect hover when passing over
   * actual content, not whitespace
   */
  position: relative;
}

td.transactionDate {
  flex-wrap: wrap;
  padding-left: 30px;
  width: 75px;
}

.dateDay {
  width: 100%;
  font-size: var(--size-medium-l);
  text-align: center;
  color: var(--grey-1);
}

.dateMonth {
  width: 100%;
  font-size: var(--size-small);
  text-transform: uppercase;
  text-align: center;
  color: var(--grey-3);
}

td.transactionStatus {
  padding: cellPadding 5px;
  width: 40px;
}

td.transactionDetails {
  width: calc(100% - 315px);
}

td.transactionAmountActions {
  flex-direction: row-reverse;
  padding-right: 30px;
  width: 60%;
}

.customButton {
  composes: themePrimary from '~core/Button/Button.css';
  width: 100%;
}

.buttonWrapper {
  margin-left: cellPadding;
  padding-left: cellPadding;
  width: 130px;
  border-left: 1px solid var(--grey-blue-1);
}

.etherscanButtonWrapper {
  composes: buttonWrapper;
  margin-right: -160px;
  transition: 0.2s margin-right ease;
}
