@value submitButtonWidth: 160px;

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0 20px;
  width: 100%;
  font-size: var(--size-medium-l);
  font-weight: var(--weight-bold);
  color: var(--dark);
}

.forceContainer {
  display: flex;
  align-items: center;
  font-size: var(--size-smallish);
}

.stakeContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 0;
  border-bottom: 1px solid var(--grey-blue-0);
  font-size: var(--size-smallish);
  font-weight: var(--weight-bold);
  color: var(--temp-grey-blue-7);
  opacity: 0.85;
}

.messageContainer {
  padding-bottom: 90px;
  color: var(--temp-grey-blue-7);
}

.label {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
  font-size: var(--size-smallish);
  font-weight: var(--weight-bold);
  color: var(--temp-grey-blue-7);
}

.icon figure {
  display: block;
}

.tokenIcon {
  margin-right: 4px;
  height: 16px;
  width: 16px;
}

.symbol {
  margin-left: 4px;
}

.questionIcon {
  display: block;

  /* next lines are used for the correct tooltip arrow placement */
  margin-right: -20px;
  margin-bottom: -3px;
  margin-left: 11px;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: white;
  stroke: none;
  transform: translateX(-20px);
}

.toggleContainer {
  /* negative margin here corrects the position of the toggle input */
  margin-bottom: -6px;
  margin-left: 4px;
  margin-right: 20px;
}

.messageParagraph {
  padding-top: 14px;
}

.tooltip {
  max-width: 250px;
  white-space: normal;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0 13px;
  font-size: var(--size-smallish);
  font-weight: var(--weight-bold);
  line-height: 18px;
  color: var(--temp-grey-blue-7);
}

.valueLabel {
  align-items: flex-start;
}

.smallerPadding {
  padding: 4px 0 8px;
}

.withoutPadding {
  padding: 0;
}

.forceRow {
  align-items: baseline;
  white-space: nowrap;
}

.forceRow form {
  margin-left: 5px;
  max-width: 200px;
}

.recipientContainer {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 8px 0;
  font-size: var(--size-smallish);
  font-weight: var(--weight-bold);
  line-height: 18px;
  color: var(--dark);
}

.recipientContainer span {
  margin-left: 4px;
  color: inherit;
}

.reicpientButtonContainer button {
  padding: 0;
  height: auto;
  color: var(--action-secondary);
}

.reicpientButtonContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 27px 0 13px;
}

.valueContainer {
  text-align: right;
}

.value {
  display: flex;
  align-items: center;
}

.paddingBottom {
  padding-bottom: 6px;
}

.userAvatarContainer {
  display: flex;
  align-items: center;
}

.userAvatarContainer > span {
  margin-left: 4px;
}

.contentWrapper {
  padding: 0 20px 54px;
}

.descriptionWrapper {
  padding-top: 10px;
}

.valueAmount {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--dark);
}

.changeContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 27px 0 13px;
  font-size: var(--size-smallish);
  font-weight: var(--weight-bold);
  line-height: 18px;
  color: var(--dark);
}

.changeItem {
  padding: 8px 0 13px;
  color: var(--temp-grey-blue-7);
}

.changeContainer button {
  padding: 0;
  height: auto;
  color: var(--action-secondary);
}

.changeWrapper {
  max-width: 70%;
  overflow: elipsis;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.teamWrapper {
  display: flex;
  align-items: center;
}

.teamWrapper > div {
  margin-right: 4px;
}
