.main {
  composes: field from '~styles/fields.css';
  width: 100%;
}

.directionHorizontal {
  composes: main;
}

.widthWide input {
  width: 330px;
}

.labelWrap {
  flex: 0 0 100%;
}

.directionHorizontal .labelWrap {
  flex: 0 1 auto;
}

.container {
  position: relative;
}

.inputWithIcon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 18px;
  width: 80%;
}

.container input:disabled {
  border-color: var(--text-disabled);
}

.inputContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
}

.avatarContainer {
  flex: 0 0 26px;
}

.icon {
  flex: 0 0 28px;
  height: 28px;
  width: 28px;
}

.focusIcon {
  composes: icon;
}

.baseInput {
  /* flex: 1 1 0; */
  height: 32px;
  max-width: 305px;
  vertical-align: baseline;
  border: none;
  background-color: transparent;
  font-size: var(--size-normal);
  text-align: left;
  color: var(--colony-black);
  outline: none;
}

.baseInput::placeholder {
  color: var(--temp-grey-blue-7);
  opacity: 0.65;
}

.inputInvalid {
  border-color: var(--danger);
}

.input {
  composes: baseInput;
  width: 100%;
}

.inputWrapper {
  padding: 17px;
  background-color: white;
}

.recipientName {
  composes: baseInput;
  overflow: hidden;
  font-weight: var(--weight-bold);
  text-overflow: ellipsis;
  color: var(--danger);
}

.omniPickerContainer {
  width: 100%;
  max-width: 335px;
  position: absolute;
  top: -16px;
  right: -270px;
  z-index: var(--z-index-nav);
}

.errorHorizontal {
  margin-top: 5px;
  position: absolute;
  top: 100%;
  right: 15px;
  font-size: var(--size-tiny);
  color: var(--danger);
}

.omniContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 5px;
}

.arrowIcon {
  height: 24px;
  width: 24px;
  position: absolute;
  top: 2px;
  right: 0;
}

.arrowIconActive svg {
  fill: var(--primary);
  transform: rotate(180deg);
}
