.main {
  composes: field from '~styles/fields.css';
  width: 100%;
}

.inputWithIcon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.inputWithIconBtn {
  display: flex;
  padding: 0 18px 0 0;
  border: 0;
  background: transparent;
  appearance: none;
  cursor: pointer;
}

.inputWithIconBtn:disabled {
  opacity: 0.5;
  cursor: unset;
}

.inputWithIconBtn:enabled:hover .icon::after {
  height: 38px;
  width: 38px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--action-secondary);
  transform: translate(-5px, -5px);
  content: '';
  opacity: 0.1;
}

.container input:disabled {
  border-color: var(--text-disabled);
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.icon {
  margin-right: 5px;
  height: 28px;
  width: 28px;
  position: relative;
  stroke: var(--action-secondary);
}

.focusIcon {
  composes: icon;
}

.errorIcon {
  stroke: var(--pink);
}

.baseInput {
  height: 28px;
  max-width: 332px;
  vertical-align: baseline;
  border: none;
  background-color: transparent;
  font-size: var(--size-normal);
  text-align: left;
  color: var(--colony-black);
  outline: none;
}

.baseInput::placeholder {
  color: var(--temp-grey-blue-7);
  opacity: 0.65;
}

.input {
  composes: baseInput;
  width: 100%;
}

.inputWrapper {
  padding: 17px 17px 0;
  background-color: white;
}

.inputWrapper input {
  border-bottom: 1px solid rgb(113, 213, 213);
}

.recipientName {
  composes: baseInput;
  padding: 2px 6px;
  overflow: hidden;
  font-weight: var(--weight-bold);
  text-overflow: ellipsis;
  color: var(--danger);
}

.recipientName:hover {
  cursor: pointer;
}

.omniPickerContainer {
  width: 100%;
  max-width: 332px;
  z-index: var(--z-index-nav);
  box-shadow: 0px 2px 11px rgb(62 118 244 / 14%);
}

.error {
  margin-top: 5px;
  width: 100%;
  font-size: var(--size-tiny);
  font-weight: var(--weight-bold);
  text-align: right;
  color: var(--danger);
}

.arrowIcon {
  height: 24px;
  width: 24px;
  position: absolute;
  top: 4px;
  right: 0;
  fill: var(--action-secondary);
}

.arrowIconActive svg {
  transform: rotate(180deg);
}
