.main :global(.rc-slider-disabled) {
  padding: 6px 0 7px;
}

.main :global(.rc-slider-disabled .rc-slider-handle) {
  border-color: var(--text-disabled) !important;
}

.main :global(.rc-slider-track) {
  max-width: 100%;
}

.primary :global(.rc-slider-handle:active) {
  box-shadow: 0 0 5px var(--primary);
}

.danger :global(.rc-slider-handle:active) {
  box-shadow: 0 0 5px var(--danger);
}

/* This is to remove `left` from the dot for it have correct visual position */
.primary > div > div > span {
  left: 0 !important;
}
