.displayFlex {
  display: flex;
  align-items: center;
}

.domainName {
  margin-right: 18px;
  width: 100%;
}

.noPermissionFromMessage {
  font-size: var(--size-tiny);
  font-weight: var(--weight-bold);
  line-height: 18px;
  color: var(--danger);
}

.noPermissionFromMessage > div {
  vertical-align: bottom;
}
