@value refWidth: 63px;
@value horizontalOffset: 20px;
@value verticalOffset: 19px;

.avatarButton {
  padding: 0;
  border: 0;
  border-radius: 50%;
  background: transparent;
  cursor: pointer;
}

.avatarButton:focus {
  outline: 0;
}

.activeDropdown,
.avatarButton:hover {
  border-color: var(--primary);
  box-shadow: 0px 4px 27px color-mod(var(--temp-grey-8) alpha(25%));
}
