.singleUserContainer label {
  margin-bottom: 15px;
  color: var(--dark);
}

.singleUserContainer > div {
  padding-left: 0;
}

.label {
  display: flex;
  align-items: center;
  padding: 8px 0;
}

.icon {
  margin-right: 4px;
  width: 16px;
}
