.buttonWrappper {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.discard {
  composes: main from '~core/Button/Button.css';
  padding: 0;
  height: auto;
  font-size: var(--size-smallish);
  font-weight: 600;
  color: var(--action-secondary);
}

.changeContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  font-size: var(--size-smallish);
  font-weight: var(--weight-bold);
  line-height: 18px;
  color: var(--dark);
  letter-spacing: var(--spacing-medium);
}

.subheader {
  display: flex;
  justify-content: space-between;
  padding: 6px 0;
  font-size: var(--size-smallish);
  font-weight: var(--weight-bold);
  color: var(--dark);
}

.row {
  display: grid;
  align-items: center;
  padding: 11px 0 12px;
  font-size: var(--size-smallish);
  font-weight: var(--weight-bold);
  line-height: 18px;
  color: color-mod(var(--temp-grey-blue-7) alpha(85%));
  grid-template-columns: 4.5fr 1fr 4.5fr;
}

.arrowIcon {
  height: 16px;
  width: 16px;
  color: color-mod(var(--dark) alpha(65%));
  justify-self: center;
}

.right {
  justify-self: end;
}
