.main {
  padding: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.headerLeft {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.headerRight {
  display: flex;
  align-items: center;
}

.titleContainer {
  margin-left: 20px;
}

.title {
  font-size: var(--size-normal);
  font-weight: var(--weight-semi);
  color: var(--grey-3);
}

.meta {
  font-size: var(--size-small);
  font-weight: var(--weight-semi);
  color: var(--temp-grey-12);
}

.meta > span + span {
  margin-left: 20px;
}

.button {
  margin-left: 20px;
}

.taskDescription {
  margin: 20px 0 30px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.submission {
  overflow: hidden;
  text-overflow: ellipsis;
}
