.container {
  padding: 34px 0 20px 0;
}

.modalHeading {
  margin-bottom: 20px;
}

.modalContent {
  white-space: pre-line;
  color: var(--dark);
}

.modalContent > h5 {
  font-size: var(--size-smallish);
}

.userInfoContainer {
  display: flex;
  align-items: center;
  margin-top: 8px;
  margin-bottom: 4px;
  padding: 18px 15px 20px 15px;
  border-radius: 5px;
  background-color: color-mod(var(--temp-grey-blue-7) alpha(15%));
}

.note {
  margin-bottom: 10px;
  font-size: var(--size-tiny);
  line-height: 18px;
  color: var(--temp-grey-blue-7);
}

.commentContainer {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  padding: 8px 0px;
  border-radius: 5px;
  background-color: color-mod(var(--temp-grey-blue-7) alpha(15%));
}

.commentContainer p {
  margin-top: 2px;
  line-height: 18px;
}

.userNameAndWallet {
  display: flex;
  flex-direction: column;
  margin-left: 12px;
}

.userNameAndWallet span:last-child {
  font-weight: var(--weight-medium);
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.cancelButtonContainer > button {
  margin-right: 10px;
  font-size: var(--size-normal);
  color: color-mod(var(--dark) alpha(65%));
}

.confirmButtonContainer {
  max-width: 100%;
}
