.error {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12px;
  width: 12px;
}

.errorDot {
  display: block;
  height: 9px;
  width: 9px;
  border-radius: 50%;
  background-color: var(--danger);
}
