.container {
  composes: field from '~styles/fields.css';
}

.containerHorizontal {
  display: flex;
  align-items: center;
  position: relative;
}

.textareaWrapper {
  composes: field from '~styles/fields.css';
  position: relative;
  line-height: 0;
}

.main {
  padding: 8px;
  min-height: 80px;
  width: 100%;
  border: 1px solid var(--temp-grey-5);
  border-radius: var(--radius-tiny);
  background-color: var(--colony-white);
  font-size: var(--size-normal);
  line-height: 1.2;
  color: var(--text);
  resize: none;
  outline: none;
  letter-spacing: var(--spacing-normal);
  transition: border-color 0.1s ease-in;

  &:focus {
    border-color: var(--primary);
  }

  &::placeholder {
    font-size: var(--size-normal);
    font-style: italic;
    letter-spacing: var(--spacing-normal);
  }
}

.main[aria-invalid="true"] {
  border-color: var(--danger);
}

.resizableHorizontal {
  resize: horizontal;
}

.resizableVertical {
  resize: vertical;
}

.resizableBoth {
  resize: both;
}

.layoutInline {
  display: inline-block;
  width: auto;
}

.themeFat {
  composes: main;
  padding: 16px;
  font-size: var(--size-medium);

  &::placeholder {
    font-weight: var(--weight-semi);
  }
}

.alignRight {
  text-align: right;
}

.colorSchemaDark {
  border: 1px solid var(--grey-4);
  background-color: var(--temp-grey-2);
  color: var(--temp-grey-0);
  box-shadow: inset 0 5px 5px 0 rgba(0, 0, 0, 0.2);

  &::placeholder {
    color: var(--grey-4);
  }

  & svg {
    fill: var(--grey-4);
    stroke: var(--grey-4);
  }
}

.colorSchemaTransparent {
  border: 1px solid transparent;
  background-color: transparent;
  color: inherit;
  box-shadow: none;

  &:focus {
    border-color: transparent;
  }

  &[aria-invalid="true"] {
    border-color: transparent;
  }
}

.error {
  margin-left: 5px;
  font-size: var(--size-tiny);
  color: var(--danger);
}

.count {
  position: absolute;
  right: 5px;
  bottom: 10px;
  font-size: var(--size-unreadable);
  font-weight: var(--weight-semi);
  color: var(--temp-grey-4);
}

.count.limit {
  color: var(--danger);
}
