@import 'variables.css';

.main {
  composes: stretchVertical stretchHorizontal from '~styles/layout.css';
  background: var(--gradient-default);
}

.backNavigation {
  margin: 20px 0 0 20px;
  font-weight: var(--weight-medium);
}

.backNavigation i {
  vertical-align: middle;
  margin-right: 10px;
}

.headingWrapper {
  padding-left: 50px;
  margin-top: 70px;
}
