@import 'variables.css';

:root {
  --sidebar-width: 350px;
}

.main {
  composes: stretchVertical stretchHorizontal from '~styles/layout.css';
  padding: 10% 80px 10% 80px;
  overflow: auto;
  background: var(--gradient-default);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 125px;
  position: fixed;
  top: 20px;
  left: 20px;
}

.boldLink {
  font-weight: var(--weight-medium);
}

.colonyInfo::before {
  height: 100%;
  position: absolute;
  bottom: 0;
  left: var(--sidebar-width);
  border-right: 1px solid var(--temp-grey-5);
  content: '';
}

.vertical {
  display: flex;
}
