.taskEditContainer {
  max-height: 250px;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 35px;
}

.editor {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.editor > h3 {
  margin-right: 5px;
}

.taskDialog {
  width: 500px;
  border-radius: var(--radius-large);
  background-color: var(--colony-white);
}

.backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
  z-index: var(--z-index-modal-overlay);
  overflow: hidden;
  background-color: white;
}
