@value sidbarWidth: 470px;
@value headerHeight: 45px;

.main {
  display: flex;
  flex-direction: row;
  padding: 0;
  height: 100%;
  width: 100%;
  background: var(--colony-white);
}

.sidebar {
  padding: 11px;
  height: calc(100vh - 70px);
  width: sidbarWidth;
  overflow-y: auto;
  border-right: 1px solid var(--grey-blue-0);
}

.container {
  /*
   * Full Vertical Height minus App Header, minus Task Header
   */
  height: calc(100vh - 70px - 45px);
  width: calc(100% - sidbarWidth);
}

.section {
  margin-bottom: 15px;
  padding: 15px;
  border: 1px solid var(--grey-blue-0);
  border-radius: var(--radius-tiny);
  background-color: var(--grey-blue-3);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 11px;
  height: headerHeight;
  width: 100%;
  border-bottom: 1px solid var(--grey-blue-0);
}

.assignment {
  display: flex;
  justify-content: space-between;
}

.assignmentDetailsButton {
  margin-top: 20px;
}

.headerConfirm {
  background-color: rgba(248, 43, 101, 0.1);
}

.headerAside {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 25px;
}

.editor {
  display: flex;
  flex-direction: row;
  margin: 30px 0;
}

.editor > h5 {
  margin-right: 5px;
}

.activityContainer {
  composes: stretchVertical stretchHorizontal from '~styles/layout.css';
  display: flex;
  flex-direction: column;
}

.activity {
  flex: 1 1 auto;
  position: relative;
}

.commentBox {
  flex: 0 0 auto;
  position: relative;
}

.completedDescription {
  margin-right: 10px;
  font-size: var(--size-small);
}

.trustInfoIcon {
  margin-right: auto;
  margin-left: 15px;
}

.trustInfoIcon > i {
  vertical-align: middle;
}

.trustInfoTooltip {
  max-width: 340px;
}

.trustInfoTooltipHeading {
  margin-bottom: 5px;
  font-weight: 500;
}
