.container {
  display: flex;
  align-items: baseline;
  padding: 9px 0;
  position: relative;
}

.dot {
  margin-right: 14px;
  height: 7px;
  width: 7px;
  min-width: 7px;
  border: 1px solid var(--temp-grey-blue-7);
  border-radius: 50%;
}

.verticalLine {
  height: 60%;
  position: absolute;
  bottom: -7px;
  left: 3px;
  border-left: 1px solid var(--temp-grey-6);
}

.shortLine {
  bottom: -11px;
}

.activeDot {
  border: 1px solid var(--primary);
  background-color: var(--primary);
}

.verticalLineActive {
  border-left: 1px solid var(--primary);
}

.label {
  font-size: var(--size-tiny);
  font-weight: var(--weight-bold);
  color: var(--dark);
}

.labelMedium {
  font-size: var(--size-smallish);
}

.activeLabel {
  color: var(--temp-grey-blue-7);
}

.cancelled {
  border: 1px solid var(--pink);
  background-color: var(--pink);
}

.cancelledLabel {
  color: var(--text-disabled);
}

.description {
  margin-top: 8px;
  font-size: var(--size-tiny);
  font-weight: var(--weight-bold);
  color: var(--temp-grey-blue-7);
  letter-spacing: var(--spacing-medium);
}
