.main {
  color: var(--text);
}

.small {
  composes: main;
  font-size: var(--size-small);
  letter-spacing: 0.25px;
}

.bold {
  composes: main;
  font-weight: var(--weight-bold);
}

.invert {
  composes: main;
  color: var(--text-invert);
}

.primary {
  composes: main;
  color: var(--primary);
}

.alignCenter {
  text-align: center;
}

.alignRight {
  text-align: right;
}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
}

.margin {
  margin-bottom: 20px;
}

.marginDouble {
  margin-bottom: 40px;
}

.label {
  display: block;
  margin-bottom: 6px;
  font-size: var(--size-small);
  font-weight: var(--weight-bold);
  text-align: left;
  line-height: calc(var(--size-small) + 2px);
}

/*
 * Warning! While this is all nice and good, please do note that this
 * works on Chrome based browsers only... which is a drag
 */
.multiLineEllipsis {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 3;

  /* autoprefixer: ignore next */
  -webkit-box-orient: vertical;
}

.inlineEllipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
