@import 'variables.css';

/*
 * This file is only kept as a legacy and for the eventual need for custom typography.
 *
 * Other than that, everything is handled by the local styles inside `Heading` component.
 * (which are composed from here to keep style code repetition to a minimum)
 */

/*
 * Titles
 */

.title {
  font-size: var(--size-medium-l);
  font-weight: var(--weight-semi);
  line-height: 1.5;
  word-break: normal;
  color: var(--text);
}

/*
 * Title sizes
 */

.tiny {
  composes: title;
  font-size: var(--size-tiny);
}

.small {
  composes: title;
  font-size: var(--size-small);
}

.normal {
  composes: title;
  font-size: var(--size-normal);
}

.medium {
  composes: title;
  font-size: var(--size-medium);
}

.medium-l {
  composes: title;
  font-size: var(--size-medium-l);
}

.huge {
  composes: title;
  font-size: var(--size-huge);
  letter-spacing: 1.2px;
}

/*
 * Title weights
 */

.thin {
  composes: title;
  font-weight: var(--weight-normal);
}

/*
 * Title colors
 */

.invert {
  composes: title;
  color: var(--text-invert);
}

.grey {
  composes: title;
  color: var(--temp-grey-4);
}

.primary {
  composes: title;
  color: var(--primary);
}

/*
 * Title Margins (to be removed)
 */

.marginMedium {
  margin-bottom: 20px;
}

/*
 * Subtitles
 */

.subtitle {
  font-size: var(--size-small);
  font-weight: var(--weight-semi);
  line-height: var(--size-normal);
  word-break: normal;
}

/*
 * Misc.
 */

.title + .subtitle {
  margin-top: 2px;
}
