.main {
  display: block;
  margin: 0 -40px 50px 0px;
  padding-top: 15px;
}

.wrapper {
  display: inline-block;
  width: 225px;
  text-align: left;
}

.colonyTitle {
  padding: 0 0 0 4px;
}

.colonyTitle h3 {
  /*
   * @NOTE We can't compose from `inlineEllipsis` here since we're inside an
   * element, not a component :(
   */
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.2;
  white-space: nowrap;
  color: var(--dark);
  letter-spacing: 0px;
  cursor: default;
}

@media screen and (max-width: 768px) {
  .main {
    margin: 0;
    padding: 0px 14px;
    width: 100%;
    text-align: left;
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}
