.main {
  display: block;
  margin: 0 -40px 50px 0px;
  padding-top: 15px;
}

.wrapper {
  display: inline-block;
  width: 225px;
  text-align: left;
}

.colonyTitle {
  padding: 0 0 0 4px;
}

.colonyTitle h3 {
  /*
   * @NOTE We can't compose from `inlineEllipsis` here since we're inside an
   * element, not a component :(
   */
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.2;
  white-space: nowrap;
  color: var(--dark);
  letter-spacing: 0px;
  cursor: default;
}
