@value paddingRightLeft: 54px;
@value paddingBottom: 54px;

.circlePlusIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2px;

  /* a negative margin is used here to align the entire "Add recipient" row to the left */
  margin-left: -8px;
  height: 30px;
  width: 30px;
  fill: var(--action-secondary);
}

.container {
  margin-bottom: 72px;
  padding: 0 paddingRightLeft;
}

.header {
  margin-bottom: 18px;
  font-size: var(--size-smallish);
  font-weight: var(--weight-bold);
  color: color-mod(var(--dark) alpha(85%));
  letter-spacing: var(--spacing-normal);
}

.fundingSourceLabel {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 10px;
  font-size: var(--size-smallish);
  font-weight: var(--weight-bold);
  color: color-mod(var(--dark) alpha(85%));
  letter-spacing: var(--spacing-normal);
}

.labelWithIcon {
  justify-content: space-between;
}

.fundingSourceLabel div {
  height: calc(100% - 80px);
}

.deleteIcon {
  margin-right: 7px;
  height: 20px;
  width: 20px;
  fill: var(--temp-grey-blue-7);
}

.deleteIcon:hover {
  cursor: pointer;
}

.singleFundingSource {
  position: relative;
}

.addFundingSourceLabel {
  display: flex;
  align-items: center;
}

.marginBottomLarge {
  margin-bottom: 48px;
}

.fundingTitle {
  margin-right: auto;
}
