@import 'variables.css';

.main {
  position: relative;
}

.main::before {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: var(--size-normal);
  font-weight: var(--weight-semi);
  color: var(--temp-grey-12);
  content: attr(data-placeholder);
  transform: translate(-50%, -50%);
}

.errorOverlay {
  height: 110px;
  width: 460px;
  position: absolute;
  background-color: var(--pink);
  opacity: 0.1;
}

.errorMessage {
  margin-top: 20px;
  font-weight: var(--weight-medium);
  color: var(--pink);
}

.labelHeader {
  display: flex;
  justify-content: space-between;
}

.heading {
  flex: 1;
  margin-top: 11px;
  margin-bottom: 9px;
  font-weight: var(--weight-semi);
}
