.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 25px 33px 23px 33px;
  height: 100%;
  position: relative;
  border-radius: var(--radius-large);
  background-color: white;
  font-size: var(--size-medium-l);
}

.title {
  align-self: flex-start;
  font-weight: var(--weight-bold);
  color: var(--dark);
}

.title > div {
  position: absolute;
  top: 11px;
  right: 9px;
}

.mainMessage {
  text-align: center;
  white-space: pre-line;
}

.link {
  font-size: var(--size-tiny);
  font-weight: var(--weight-bold);
  color: var(--dark-blue);

  &:hover {
    text-decoration: underline;
    color: var(--dark-blue);
  }
}

.accountStatus {
  font-size: var(--size-smallish);
  font-weight: var(--weight-bold);
  color: var(--primary);
}

.accountStatus > span {
  margin-bottom: 6px;
}
