.main h4 {
  font-size: var(--size-smallish);
  color: var(--dark);
  letter-spacing: var(--spacing-medium);
}

.main a h4:hover, .main a h4:active {
  text-decoration: underline;
  color: var(--colony-blue);
}

.tokenBalance {
  display: inline-block;
  cursor: pointer;
}
