.main h4 {
  font-size: var(--size-smallish);
  color: var(--dark);
  letter-spacing: var(--spacing-medium);
}

.fundingButton {
  margin-left: 30px;
}

.tokenBalance {
  display: inline-block;
  cursor: pointer;
}
