.main {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.main:focus {
  outline: none;
}

.busy {
  display: inline-block;
  margin: 1px 15px 0 0;
  vertical-align: top;
  font-size: var(--size-small);
  font-weight: var(--weight-medium);
  color: var(--grey-4);
}
