.main {
  display: block;
  cursor: pointer;
}

.delegate {
  height: 16px;
  width: 16px;
  position: absolute;
  opacity: 0;
}

.checkbox {
  display: inline-block;
  flex: 0 0 auto;
  margin: 0 5px 0 3px; /* left margin to fix box-shadow on focus in overflow situations */
  height: 18px;
  width: 18px;
  position: relative;
  border: 1px solid rgba(200, 214, 245, 1);
  border-radius: 2px;
  background-color: rgba(249, 250, 250, 1);
  box-shadow: inset 0px 2px 4px rgba(14, 37, 88, 0.07);
  outline-width: 2px;
  outline-color: color-mod(var(--temp-grey-blue-4) alpha(25%));
  outline-style: solid;
  box-sizing: border-box;
}

.stateIsChecked .checkbox {
  border: 1px solid var(--primary);
  outline-color: color-mod(var(--primary) alpha(25%));
}

.checkmark {
  display: inline-block;
  height: 80%;
  width: 80%;
  position: absolute;
  top: -20%;
  transform: rotate(45deg);
}

/* Theme */

.themeDark .checkbox {
  background-color: var(--temp-grey-2);
}

.themePink:not(.stateIsChecked) .checkbox {
  border: 1px solid var(--temp-grey-blue-9);
  box-shadow: 0 0 0 3px  color-mod(var(--temp-grey-blue-9) alpha(25%));
}

.themePink.delegate.not(:focus) + .checkbox {
  box-shadow: 0 0 0 3px color-mod(var(--temp-grey-blue-9) alpha(25%));
}

.themePink.stateIsChecked .checkbox {
  border: 1px solid var(--pink);
  box-shadow: 0 0 0 3px color-mod(var(--pink) alpha(25%));
}

.themePink.delegate:focus + .checkbox {
  box-shadow: 0 0 0 3px color-mod(var(--pink) alpha(25%));
}

/* Direction */

.directionHorizontal {
  display: inline-block;
}

.directionVertical {
  display: block;
}

/* State */

.stateIsChecked .checkbox .checkmark::before {
  height: 80%;
  width: 1px;
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: var(--primary);
  content: '';
}

.stateIsChecked .checkbox .checkmark::after {
  height: 1px;
  width: 40%;
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: var(--primary);
  content: '';
}

.themePink.stateIsChecked .checkbox .checkmark::before {
  background-color: var(--pink);
}

.themePink.stateIsChecked .checkbox .checkmark::after {
  background-color: var(--pink);
}

.stateDisabled {
  cursor: default;
}

.stateDisabled .checkbox {
  border-color: transparent;
  background-color: var(--text-disabled);
  outline-color: color-mod(var(--text-disabled) alpha(25%));
}

.stateDisabled .checkbox .checkmark::before,
.stateDisabled .checkbox .checkmark::after {
  background-color: var(--grey-5);
}

.delegate:focus + .checkbox,
.checkbox:hover {
  border: 1px solid var(--action-secondary);
  outline-color: color-mod(var(--action-secondary) alpha(25%));
}

.delegate:focus + .checkbox .checkmark::before {
  background-color: var(--action-secondary);
}

.delegate:focus + .checkbox .checkmark::after {
  background-color: var(--action-secondary);
}

.checkbox:hover .checkmark::before {
  background-color: var(--action-secondary);
}

.checkbox:hover .checkmark::after {
  background-color: var(--action-secondary);
}
