@import 'variables.css';

.main {
  display: block;
}

.delegate {
  height: 16px;
  width: 16px;
  position: absolute;
  visibility: hidden;
}

.checkbox {
  display: inline-block;
  flex: 0 0 auto;
  margin-right: 5px;
  height: 18px;
  width: 18px;
  position: relative;
  border: 1px solid var(--primary);
  border-radius: 2px;
  background-color: var(--colony-white);
}

.checkmark {
  display: inline-block;
  height: 80%;
  width: 80%;
  position: absolute;
  top: -20%;
  transform: rotate(45deg);
}

.checkbox[aria-checked="true"] .checkmark::before {
  height: 80%;
  width: 2px;
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: var(--primary);
  content: '';
}

.checkbox[aria-checked="true"] .checkmark::after {
  height: 2px;
  width: 40%;
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: var(--primary);
  content: '';
}

/* Theme */

.themeDark .checkbox {
  background-color: var(--temp-grey-2);
}

/* Direction */

.directionHorizontal {
  display: inline-block;
}

.directionVertical {
  display: block;
}
