.main {
  /**
   * @NOTE Negative margins
   * @BODY Since we need to break out of the wrapper component so we can show
   * the border line spawning from one side to the other
   */
  margin: 10px -10px 0 -10px;
}

.content {
  padding: 22px 0px 14px 18px;
  border-top: 1px solid var(--grey-blue-1);
}

.text {
  display: inline-block;
  margin: 4px 0 0 10px;
  vertical-align: top;
  font-size: var(--size-tiny);
  font-weight: var(--weight-bold);
}
