.title {
  padding-top: 30px;
  font-size: var(--size-medium-l);
  font-weight: var(--weight-bold);
  line-height: 24px;
  color: var(--dark);

  /* margin-bottom: 18px; */
}

.agreementContainer {
  padding: 10px;
  height: 271px;
  overflow-y: auto;
  border: 1px solid var(--temp-grey-blue-4);
  border-radius: var(--radius-tiny);
  font-size: var(--size-normal);
  white-space: pre-line;
  color: var(--dark);
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.07);
}

.error {
  color: var(--danger);
}

.description {
  margin-top: 30px;
  color: var(--dark);
}

.readCarefullyText {
  margin-bottom: 6px;
  color: var(--temp-grey-blue-7);
}

.agreeToTermsText {
  margin-top: 10px;
  width: 100%;
  font-weight: var(--weight-bold);
  text-align: right;
  color: var(--dark);
}
