@value query700 from "~styles/queries.css";

.content {
  margin: 0 auto;
  width: 340px;
  position: relative;
}

.title {
  margin-top: 120px;
  margin-bottom: 50px;
  font-weight: var(--weight-bold);
}

.titleSimplified {
  composes: title;
  margin-top: 0;
}

.subtitle {
  margin-bottom: 50px;
  font-size: 14px;
}

.tosSimplified {
  margin-top: 30px;
  font-size: 14px;
  text-align: center;
}

.autoLoginOverlay {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: calc(0px - var(--pad-large));
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--radius-normal);
  background-color: color-mod(var(--grey-5) alpha(60%));
  box-shadow: 0 0 12px color-mod(var(--grey-5) alpha(60%));
}

.autoLoginSpinner {
  padding: var(--pad-medium);
  border-radius: var(--radius-normal);
  background-color: var(--colony-white);
}

@media screen and query700 {
  .content {
    width: 100%;
    max-width: 340px;
  }

  .title {
    text-align: center;
  }
}
