.content {
  width: 340px;
}

.title {
  margin-top: 120px;
  margin-bottom: 50px;
  font-weight: var(--weight-medium);
}

.subtitle {
  margin-bottom: 50px;
  font-size: 14px;
}

.createWalletLink {
  margin-top: 64px;
}

.createWalletLink > a {
  border: none;
  border-bottom: 1px solid rgb(0, 0, 0, 0);
}
