.main {
  display: flex;
  align-items: flex-end;
  line-height: 23px;
}

.themeBig {
  display: flex;
  align-items: flex-end;
  font-size: var(--size-medium-l);
  letter-spacing: 1px;
}

canvas {
  margin-right: 10px;
}
