.main {
  /* add main styles here */
  display: flex;
}

.copyButton {
  margin-left: 5px;
}

.themeBig {
  display: flex;
  font-size: var(--size-medium-l);
  letter-spacing: 1px;
}

.addressContainer {
  font-family: var(--family-techie);
}

.address {
  margin: 0 5px;
}

.boldAddress {
  font-weight: var(--weight-medium);
}
