:root {
  --choicePaddingHorizontal: 30px;
  --choicePaddingVertical: 5px;
}

.choiceCell {
  font-weight: var(--weight-medium);
}

.choiceInputContainer {
  padding: var(--choicePaddingVertical) calc(var(--choicePaddingHorizontal) / 2) var(--choicePaddingVertical) 0;
}

.choiceBalanceContainer {
  composes: choiceCell;
  padding: var(--choicePaddingVertical) 0 var(--choicePaddingVertical) var(--choicePaddingHorizontal);
}

.addressSpacer {
  margin-left: 15px;
}

.highlight {
  background-color: var(--primary);
}
