/* sadly it was necessary to use `!important` to override values from Toastify */
:root {
  --toastify-color-success: var(--primary) !important;
  --toastify-color-error: var(--danger) !important;
  --toastify-toast-width: 400px !important;
}

:global(.Toastify__toast-icon) {
  padding-right: 14px;
  margin-inline-end: 0px !important;
  -webkit-margin-end: 0px !important;
}

.toastifyToast {
  display: flex;
  align-items: center;
  height: 50px;
  font-family: "Avenir Next", sans-serif !important;
  font-weight: 600;
  color: var(--dark);
}

.toastifyToastContainerBottomLeft {
  composes: toastifyToast;
  bottom: 5em;
  border-radius: 4px;
}

.toastSuccess {
  box-shadow: var(--box-shadow-normal-primary) !important;
}

.toastError {
  box-shadow: var(--box-shadow-normal-danger) !important;
}

.closeIcon {
  display: flex;
  height: 26px;
  width: 26px;
}

.dot {
  height: 10px;
  min-width: 10px;
  position: relative;
  border-radius: 50%;
}

.successDot {
  composes: dot;
  background-color: var(--toastify-color-success);
}

.errorDot {
  composes: dot;
  background-color: var(--toastify-color-error);
}
