.singleUserPickerContainer i {
  left: 417px;
}

.singleUserPickerContainer input,
.singleUserPickerContainer button {
  max-width: 424px;
}

.singleUserPickerContainer > div {
  padding-left: 0;
}

.singleUserPickerContainer label {
  color: var(--dark);
}
