@value wideButton: 160px;

.modalHeading {
  padding: 32px 0 20px;
  width: 100%;
}

.headingContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.noPermissionMessage {
  margin-bottom: 20px;
  font-size: var(--size-tiny);
  font-weight: var(--weight-bold);
  line-height: 18px;
  color: var(--danger);
}

.noPermissionMessage > div {
  vertical-align: bottom;
}

.note {
  margin: 20px 0;
  font-size: var(--size-smallish);
  font-weight: var(--weight-bold);
  color: var(--danger);
}

.learnMoreLink {
  margin-left: 4px;
}

.unlocked {
  margin-bottom: 20px;
}

.wrapper {
  margin-bottom: 20px;
}

.motionVoteDomain {
  margin: 6px 0;
}
