.content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
}

.synaps iframe {
  min-height: 400px;
}

.synaps {
  min-height: 400px;
}

.verified {
  font-size: var(--size-normal);
  color: var(--dark);
}
