.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 730px;
}

.content > div > div {
  margin-bottom: 30px;
}

.synaps {
  min-height: 690px;
  width: 100%;
}

.synaps iframe {
  min-height: 690px;
}

.verified {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--size-smallish);
  font-weight: var(--weight-bold);
  color: var(--dark);
}

.verified i {
  margin-bottom: 20px;
  height: 36px;
  width: 36px;
}

.verified svg {
  fill: none;
  stroke: none;
}

.emailContent {
  padding: 40px 20px 80px;
}

.emailContent input::placeholder {
  font-weight: var(--weight-normal);
}

.emailDescription {
  margin-bottom: 40px;
}

.emailNote {
  margin-top: 10px;
  font-size: var(--size-tiny);
  font-weight: var(--weight-bold);
}

.modalHeading {
  padding: 32px 0 20px;
}
