@value paddingHorizontal: 90px;
@value query700 from '~styles/queries.css';

.main {
  display: flex;
  justify-content: center;
  height: 100%;
}

.header {
  display: flex;
  justify-content: flex-end;
  margin: 10px 10px 0 0;
}

.mainContainer {
  height: 100%;
  width: 100%;
  max-width: 940px;
}

.mainContent {
  display: flex;
  justify-content: center;
  padding: 20px paddingHorizontal;
  height: 100%;
}

.themeAlt {
  composes: main;
  background-color: var(--grey-blue-2);
}

.themeAlt .mainContent {
  padding: 80px paddingHorizontal;
}

@media screen and query700 {
  .mainContainer {
    background-color: white;
  }
}
