@value paddingHorizontal: 90px;

.main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  display: flex;
  justify-content: flex-end;
  margin: 10px 10px 0 0;
}

.mainContainer {
  height: 100%;
}

.mainContent {
  display: flex;
  justify-content: center;
  padding: 20px paddingHorizontal;
  height: 100%;
}

.themeAlt {
  composes: main;
  background-color: var(--grey-blue-2);
}

.themeAlt .mainContent {
  padding: 80px paddingHorizontal;
}
