:root {
  --padding-horizontal: 90px;
  --sidebar-width: 420px;
}

.main {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.sidebar {
  padding: 80px var(--padding-horizontal);
  height: 100%;
  width: var(--sidebar-width);
  position: fixed;
  overflow: auto;
  background: var(--gradient-default);
}

.header {
  display: flex;
  justify-content: flex-end;
  margin: 10px 10px 0 0;
}

.mainContainer {
  margin-left: var(--sidebar-width);
  width: 100%;
  overflow: auto;
}

.mainContent {
  padding: 20px var(--padding-horizontal);
  height: 100%;
  max-width: 930px;
}

.themeAlt {
  composes: main;
  background: var(--gradient-default);
}

.themeAlt .sidebar {
  border-right: 2px solid var(--grey-blue-0);
  background: none;
}

.themeAlt .mainContent {
  padding: 80px var(--padding-horizontal);
}
