@value paddingHorizontal: 60px;
@value sidebarWidth: 340px;

.main {
  display: flex;
  flex-direction: row;
}

.sidebar {
  display: flex;
  flex-shrink: 0;
  padding: 80px 50px;
  height: 100vh;
  width: sidebarWidth;
}

.header {
  display: flex;
  justify-content: flex-end;
  margin: 10px 10px 0 0;
}

.mainContainer {
  width: 100%;
  background-color: var(--colony-white);
}

.mainContent {
  padding: 80px paddingHorizontal;
  height: 100%;
  max-width: 930px;
}

.themeAlt {
  composes: main;
  background: var(--gradient-default);

  & .sidebar {
    background: none;
  }

  & .mainContainer {
    border-left: 2px solid var(--grey-blue-0);
    background-color: transparent;
  }
}
