@value paddingHorizontal: 90px;
@value sidebarWidth: 420px;

.main {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.sidebar {
  padding: 80px paddingHorizontal;
  height: 100%;
  width: sidebarWidth;
  position: fixed;
  overflow: auto;
  background: var(--gradient-default);
}

.header {
  display: flex;
  justify-content: flex-end;
  margin: 10px 10px 0 0;
}

.mainContainer {
  margin-left: sidebarWidth;
  width: 100%;
  overflow: auto;
}

.mainContent {
  padding: 20px paddingHorizontal;
  height: 100%;
  max-width: 930px;
}

.themeAlt {
  composes: main;
  background: var(--gradient-default);
}

.themeAlt .sidebar {
  border-right: 2px solid var(--grey-blue-0);
  background: none;
}

.themeAlt .mainContent {
  padding: 80px paddingHorizontal;
}
