{
  "env": {
    "test": {
      "presets": ["@babel/preset-env", "@babel/preset-typescript", "@babel/preset-react"],
      "plugins": [
         "@babel/plugin-transform-typescript",
         "@babel/plugin-proposal-class-properties",
         "@babel/plugin-syntax-dynamic-import",
         "@babel/plugin-transform-runtime"
        ],
      },
    "development": {
      "presets": ["@babel/preset-env", "@babel/preset-typescript", "@babel/preset-react"],
      "plugins": [
         "@babel/plugin-transform-typescript",
         "@babel/plugin-proposal-class-properties",
         "@babel/plugin-syntax-dynamic-import",
         "@babel/plugin-transform-runtime",
         ["react-intl", {
           "messagesDir": "./dist/i18n",
           "enforceDescriptions": false
          }]
        ],
       },
    "production": {
      "presets": ["@babel/preset-env", "@babel/preset-typescript", "@babel/preset-react"],
      "plugins": [
        "react-remove-properties",
        "@babel/plugin-transform-typescript",
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-syntax-dynamic-import",
        "@babel/plugin-transform-runtime",
        ["react-intl", {
          "messagesDir": "./dist/i18n",
          "enforceDescriptions": false
         }]
       ]
    }
  }
}
