{
    "env": {
        "browser": true,
        "commonjs": true,
        "es6": true
    },
    "extends": [
        "@colony/eslint-config-colony",
        "plugin:flowtype/recommended",
        "eslint-config-airbnb/rules/react",
        "eslint-config-airbnb/rules/react-a11y"
    ],
    "overrides": [
        {
            "files":  "**/__tests__/*.js",
            "rules": {
                "flowtype/require-valid-file-annotation": "off"
            }
        }
    ],
    "rules": {
        "jsx-a11y/label-has-for": 0,
        "flowtype/space-after-type-colon": 0,
        "flowtype/require-valid-file-annotation": [1, "always"],
        "import/extensions": [2, {
            "js": "never",
            "jsx": "always",
            "json": "always"
        }],
        "import/no-extraneous-dependencies": [
            2,
            { "devDependencies": ["**/*.test.js", "./src/__tests__/*.js", "./src/__mocks__/*.js", "./*.js"] }
        ],
        "no-console": "warn",
        "react/jsx-filename-extension": [1, { "extensions": [".test.js", ".jsx"] }],
        "react/require-default-props": 0,
        "react/sort-comp": [2, {
            "order": [
                "type-annotations",
                "static-methods",
                "lifecycle",
                "everything-else",
                "render"
            ]
        }],
        "react/jsx-one-expression-per-line": 0
    },
    "settings": {
        "import/resolver": {
            "jest": {
              "jestConfigFile": "./jest.conf.json"
            },
            "webpack": {
              "config": "./webpack.config.js"
            }
        }
    }
}
