[submodule "src/lib/colonyNetwork"]
	path = src/lib/colonyNetwork
	url = https://github.com/JoinColony/colonyNetwork.git
	branch = maint/the-graph-events-onetxpayment
[submodule "src/lib/colonyServer"]
	path = src/lib/colonyServer
	url = https://github.com/JoinColony/colonyServer.git
[submodule "src/lib/subgraph"]
	path = src/lib/subgraph
	url = git@github.com:JoinColony/subgraph.git
	ignore = dirty
[submodule "src/lib/graph-node"]
	path = src/lib/graph-node
	url = git@github.com:graphprotocol/graph-node.git
	ignore = dirty
