[submodule "src/lib/colonyNetwork"]
	path = src/lib/colonyNetwork
	url = https://github.com/JoinColony/colonyNetwork.git
	branch = develop
[submodule "src/lib/colonyServer"]
	path = src/lib/colonyServer
	url = https://github.com/JoinColony/colonyServer.git
[submodule "src/lib/mock-reputation-miner"]
	path = src/lib/mock-reputation-miner
	url = git@github.com:JoinColony/mock-reputation-miner.git
