[submodule "src/lib/colony-js"]
	path = src/lib/colony-js
	url = git@github.com:JoinColony/colony-js.git
[submodule "src/lib/colony-wallet"]
	path = src/lib/colony-wallet
	url = git@github.com:JoinColony/colony-wallet.git
