.main {
  display: grid;
  grid-template-columns: minmax(700px, auto) 180px;
  column-gap: 80px;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: 1px solid var(--temp-grey-5);
}

.tableWrapper {
  margin-top: 35px;
}

.sidebar {
  margin-top: 80px;
}

.sidebar li {
  padding: 10px 0;
}

.main table .tableBody {
  overflow-y: auto;
  overflow-x: none;
}

.main table .tableBody tr {
  overflow-x: auto;
}
