.title {
  font-size: var(--size-medium-l);
  font-weight: var(--weight-bold);
  line-height: 24px;
  color: var(--dark);
}

.noPermissionMessage {
  margin-bottom: 20px;
  font-size: var(--size-tiny);
  font-weight: var(--weight-bold);
  line-height: 18px;
  color: var(--danger);
}

.noPermissionMessage > div {
  vertical-align: bottom;
}

.contractVersionLine {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  padding: 15px 80px;
  font-size: var(--size-smallish);
  font-weight: var(--weight-bold);
}

.contractVersionNumber {
  color: var(--dark);
}

.divider {
  margin: 0 80px;
  background-color: color-mod(var(--temp-grey-blue-7) alpha(15%));
}
