.main {
  display: flex;
  align-items: center;
  padding: 12px 16px 12px 0;
  height: 64px;
  width: 100%;
  border: none;
  border-top: 1px solid var(--grey-blue-0);
  background: none;
  text-align: left;
  cursor: pointer;

  &:only-of-type {
    border-bottom-color: transparent;
  }

  &:last-of-type:not(.themeAlt) {
    border-bottom: 1px solid var(--grey-blue-0);
  }
}

.stateDisabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.themeAlt {
  composes: main;
  border: none;
  background-color: white;
}

.rowContent {
  flex: 1;
}

.rowIcon {
  width: 50px;
  text-align: center;
}

.tooltip {
  max-width: 270px;
}
