@import 'variables.css';

.row {
  display: flex;
  padding-right: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  height: 64px;
  border-bottom: 1px solid var(--grey-blue-0);
}

.rowContent {
  flex: 6;
}

.rowIcon {
  flex: 1;
  padding-left: 16px;
}
