.content {
  composes: marginBottomMedium from '~styles/layout.css';
  margin-top: 180px;
}

.actions {
  composes: alignRight from '~styles/text.css';
}

.uploadArea {
  composes: marginBottomLarge from '~styles/layout.css';
}
