.layoutMain {
  composes: stretchVertical stretchHorizontal from '~styles/layout.css';
  display: grid;
  padding: 170px 15% 60px;
  grid-template-columns: auto 220px;
  grid-template-rows: auto;
  column-gap: 140px;
}

.content {
  align-self: start;
  height: 100%;
  grid-column: 1;
  grid-row: 1;
}

.selectWrapper {
  display: inline-block;
  margin: 20px 0 6px;
  width: 105px;
  float: right;
}

.sidebar {
  grid-column: 2;
  grid-row: 1;
}

.sectionTitle {
  padding: 0 0 14px 7px;
  border-bottom: 1px solid var(--temp-grey-6);
}
