.layoutMain {
  composes: stretchVertical stretchHorizontal from '~styles/layout.css';
  display: grid;
  padding: 170px 15% 60px;
  grid-template-columns: auto 180px;
  grid-template-rows: auto;
  column-gap: 80px;
}

.content {
  align-self: start;
  height: 100%;
  grid-column: 1;
  grid-row: 1;
}

.selectWrapper {
  display: inline-block;
  margin-top: 26px;
  width: 105px;
  float: right;
}

.sidebar {
  grid-column: 2;
  grid-row: 1;
}

.helpText {
  margin-top: 65px;
}
