.layoutMain {
  composes: stretchVertical stretchHorizontal from '~styles/layout.css';
  display: grid;
  padding: 60px 15%;
  overflow: auto;
  grid-template-columns: auto 180px;
  grid-template-rows: auto;
  column-gap: 80px;
}

.content {
  align-self: start;
  height: 100%;
  grid-column: 1;
  grid-row: 1;
}

.sidebar {
  grid-column: 2;
  grid-row: 1;
}

.helpText {
  margin-top: 65px;
}
