.main {
  margin-bottom: 20px;
}

.taskDetails {
  flex-wrap: wrap;
  width: calc(100% - 74px);
}

.callToAction {
  composes: taskDetailsTitle from '../TaskList/TaskListItem.css';
  margin: 0;
  padding: 37px 25px;
  width: 100%;
  overflow: hidden;
  border: none;
  background-color: transparent;
  font-size: var(--size-small);
  font-weight: var(--weight-semi);
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  outline: none;
}
