.main {
  margin-bottom: 20px;
}

.clickableRow {
  cursor: pointer;
}

.taskDetails {
  padding-left: 22px;
  width: 100%;
  vertical-align: middle;
  overflow: hidden;
  border: none;
  background-color: transparent;
  font-size: var(--size-small);
  font-weight: var(--weight-bold);
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--colony-black);
}
