.emptyText {
  margin-top: 32px;
  font-size: var(--size-normal);
  line-height: 18px;
}

.coloniesContainer {
  margin-top: 40px;
}

.filter {
  display: flex;
  justify-content: flex-end;
}

.taskList {
  display: flex;
  min-height: 88px;
  max-height: calc(100vh - 450px);
}
