@value paddingRightLeft: 54px;

.circlePlusIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2px;

  /* a negative margin is used here to align the entire "Add recipient" row to the left */
  margin-left: -8px;
  height: 30px;
  width: 30px;
  fill: var(--action-secondary);
}

.container {
  padding: 0 paddingRightLeft;
}

.header {
  margin-bottom: 18px;
  font-size: var(--size-smallish);
  font-weight: var(--weight-bold);
  color: color-mod(var(--dark) alpha(85%));
  letter-spacing: var(--spacing-normal);
}

.fundingSourceLabel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  font-size: var(--size-smallish);
  font-weight: var(--weight-bold);
  color: color-mod(var(--dark) alpha(85%));
  letter-spacing: var(--spacing-normal);
}

.fundingSourceLabel div {
  height: 68%;
}

.deleteIcon {
  height: 20px;
  width: 20px;
  fill: var(--temp-grey-blue-7);
}

.singleFundingSource {
  position: relative;
}

.addFundingSourceLabel {
  display: flex;
  align-items: center;
}
