.main {
  display: flex;
  align-items: center;
  max-width: 100%;
}

.textContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 12px;
  width: 100%;
  overflow: hidden;
}

.textContainer > div {
  max-width: 100%;
}

.address {
  composes: inlineEllipsis from '~styles/text.css';
  font-size: var(--size-smallish);
  font-weight: var(--weight-bold);
  line-height: 1;
  color: var(--temp-grey-blue-7);
  cursor: pointer;
}

.username {
  composes: inlineEllipsis from '~styles/text.css';
  margin-top: -3px;
  font-size: var(--size-normal);
  font-weight: var(--weight-bold);
  color: var(--pink);
}
