@import 'variables.css';

.main {
  padding: 0 30px 0 15px;
  height: 32px;
  overflow: hidden;
  font-weight: var(--weight-semi);
  text-overflow: ellipsis;
  line-height: 32px;
  white-space: nowrap;
  color: var(--grey-1);
  cursor: pointer;

  &[aria-selected="true"] {
    background-color: var(--grey-blue-0);
    outline: none;
  }

  &[aria-checked="true"] {
    color: var(--primary);
    pointer-events: none;
  }
}

.checkedMsg {
  display: inline-block;
  margin-left: 5px;
  font-size: var(--size-small);
  line-height: 1;
}

.selectedHelpText {
  padding-left: 5px;
  font-weight: var(--weight-thin);
}
