.main {
  margin-top: 16px;
}

.main h4 {
  font-size: var(--size-smallish);
  color: var(--dark);
  letter-spacing: var(--spacing-medium);
}

.safeItem {
  margin-bottom: 3px;
  font-size: var(--size-normal);
  line-height: 18px;
  color: var(--dark);
}

.safeItem:last-child {
  margin-bottom: 0;
}
