.dialogContainer h3 {
  /*
   * @NOTE We can't compose from `inlineEllipsis` here since we're inside an
   * element, not a component :(
   */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.singleUserContainer {
  margin-top: 20px;
  margin-bottom: 48px;
}

.singleUserContainer label {
  margin-bottom: 15px;
  color: var(--dark);
}

.singleUserContainer > div {
  padding-left: 0;
}

.domainSelectContainer {
  margin-bottom: 25px;
}

.domainSelectContainer label {
  color: var(--dark);
}

.permissionChoiceContainer {
  margin-bottom: 50px;
  border-top: 1px solid color-mod(var(--grey-2) alpha(15%));
}

.dialogFooterSection {
  text-align: right;
}
