.button {
  padding: 0;
  padding-right: 9px;
  width: 320px;
  position: absolute;
  right: 25px;
  bottom: 16px;
  border: none;
  background-color: transparent;
  font-size: var(--size-tiny);
  font-weight: var(--weight-bold);
  text-align: right;
  color: color-mod(var(--temp-grey-blue-7) alpha(85%));
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.heart {
  color: rgb(221, 46, 68);
}
