@value wideButton: 160px;

.title {
  font-size: var(--size-medium-l);
  font-weight: var(--weight-bold);
  line-height: 24px;
  color: var(--dark);
}

/* The span is inserted by the Tooltipped component */
.permissionLabel > span > div {
  vertical-align: bottom;
}

.noPermissionMessage {
  composes: permissionLabel;
  margin-bottom: 20px;
  font-size: var(--size-tiny);
  font-weight: var(--weight-bold);
  line-height: 18px;
  color: var(--danger);
}

.leavingRecoveryMessage {
  composes: permissionLabel;
  padding-bottom: 20px;
}
