@import 'variables.css';

.main {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  height: var(--ui-toaster-height);
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--colony-blue);
  pointer-events: all;
}

.content {
  display: flex;
  flex: 1 1 100%;
  justify-content: center;
  align-items: center;
  padding: var(--pad-small);
  font-weight: var(--weight-medium);
  color: var(--text-invert);
}

.control {
  display: flex;
  flex-basis: var(--ui-toaster-height);
  justify-content: center;
  align-items: center;
  color: var(--text-invert);
}

.component {
  display: flex;
  justify-content: center;
  align-items: center;
}

.component > * {
  margin-left: var(--pad-tiny);
}
