@import 'variables.css';

.main {
  display: grid;
  grid-template-columns: minmax(800px, auto) 180px;
  column-gap: 80px;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: 1px solid var(--temp-grey-5);
}

.tokenCardContainer {
  margin: 30px 0;
}

.sidebar {
  margin-top: 80px;
}

.sidebar li {
  padding: 10px 0;
}
