@value tabListContainerHeight: 36px;

.container {
  display: flex;
  align-items: center;
  height: tabListContainerHeight;
  position: relative;
}

.container::before {
  width: 100%;
  position: absolute;
  bottom: 0;
  border-top: 1px solid var(--temp-grey-5);
  content: '';
}

.main {
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
  align-items: center;
}
