
.baseStyles {
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 0.8rem;
}

.themePrimary {
  composes: baseStyles;
  background-color: var(--primary);
  color: var(--colony-white);
}

.themeLight {
  composes: baseStyles;
  background-color: var(--grey-blue-1);
}

.main {
  composes: themeLight;
}
