@value sidebarWidth: 449px;
@value navBarHeight: 70px;

.main {
  display: flex;
  justify-content: center;
  height: 100%;
}

.titleCommentsContainer {
  min-width: 458px;
}

.sidebar {
  height: 600px;
  min-height: calc(100vh - navBarHeight);
  width: sidebarWidth;
  overflow-y: auto;
  background-color: var(--grey-blue-3);
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.spinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.mainContainer {
  padding: 52px 100px 70px 25px;
  height: 600px;
  min-height: 100%;
  min-height: calc(100vh - navBarHeight);
  width: calc(100% - sidebarWidth);
  overflow-y: auto;
  background-color: var(--colony-white);
}

.mainContent {
  display: flex;
  justify-content: space-between;
  min-height: calc(100vh - navBarHeight);
}

.smallerPadding {
  padding: 36px 100px 80px 25px;
}
