.contentContainer {
  display: flex;
  flex-direction: column;
  padding-top: 70px; /* pad space for transparent navbar */
  width: 100%;
  max-width: 940px;
}

.inboxContainer {
  flex: 0 1;
  height: 525px;
}

.inboxHeading {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
