.contentContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 940px;
}

.inboxContainer {
  flex: 0 1 auto;
  height: 525px;
  box-shadow: 0 3px 0 0 var(--temp-grey-blue-4);
}

.inboxHeading {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
