.contentContainer {
  display: flex;
  flex-direction: column;
  padding-top: 70px; /* pad space for transparent navbar */
  width: 100%;
  max-width: 940px;
}

.inboxContainer {
  flex: 0 1;
  height: 525px;
}

.inboxContainer tbody {
  overflow-y: hidden;
}

.inboxHeading {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.loadingText {
  display: flex;
  align-items: flex-end;
  margin-top: 10px;
  font-size: var(--size-normal);
  font-weight: var(--weight-semi);
  line-height: 1em;
}
