.transactionsEmpty {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 500px;
  border: 1px solid var(--grey-blue-1);
  border-radius: var(--radius-normal);
  background-color: white;
  text-align: center;
  box-shadow: 0 0 20px -2px var(--temp-grey-blue-4);
}

.transactionsEmptyContent {
  margin-bottom: var(--pad-huge);
  width: 60%;
  max-width: 420px;
}

.transactionsEmptyTitle {
  margin-bottom: var(--pad-medium);
  font-size: var(--size-medium-l);
}
