.container {
  margin-top: 30px;
  border-radius: var(--radius-normal);
  background: rgba(253, 253, 253);
}

.container > section > div {
  background: rgba(249, 250, 250);
}

.title {
  padding-top: 30px;
  font-size: var(--size-medium-l);
  font-weight: var(--weight-bold);
  line-height: 24px;
  color: var(--dark);
}
