.baseStyles {
  padding: 1px 8px 2px;
  border-radius: var(--radius-large);
  font-size: 0.8rem;
  font-weight: var(--weight-bold);
  color: var(--colony-white);
}

.baseStyles + .baseStyles {
  margin-left: 10px;
}

.themePrimary {
  composes: baseStyles;
  background-color: var(--primary);
}

.themeLight {
  composes: baseStyles;
  background-color: var(--grey-blue-1);
  color: var(--grey-dark);
}

.themeGolden {
  composes: baseStyles;
  background-color: var(--golden);
}

.themeDanger {
  composes: baseStyles;
  background-color: var(--danger);
}

.themePink {
  composes: baseStyles;
  background-color: var(--pink);
}

.themeBlue {
  composes: baseStyles;
  background-color: var(--action-secondary);
}

.themePrimary.colorSchemaInverted {
  border: 1px solid var(--primary);
  background-color: transparent;
  color: var(--primary);
}

.themePrimary.colorSchemaPlain {
  border: none;
  background-color: var(--temp-grey-blue-8);
  color: var(--primary);
}

.themeGolden.colorSchemaInverted {
  border: 1px solid var(--golden);
  background-color: transparent;
  color: var(--golden);
}

.themeGolden.colorSchemaPlain {
  border: none;
  background-color: var(--temp-grey-blue-8);
  color: var(--golden);
}

.themePink.colorSchemaInverted {
  border: 1px solid var(--pink);
  background-color: transparent;
  color: var(--pink);
}

.themePink.colorSchemaPlain {
  border: none;
  background-color: var(--temp-grey-blue-8);
  color: var(--pink);
}

.themeBlue.colorSchemaInverted {
  border: 1px solid var(--action-secondary);
  background-color: transparent;
  color: var(--action-secondary);
}

.themeBlue.colorSchemaPlain {
  border: none;
  background-color: var(--temp-grey-blue-8);
  color: var(--action-secondary);
}

.themeDanger.colorSchemaInverted {
  border: 1px solid var(--danger);
  background-color: transparent;
  color: var(--danger);
}

.themeDanger.colorSchemaPlain {
  border: none;
  background-color: var(--temp-grey-blue-8);
  color: var(--danger);
}

.fontSizeTiny {
  font-size: 9px;
}

.main {
  composes: themeLight;
}
