.baseStyles {
  display: inline-block;
  padding: 1px 8px 2px;
  border-radius: var(--radius-large);
  font-size: 0.8rem;
  font-weight: var(--weight-bold);
  color: var(--colony-white);
}

.baseStyles + .baseStyles {
  margin-left: 10px;
}

.themePrimary {
  composes: baseStyles;
  background-color: var(--primary);
}

.themeLight {
  composes: baseStyles;
  background-color: var(--grey-blue-1);
  color: var(--grey-dark);
}

.themeGolden {
  composes: baseStyles;
  background-color: var(--golden);
}

.themeDanger {
  composes: baseStyles;
  background-color: var(--danger);
}

.themePink {
  composes: baseStyles;
  background-color: var(--pink);
}

.themeBlue {
  composes: baseStyles;
  background-color: var(--action-secondary);
}

.themeDangerGhost {
  composes: baseStyles;
}

.themeBanned {
  composes: baseStyles;
  padding: 2px 8px 2px;
  background-color: color-mod(var(--pink) alpha(20%));
  color: var(--pink);
}

.themeBanned .icon {
  display: inline-block;
  margin: -7px 7px -4px -4px;
  height: 12px;
  width: 12px;
  vertical-align: middle;
}

.themeBanned .icon svg {
  vertical-align: center;
}

.colorSchemaInverted {
  background-color: transparent;
}

.colorSchemaPlain {
  border: none;
  background-color: var(--temp-grey-blue-8);
}

.themePrimary.colorSchemaInverted {
  border: 1px solid var(--primary);
  color: var(--primary);
}

.themeGolden.colorSchemaInverted {
  border: 1px solid var(--golden);
  color: var(--golden);
}

.themePink.colorSchemaInverted {
  border: 1px solid var(--pink);
  color: var(--pink);
}

.themeBlue.colorSchemaInverted {
  border: 1px solid var(--action-secondary);
  color: var(--action-secondary);
}

.themeDanger.colorSchemaInverted {
  border: 1px solid var(--danger);
  color: var(--danger);
}

.themeGolden.colorSchemaPlain {
  color: var(--golden);
}

.themePrimary.colorSchemaPlain {
  color: var(--primary);
}

.themePink.colorSchemaPlain {
  color: var(--pink);
}

.themeBlue.colorSchemaPlain {
  color: var(--action-secondary);
}

.themeDanger.colorSchemaPlain {
  color: var(--danger);
}

.themeDangerGhost.colorSchemaPlain {
  border: 1px solid var(--danger);
  background-color: transparent;
  color: var(--danger);
}

.fontSizeTiny,
.fontSizeTiny span {
  font-size: 9px;
  line-height: 15px;
}

.fontSizeSmall {
  font-size: var(--size-tiny);
}

.marginNone,
.baseStyles + .marginNone {
  margin: 0;
}

.main {
  composes: themeLight;
}
