.baseStyles {
  padding: 1px 8px 2px;
  border-radius: var(--radius-large);
  font-size: 0.8rem;
  font-weight: var(--weight-bold);
}

.baseStyles + .baseStyles {
  margin-left: 10px;
}

.themePrimary {
  composes: baseStyles;
  background-color: var(--primary);
  color: var(--colony-white);
}

.themeLight {
  composes: baseStyles;
  background-color: var(--grey-blue-1);
}

.themeGolden {
  composes: baseStyles;
  background-color: var(--golden);
  color: white;
}

.themeDanger {
  composes: baseStyles;
  background-color: var(--danger);
  color: white;
}

.main {
  composes: themeLight;
}
