.main {
  padding-top: 70px;
}

.formActions {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.headingContainer {
  display: flex;
  align-items: baseline;
}

.numRequiredStepsText {
  composes: field from '~styles/fields.css';
}

.numRequiredStepsInput {
  composes: field from '~styles/fields.css';
  display: flex;
  align-items: baseline;
}

.requiredStepsInputContainer {
  display: inline-block;
}

.requiredStepsExtensionText {
  padding-left: 15px;
}

.levelTasksContainer {
  margin-top: 10px;
}
