.main {
  padding-top: 70px;
}

.formActions {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.headingContainer {
  display: flex;
  align-items: baseline;
}

.numRequiredStepsText {
  composes: field from '~styles/fields.css';
}

.numRequiredStepsInput {
  composes: field from '~styles/fields.css';
  display: flex;
  align-items: flex-end;
}

.requiredStepsInputContainer {
  display: inline-block;
}

.requiredStepsExtensionText {
  padding: 0 0 15px 15px;
  font-size: var(--size-medium-l);
}
