@value paddingRightLeft: 54px;

.paymentContainer {
  padding-bottom: 80px;
}

.recipientContainer {
  padding: 0 paddingRightLeft;
}

.payments {
  margin-bottom: 18px;
  font-size: 13px;
  line-height: 18px;
  color: var(--dark);
}

.recipientLabel {
  display: flex;
  align-items: center;
  min-height: 28px;
  min-height: 40px;
  font-size: 13px;
  font-weight: var(--weight-bold);
  line-height: 18px;
  color: var(--dark);
}

.singleRecipient {
  position: relative;
}

.signWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  height: 16px;
  width: 16px;
  position: absolute;
  left: -23px;
  border: 1px solid var(--temp-grey-blue-7);
  border-radius: 2px;
  opacity: 0.65;
}

.signWrapper:hover {
  cursor: pointer;
}

.verticalDivider {
  height: calc(100% - 70px);
  position: absolute;
  top: 56px;
  left: -17px;
  border-left: 1px solid var(--temp-grey-blue-7);
  opacity: 0.25;
}

.minus {
  height: 1px;
  width: 70%;
  border-bottom: 1px solid var(--dark);
  opacity: 1;
}

.plus {
  display: flex;
  height: 10px;
  width: 10px;
}

.addRecipientLabel {
  display: flex;
  align-items: center;
}

.circlePlusIcon {
  margin-right: 10px;
  height: 16px;
  width: 16px;
}

.circleSignWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  height: 16px;
  width: 16px;
  border: 1px solid var(--action-secondary);
  border-radius: 50%;
}

.addRecipientWrapper {
  margin-top: 9px;
}
