@value paddingRightLeft: 54px;

.paymentContainer {
  padding-bottom: 80px;
}

.recipientContainer {
  padding: 0 paddingRightLeft;
}

.payments {
  margin-bottom: 18px;
  font-size: var(--size-smallish);
  font-weight: var(--weight-bold);
  line-height: 18px;
  color: var(--dark);
}

.recipientLabel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  font-size: var(--size-smallish);
  font-weight: var(--weight-bold);
  line-height: 18px;
  color: var(--dark);
}

.singleRecipient {
  margin-bottom: 40px;
  position: relative;
}

.signWrapper {
  height: 30px;
  width: 30px;
  position: absolute;

  /* negative margin is used to set the position of the button,
  which collapse and expand singe recipient fields,
  on the left side of the form */
  left: -34px;
}

.signWrapper:hover {
  cursor: pointer;
}

.verticalDivider {
  height: calc(100% - 84px);
  position: absolute;
  top: 56px;

  /* negative margin is used to set the position of the vertical line
  on the left side of the form, similar to margin in singWrapper class */
  left: -20px;
  border-left: 1px solid var(--temp-grey-blue-7);
  opacity: 0.25;
}

.minus {
  height: 1px;
  width: 70%;
  border-bottom: 1px solid var(--dark);
  opacity: 1;
}

.addRecipientLabel {
  display: flex;
  align-items: center;
}

.circlePlusIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2px;

  /* negative margin is used here to adjust placement all row */
  margin-left: -8px;
  height: 30px;
  width: 30px;
  fill: var(--action-secondary);
}

.addRecipientWrapper {
  margin-top: 9px;
}

.deleteIcon {
  height: 20px;
  width: 20px;
  fill: var(--temp-grey-blue-7);
}

.deleteIcon:hover {
  cursor: pointer;
}
