@value query700 from '~styles/queries.css';

.userPickerContainer {
  margin-top: 20px;
  margin-left: 30px;
}

.divider {
  margin-top: 50px;
}

.infoNote {
  margin-bottom: 15px;
  font-size: var(--size-tiny);
  font-weight: var(--weight-bold);
  color: var(--temp-grey-blue-7);
}

.footer button:first-of-type {
  margin-right: 20px;
  padding: 9px 0px;
}

@media screen and query700 {
  .userPickerContainer {
    margin: 0;
  }

  .divider {
    margin-top: 20px;
  }

  .footer > button:first-child {
    margin-right: 0px;
    height: auto;
  }
}
