.reputation {
  display: inline-block;
  margin-left: 4px;
}

.tagWrapper > span {
  margin-left: 0;
}

.annotation {
  margin-bottom: 7px;
}

.text {
  margin: 0 6px;
  font-size: var(--size-tiny);
  font-weight: var(--weight-bold);
  color: var(--temp-grey-blue-7);
}

.progressBarContainer {
  margin-left: 4px;
  width: 116px;
}

.voteResultsWrapper {
  margin: 14px 0;
  padding: 17px 23px;
  border: 1px solid var(--text-disabled);
  border-radius: var(--radius-large);
}

.help {
  display: inline-block;
  align-self: center;
  margin-left: 7px;
  cursor: pointer;
}

.tooltip {
  padding: 5px;
  width: 220px;
}
