.inboxRowCellFull {
  width: 100%;
  cursor: pointer;
}

.inboxRowCellPopover {
  width: 100%;
  cursor: pointer;
}

.inboxDetails {
  display: inline-block;
  padding: 24px 20px;
  position: relative;
  font-weight: var(--weight-semi);
}

.inboxDetails a:hover {
  color: var(--colony-blue);
}

.inboxDetail {
  composes: inlineEllipsis from '~styles/text.css';
  display: inline-block;
  max-width: 38ch;
  vertical-align: bottom;
  font-weight: 500;
  color: var(--colony-black);
}

.inboxAction {
  /*
   * @NOTE Netative margins used to better align
   * the event's copy with the user's avatar
   */
  margin-top: -5px;
  overflow: hidden;
  font-weight: 400;
  text-overflow: ellipsis;
  color: var(--grey-3);
}

.additionalDetails {
  display: flex;
  margin-top: 2px;
  width: 100%;
  font-size: var(--size-tiny);
}

.userAvatar {
  margin-right: 10px;
  vertical-align: text-bottom;
}

.time {
  font-weight: var(--weight-thin);
}

.pipe {
  margin: 0 10px;
  font-weight: var(--weight-thin);
}

.inboxDomain {
  display: block;
}

.inboxUnread {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}

.inboxUnreadAction {
  border-left: 2px solid var(--pink);
}

.inboxUnreadNotification {
  border-left: 2px solid var(--sky-blue);
}

.fullWidthLink {
  width: 100%;
}

.spinnerWrapper {
  padding: 21px 0 20px;
  width: 100%;
  text-align: center;
}

.noStyleButton {
  padding: none;
  padding: 0;
  height: auto;
  width: 100%;
  border-color: none;
  border-color: transparent;
  background-color: none;
  font-size: inherit;
  cursor: pointer;
}

.noStyleButton:focus {
  outline: none;
}

.additionalDetailsTruncate {
  composes: inlineEllipsis from '~styles/text.css';
  display: inline-block;
  max-width: 38ch;
  vertical-align: bottom;
}
