.toggleContainer {
  /* megative margin here corrects tooltip arrow placement */
  margin-right: -7px;
}

.toggleContainer i {
  margin-left: 9px;

  /* next lines corrects tooltip arrow placement */
  transform: translate(-9px, 0);
}

/* this selector is for tooltip wrapper */
.toggleContainer > div > div:last-child {
  max-width: 250px;
  white-space: normal;
}

.toggleContainer label {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}

.toggleContainer > div {
  height: 18px;
}

.toggleContainer > div > span > div {
  height: 18px;
}

.title {
  padding-bottom: 16px;
  font-size: var(--size-medium-l);
  font-weight: var(--weight-bold);
  color: var(--dark);
  letter-spacing: var(--spacing-medium);
}

.description {
  color: var(--temp-grey-blue-7);
  letter-spacing: 0.1px;
}

.annotationsWrapper {
  margin-top: 38px;
}

.sectionTitle {
  padding: 24px 0 10px;
  font-size: var(--size-smallish);
  font-weight: var(--weight-bold);
  color: var(--dark);
  letter-spacing: var(--spacing-medium);
}
