.wrapper {
  padding: 10px 0;
}

.status {
  position: relative;
  display: block;
  border-radius: 50%;
  width: 7px;
  height: 7px;
  float: right;
  margin-top: -6px;
  background-color: rgb(255, 176, 0,1);
}

.statusApproved {
  background-color: var(--primary);
}

.avatars {
  display: flex;
  flex-wrap: wrap;
  margin-left: -6px;
  margin-bottom: 10px;
}

.avatars > div {
  margin: 0 6px 10px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 13px;
}

.title {
  display: flex;
  align-items: center;
  font-size: var(--size-normal);
  font-weight: var(--weight-bold);
  color: var(--dark);
  margin-bottom: 30px;
}

.title > div {
  margin: 0 10px;
}

.progressBarLabel {
  font-size: var(--size-tiny);
  font-weight: var(--weight-bold);
  letter-spacing: var(--spacing-medium);
  color: var(--dark);
  margin-bottom: 4px;
  text-align: right;
}
