.wrapper {
  margin-top: 30px;
}

.title {
  display: flex;
  align-items: center;
  font-size: var(--size-smallish);
  font-weight: var(--weight-bold);
  color: var(--dark);
}

.title > div {
  margin: 0 6px;
}

.avatars {
  display: flex;
  flex-wrap: wrap;
  margin-top: 16px;
}

.avatarWrapper {
  margin: 0 13px 10px 0;
}

.avatarWrapper:nth-child(7n) {
  margin-right: 0px;
}

.avatarWrapper figure {
  height: 37px;
  width: 37px;
}

.status {
  display: block;
  margin-top: -6px;
  height: 7px;
  width: 7px;
  position: relative;
  float: right;
  border-radius: 50%;
  background-color: var(--golden);
}

.statusApproved {
  background-color: var(--primary);
}

.progressBarLabel {
  /*
   * Only 6px top margin since we have to compensate for the 10px of the avatar's
   * bottom margin, to bring our total to 16px
   */
  margin: 6px 0 4px;
  font-size: var(--size-tiny);
  font-weight: var(--weight-bold);
  text-align: right;
  color: var(--dark);
  letter-spacing: var(--spacing-medium);
}

.controls {
  padding: 0 0 16px;
  border-bottom: 1px solid color-mod(var(--temp-grey-blue-7) alpha(15%));
  text-align: right;
}

.buttonWrapper {
  margin-top: 16px;
}

.buttonWrapper button {
  width: 100px;
  font-size: var(--size-small);
}

.totalRequired {
  color: var(--pink);
}

.loading {
  padding: 16px 0;
  border-bottom: 1px solid color-mod(var(--temp-grey-blue-7) alpha(15%));
}
