.ratingItem {
  display: inline-block;
  margin: 0 0 0 5px;
  padding: 16px 0 0px;

  /*
   * @NOTE Relative position and negative to margin (along with non-standard padding)
   * are used to perfectly align the content of the Radio label with the actual selector
   */
  position: relative;
  top: -10px;
  vertical-align: middle;

  /*
   * @NOTE Absolute positioning trickery so that we can escape the wrapper set by the Radio
   * label and extend the border all the way out
   * (Othewise the border would not stretch past the radio selector)
   */
  &::after {
    display: block;
    padding-top: 12px;
    height: 1px;
    width: 499px;
    position: absolute;
    left: -26px;
    border-bottom: 1px solid var(--temp-grey-0);
    content: '';
  }
}

.ratingText {
  display: inline-block;
  width: 420px;
  vertical-align: middle;
}

.ratingItemDescription {
  font-size: var(--size-small);
  font-weight: var(--weight-medium);
  color: var(--temp-grey-4);
}

.ratingItemWarning {
  composes: ratingItemDescription;
  color: var(--danger);
}

.ratingStars {
  display: inline-block;
  margin-top: 4px;
  vertical-align: middle;
}
