.singleUserPickerContainer div + i {
  /* @NOTE: Negative value here to compensate for the
  empty space inside the icon's SVG */
  right: -7px;
  left: inherit;
}

.singleUserPickerContainer input,
.singleUserPickerContainer button {
  max-width: 424px;
}

.singleUserPickerContainer > div {
  padding-left: 0;
}

.singleUserPickerContainer label,
.contractFunctionSelectorContainer label {
  color: var(--dark);
}

.labelDescription {
  color: var(--temp-grey-blue-7);
}

/*
  I can't think of any other way of overriding the theme styles
  right now without adding another theme or prop just to change the color
*/
.inputParamContainer label span,
.inputParamContainer input::placeholder {
  color: var(--temp-grey-blue-7) !important;
}
