.activeItem {
  display: flex;
  align-items: center;
  margin-right: 2px;
}

.activeItemLabel {
  margin-left: 8px;
  padding-bottom: 2px;
  font-size: var(--size-smallish);
  font-weight: var(--weight-bold);
  color: var(--dark);
}

.formContainer {
  border-top: 1px solid var(--grey-blue-0);
}

.settingsRow {
  composes: flexContainerRow flexAlignCenter flexJustifyBetween from '~styles/layout.css';
  min-height: 41px;
}

.inputWrapper {
  padding: 13px 4px 12px 0;
}

.inputWrapper label {
  color: var(--temp-grey-blue-7);
}

.addTokenLabel {
  display: flex;
  align-items: center;
}
