.activeItem {
  display: flex;
  align-items: center;
  margin-right: 2px;
}

.activeItemLabel {
  margin-left: 8px;
  padding-bottom: 2px;
  font-size: var(--size-smallish);
  font-weight: var(--weight-bold);
  color: var(--dark);
}

.formContainer {
  border-top: 1px solid var(--grey-blue-0);
}

.settingsRow {
  composes: flexContainerRow flexAlignCenter flexJustifyBetween from '~styles/layout.css';
  min-height: 41px;
}

.inputWrapper {
  padding: 13px 4px 12px 0;
}

.inputWrapper label {
  color: var(--temp-grey-blue-7);
}

.inputWrapper label {
  color: var(--temp-grey-blue-7);
}

.limitContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 8px;
}

.inputContainer {
  width: calc(100% - 30px);
  transform: translate(0, 8px);
}

.inputContainer input {
  height: 28px;
  line-height: 18px;
  color: var(--dark);
}

.inputContainer input::placeholder {
  color: var(--dark);
}

.tokenIcon {
  margin-right: 6px;
  height: 16px;
  width: 16px;
}

.tokeIconWrapper {
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.addTokenLabel {
  display: flex;
  align-items: center;
}

.paddingTopZero {
  padding-top: 0;
}
