@value wideButton: 160px;
@value textAreaHeight: 120px;

.main {
  composes: stretchVertical stretchHorizontal from '~styles/layout.css';
  display: grid;
  padding: var(--pad-huge) 0 0 8px;
  grid-template-columns: auto minmax(300px, 320px);
  grid-template-rows: auto;
  column-gap: 0;
}

.content {
  border-right: 1px solid var(--temp-grey-5);
  grid-row: 1;
  grid-column: 1;
}

.sidebar {
  padding: var(--pad-huge) 0 40px 60px;
  grid-row: 1;
  grid-column: 2;
}

.section {
  margin-bottom: 50px;
}

.sectionENSName {
  composes: section;
  composes: multiLineEllipsis from '~styles/text.css';
  max-width: 760px;
  overflow-wrap: break-word;
}

.divider {
  composes: section;
  height: 1px;
  width: 100%;
  border-bottom: 1px solid var(--temp-grey-5);
}

.inputSection {
  composes: section;
  padding-right: 120px;
}

.titleContainer {
  margin-bottom: 30px;
  border-bottom: 1px solid var(--temp-grey-5);
}
