.main {
  composes: stretchVertical stretchHorizontal from '~styles/layout.css';
  padding: var(--pad-huge) 0 0 8px;
}

.section {
  margin-bottom: 50px;
  width: 100%;
  max-width: 800px;
}

.withInlineButton {
  display: inline-block;
  margin-right: 100px;
  vertical-align: top;
}

.bigInfoText {
  margin-top: 2px;
  font-size: var(--size-medium-l);
}

.smallInfoText {
  vertical-align: bottom;
  font-size: var(--size-medium-s);
}

.version {
  display: flex;
}

.versionAction {
  margin-left: 1rem;
  vertical-align: bottom;
}

.unlockButton {
  margin-top: var(--pad-large);
}

.titleContainer {
  margin-bottom: 30px;
  border-bottom: 1px solid var(--temp-grey-5);
}
