/*
 * These are so we don't have to force negative margins upon the .main class,
 * and make our lifes easier in the process
 */
.overwrittenTabPanel {
  display: none;
  padding: 0;
  height: 100%;
}

.overwrittenSelectedTabPanel {
  display: block;
}
