@value sidbarWidth: 470px;
@value headerHeight: 60px;

.main {
  display: flex;
  flex-direction: row;
  padding: 0;
  height: 100%;
  width: 100%;
}

.backNavigation {
  margin: 20px 0 0 20px;
  font-weight: var(--weight-medium);
}

.mainNav {
  display: flex;
  justify-content: flex-end;
}

.backNavigation i {
  margin-right: 10px;
  vertical-align: middle;
}

.navigation {
  display: flex;
  justify-content: space-between;
  height: 75px;
  background: var(--gradient-default);
  background-attachment: fixed;
}

.sidebar {
  padding: 11px 11px 50vw 11px;
  height: 100%;
  width: sidbarWidth;
  border-right: 1px solid var(--grey-blue-0);
}

.container {
  align-items: flex-start;
  width: 100%;
}

.section {
  padding: 15px;
  border: 1px solid var(--grey-blue-0);
  border-radius: var(--radius-tiny);
  background-color: var(--grey-blue-3);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 11px;
  height: headerHeight;
  border-bottom: 1px solid var(--grey-blue-0);
}

.headerAside {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: headerHeight;
}

.editor {
  display: flex;
  flex-direction: row;
}

.editor > h4 {
  margin-right: 5px;
}
