@value lineHeight from './Extensions.css';
@value query700 from '~styles/queries.css';

.main {
  display: block;
  margin: 0 20px 20px 0;
  height: 220px;
  width: 220px;
}

.main:nth-child(3n) {
  margin-right: 0;
}

.main:nth-last-child(1), .main:nth-last-child(2), .main:nth-last-child(3) {
  margin-bottom: 0;
}

.card {
  display: block;
  padding: 26px 20px 20px;
  height: 100%;
  background-color: white;
  line-height: lineHeight;
  color: var(--dark);
  letter-spacing: 0.1px;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.header h4 {
  line-height: lineHeight;
  letter-spacing: var(--spacing-normal);
}

.headerIcon {
  flex: 0 0 33px;
  align-self: start;
  padding-top: 2px;
}

.version {
  display: block;
  font-size: var(--size-tiny);
  color: color-mod(var(--dark) alpha(50%));
}

.addButton {
  position: absolute;
  right: 15px;
  bottom: 15px;
}

.cardDescription {
  composes: multiLineEllipsis from '~styles/text.css';
}

.status {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

@media screen and query700 {
  .main {
    margin: 0;
  }
}
