.main {
  max-width: 600px;
}

.main label {
  color: var(--dark);
}

.extensionDescription {
  margin-top: 30px;
}

.descriptionExtended {
  white-space: pre-line;
}

.input {
  margin-top: 40px;
  max-width: 340px;
  position: relative;
  white-space: pre-line;
}

.input label {
  font-size: var(--size-smallish);
}

.input input {
  font-size: 14px;
  font-weight: var(--weight-normal);
  text-align: right;
  color: var(--grey-2);
}

.addressInput input {
  font-size: 13px;
}

.inputsDescription {
  font-size: var(--size-tiny);
  font-weight: var(--weight-bold);
  color: var(--temp-grey-blue-7);
}

.inputContainer {
  margin-bottom: 40px;
}

.inputContainer > div > div > :nth-child(1) {
  margin-bottom: 0;
}

.complementaryLabel {
  position: absolute;
  top: 26px;
  left: 360px;
  color: var(--grey-2);
}

.descriptionExample {
  font-style: italic;
}

.textArea {
  margin-top: 43px;
}

.textArea textarea {
  resize: vertical;
}

.textAreaDescription {
  composes: inputsDescription;
  margin-top: -15px;
  margin-left: 4px;
}

.tokenSelectorContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  height: 42px;
}

.tokenSelectorContainer > p {
  max-width: 280px;
}

.tokenAddessLink {
  font-size: var(--size-smallish);
  font-weight: var(--weight-bold);
  color: var(--dark);
}

.tokenAddessLink > div {
  margin-bottom: 20px;
}

.extraParams {
  margin-bottom: 25px;
  padding-bottom: 30px;
  border-bottom: 1px solid color-mod(var(--temp-grey-blue-7) alpha(15%));
}

.divider {
  margin-bottom: 30px;
  border-bottom: 1px solid color-mod(var(--temp-grey-blue-7) alpha(15%));
}
