@value query700 from '~styles/queries.css';

.main {
  composes: main from "./Extensions.css";
  margin-right: 100px;
  grid-template-columns: minmax(460px, 2fr) minmax(340px, 1fr);
}

.headerLine {
  margin: 20px 0 12px 0;
}

.extensionText {
  padding-top: 24px;
  white-space: pre-line;
}

.extensionText a {
  font-weight: var(--weight-normal);
  color: var(--colony-blue);
}

.extensionSubtext {
  display: block;
  margin-top: 38px;
  font-size: var(--size-tiny);
  font-weight: var(--weight-bold);
}

.extensionDetails {
  width: 340px;
}

.extensionDetails .headerLine {
  margin: 41px 0 0 -80px;
}

.extensionDetails table tr:first-child {
  border-top-color: transparent;
}

.buttonWrapper {
  padding: 8px 0;
  height: 48px;
  border-bottom: 1px solid var(--temp-grey-5);
  text-align: right;
}

.cellLabel {
  font-weight: var(--weight-bold);
  color: var(--temp-grey-4);
}

.cellData {
  font-weight: var(--weight-bold);
  text-align: right;
}

.installedBy {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.installedByAddress {
  margin-left: 5px;
}

.permissions {
  margin-top: 30px;
}

/* The following gymnastics is cause we need to target the adjacent
   children inside the Tooltiped component (which inserts wraps the
   children in a span) */

.permissions > span {
  margin-right: 7px;
}

.permissions > span:last-child {
  margin-right: 0px;
}

.actionButtons {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  text-align: right;
}

.iconWrapper {
  display: inline-block;
  margin-left: 7px;
  vertical-align: middle;
}

.iconWrapper svg {
  fill: var(--golden);
  stroke: none;
  cursor: pointer;
}

.contractAddress {
  font-size: var(--size-smallish);
  cursor: pointer;
}

@media screen and query700 {
  .main {
    margin: 0;
  }

  .main > div:first-child {
    align-items: center;
    flex-wrap: wrap;
    padding: 15px 14px 0px;
  }

  .main > div:first-child > div {
    display: flex;
    flex-wrap: wrap;
    flex-basis: fit-content;
  }

  .main span {
    white-space: normal;
  }

  .main > div:first-child span:nth-child(2) {
    margin: 1px 2px 0px;
  }

  .main > div:first-child > div:nth-child(2) {
    margin-top: 1px;
  }

  .content {
    order: 1;
  }

  aside {
    display: flex;
    justify-content: center;
  }

  .extensionText {
    padding: 0 14px 24px;
    border-bottom: 1px solid var(--temp-grey-13);
  }

  .extensionText h3 {
    padding: 0;
  }

  .extensionDetails {
    margin-bottom: 30px;
    padding: 0 40px;
    width: 100%;
  }

  .extensionDetails button {
    margin-bottom: 8px;
  }

  .extensionDetails .headerLine {
    display: none;
  }

  .buttonWrapper {
    padding: 0;
    height: auto;
    max-height: 48px;
  }
}
