.main {
  max-width: 600px;
}

.input {
  margin-top: 50px;
  max-width: 450px;
  position: relative;
  white-space: pre-line;
}

.inputContainer {
  margin-bottom: 50px;
}

.complementaryLabel {
  position: absolute;
  top: 30px;
  right: 5px;
}

.descriptionExample {
  font-style: italic;
}

.textArea {
  margin-top: 43px;
}
