.main {
  composes: main from "./Extensions.css";
}

.content {
  display: grid;
  grid-template-columns: auto 35%;
}

.buttonWrapper {
  margin-bottom: 10px;
  text-align: right;
}

.cellLabel {
  font-weight: var(--weight-bold);
  color: var(--temp-grey-4);
}

.cellData {
  font-weight: var(--weight-bold);
  text-align: right;
}

.installedBy {
  display: inline-flex;
  align-items: center;
  justify-content: right;
}

.installedByAddress {
  margin-left: 5px;
}

.permissions {
  margin-top: 30px;
}

.buttonUninstall {
  margin-top: 10px;
  text-align: right;
}
