@value submitButtonWidth: 160px;

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0 20px;
  width: 100%;
  border-bottom: 1px solid var(--grey-blue-0);
  font-size: var(--size-medium-l);
  font-weight: var(--weight-bold);
  color: var(--dark);
}

.forceContainer {
  display: flex;
  align-items: center;
  font-size: var(--size-smallish);
}

.stakeContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 0;
  border-bottom: 1px solid var(--grey-blue-0);
  font-size: var(--size-smallish);
  font-weight: var(--weight-bold);
  color: var(--temp-grey-blue-7);
  opacity: 0.85;
}

.messageContainer {
  padding-bottom: 90px;
  color: var(--temp-grey-blue-7);
}

.label {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
  font-size: var(--size-smallish);
  font-weight: var(--weight-bold);
  color: var(--dark);
}

.icon {
  margin-right: 10px;
}

.icon figure {
  display: block;
}

.tokenIcon {
  height: 16px;
  width: 16px;
}

.symbol {
  margin-left: 4px;
}

.toggleContainer {
  /* megative margin here corrects tooltip arrow placement */
  margin-right: -7px;
}

.toggleContainer i {
  margin-left: 9px;

  /* next lines corrects tooltip arrow placement */
  transform: translate(-9px, 4px);
}

/* this selector is for tooltip wrapper */
.toggleContainer > div > div:last-child {
  max-width: 250px;
  white-space: normal;
}

.toggleContainer label {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}

.toggleContainer > div > span {
  height: 18px;
}

.toggleContainer > div > span > div {
  height: 18px;
}

.messageParagraph {
  padding-top: 14px;
}
