@value wideButton: 160px;
@value query700 from '~styles/queries.css';

.tokenAmount {
  display: flex;
  width: 100%;
}

.amountContainer {
  width: 100%;
}

.tokenAmountSelect {
  align-self: center;
  margin-left: 20px;
}

.tokenAmountContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
  gap: 20px;
}

.tokenAmountUsd {
  width: 100%;
  font-size: 11px;
  font-weight: 700;
  text-align: right;
}

.domainPotBalance {
  margin-top: -15px;
  font-size: var(--size-small);
  font-weight: var(--weight-bold);
  color: var(--temp-grey-blue-7);
}

.domainSelects {
  display: grid;
  width: 100%;
  grid-template-columns: calc(50% - 25px) 50px calc(50% - 25px);
}

.transferIcon {
  align-self: center;
  height: 26px;
  width: 26px;
  position: relative;
  top: 0;
  justify-self: center;
}

.transferIcon svg {
  fill: var(--temp-grey-blue-7);
}

.title {
  font-size: var(--size-medium-l);
  line-height: 24px;
  color: var(--dark);
}

.tokenAmount label,
.domainSelects label {
  font-size: var(--size-smallish);
  color: var(--dark);
}

.permissionsRequired {
  margin-top: -15px;
}

.permissionsError {
  display: block;
  margin-top: -30px;
  font-size: var(--size-tiny);
  font-weight: var(--weight-bold);
  color: var(--pink);
}

.permissionsError div {
  vertical-align: middle;
}

.modalHeading {
  padding: 32px 0 20px;
}

.headingContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.motionVoteDomain {
  margin: 6px 0;
}

.cannotCreateMotion {
  composes: permissionsError;
  margin: 0 0 30px;
}

@media screen and query700 {
  .domainPotBalance {
    margin-top: 0px;
    padding-left: 1px;
  }

  .tokenAmountContainer {
    margin-top: 0px;
    padding-top: 10px;
  }

  .tokenAmount {
    display: flex;
    min-height: 91px;
  }

  .domainSelects {
    min-height: 105px;
  }

  .transferIcon {
    transform: translateY(-8px);
  }
}
