.content {
  composes: alignCenter from '~styles/text.css';
  composes: marginBottomMedium from '~styles/layout.css';
  margin-top: 180px;
  padding: 50px;
  background-color: var(--grey-blue-1);
}

.actions {
  composes: alignRight from '~styles/text.css';
}

.iconContainer {
  composes: marginBottomMedium from '~styles/layout.css';
}

.interactionPrompt {
  composes: interactionPrompt from '../StepHardware/StepHardware.css';
}
