.content {
  composes: alignCenter from '~styles/text.css';
  composes: marginBottomMedium from '~styles/layout.css';
  margin-top: 180px;
  padding: 50px;
  background-color: var(--grey-blue-1);
}

.actions {
  composes: alignRight from '~styles/text.css';
}

.iconContainer {
  composes: marginBottomMedium from '~styles/layout.css';
}

.interactionPrompt {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--grey-blue-1);
}

.interactionPrompt > div {
  margin: 0;
}

.contentSimplified {
  composes: content;
  margin-top: 30px;
}
