version: 2

jobs:
  build-with-lockfile:
    docker:
      - image: circleci/node:10.12
    working_directory: ~/colonyDapp
    steps:
      - checkout
      - restore_cache:
          keys:
          - node-modules-v1-{{ checksum "package.json" }}
          - node-modules-v1-
      - run:
          name: "Set up global packages"
          command: |
            yarn global add greenkeeper-lockfile@1
            yarn global add lerna
      - run:
          name: "Installing modules"
          command: |
            yarn install
            yarn provision --skip-colony-network-build
      - save_cache:
          paths:
            - node_modules
          key: node-modules-v1-{{ checksum "package.json" }}
      - run:
          name: "Updating lockfile"
          command: $HOME/.config/yarn/global/node_modules/.bin/greenkeeper-lockfile-update
      - run:
          name: "Checking correct types"
          command: |
            mkdir -p reports/flow
            yarn flow:ci
      - run:
          name: "Linting Javascript"
          command: yarn lint:ci
      - run:
          name: "Linting Style sheets"
          command: |
            mkdir -p reports/stylelint
            yarn stylelint:ci
      - run:
          name: "Running unit tests"
          command: yarn test:ci
          environment:
            JEST_JUNIT_OUTPUT: "reports/jest/jest-results.xml"
      - store_test_results:
          path: reports
      - store_artifacts:
          path: reports
      - run:
          name: "Building library"
          command: yarn webpack:build
      - run:
          name: "Uploading updated lockfile"
          command: $HOME/.config/yarn/global/node_modules/.bin/greenkeeper-lockfile-upload
  nightly-build:
    docker:
      - image: circleci/node:10.12
    working_directory: ~/colonyDapp
    steps:
      - checkout
      - restore_cache:
          keys:
          - node-modules-v1-{{ checksum "package.json" }}
          - node-modules-v1-
      - run:
          name: "Installing modules"
          command: |
            yarn install
            yarn provision --skip-colony-network-build
      - save_cache:
          paths:
            - node_modules
          key: node-modules-v1-{{ checksum "package.json" }}
      - run:
          name: "Checking correct types"
          command: |
            mkdir -p reports/flow
            yarn flow:ci
      - run:
          name: "Linting Javascript"
          command: yarn lint:ci
      - run:
          name: "Linting Style sheets"
          command: |
            mkdir -p reports/stylelint
            yarn stylelint:ci
      - run:
          name: "Running unit tests"
          command: yarn test:ci
          environment:
            JEST_JUNIT_OUTPUT: "reports/jest/jest-results.xml"
      - store_test_results:
          path: reports
      - store_artifacts:
          path: reports
      - run:
          name: "Building library"
          command: yarn webpack:build
  integration-testing:
    docker:
      - image: circleci/node:10.12
    environment:
      LOADER: trufflepig
      NETWORK: local
      PINNING_ROOM: PINION_DEV_ROOM
    working_directory: ~/colonyDapp
    steps:
      - checkout
      - restore_cache:
          keys:
          - node-modules-v1-{{ checksum "package.json" }}
          - node-modules-v1-
      - run:
          name: "Installing modules"
          command: |
            yarn install
            yarn provision --skip-colony-network-build
      - save_cache:
          paths:
            - node_modules
          key: node-modules-v1-{{ checksum "package.json" }}
      - run:
          name: "Linting Javascript"
          command: yarn lint:ci
      - run:
          name: "Running Integration Tests"
          command: |
            mkdir -p reports/ava
            yarn test:integration:ci
      - store_test_results:
          path: reports
      - store_artifacts:
          path: reports
  e2e-testing:
    docker:
      - image: joincolony/circleci-cypress
    environment:
      LOADER: trufflepig
      NETWORK: local
      CHAIN_ID: 1337
      PINNING_ROOM: PINION_DEV_ROOM
      TERM: xterm
      CYPRESS_VIEWPORT_WIDTH: 1920
      CYPRESS_VIEWPORT_HEIGHT: 1080
    working_directory: ~/colonyDapp
    steps:
      - checkout
      - restore_cache:
          keys:
            - cache-{{ checksum "package.json" }}
      - run:
          name: "Installing modules"
          command: yarn install
      - setup_remote_docker
      - run:
          name: "Pull solc docker image"
          command: docker pull ethereum/solc:0.4.23
      - run:
          name: "Provision submodules"
          command: yarn provision
      - save_cache:
          key: cache-{{ checksum "package.json" }}
          paths:
            - ~/.cache
      - run:
          name: "Verify Cypress before starting Tests"
          command: yarn cypress verify
      - run:
          name: "Run End-to-End Tests"
          command: yarn test:e2e:ci
      - store_test_results:
          path: reports
      - store_artifacts:
          path: reports
  build-styleguide:
    docker:
      - image: circleci/node:10.12
    working_directory: ~/repo
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "yarn.lock" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-
      - run: yarn install
      - run: yarn styleguide:build
      - persist_to_workspace:
          root: .
          paths:
            - styleguide
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "yarn.lock" }}
  deploy-styleguide:
    docker:
      - image: circleci/node:10.12
    working_directory: ~/repo
    steps:
      - add_ssh_keys:
          fingerprints:
            - "fd:cc:01:a2:10:09:76:43:06:1d:17:4d:44:4e:fb:24"
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "yarn.lock" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-
      - run: yarn install
      - attach_workspace:
          at: .
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "yarn.lock" }}
      - run: git config user.email "github@colony.io"
      - run: git config user.name "Colony Superuser"
      - run: yarn styleguide:deploy

workflows:
  version: 2
  commit:
    jobs:
      - build-with-lockfile
      - integration-testing
      - e2e-testing
      - build-styleguide:
          requires:
            - build-with-lockfile
      - deploy-styleguide:
          requires:
            - build-styleguide
          filters:
            branches:
              only: master
  nightly:
    triggers:
      - schedule:
          cron: "0 2 * * *"
          filters:
            branches:
              only: master
    jobs:
      - nightly-build
      - integration-testing
      - e2e-testing
