@value contentMargin: 12px;

.main {
  width: 240px;
  word-wrap: break-word;
}

.headingContainer {
  composes: multiLineEllipsis from '~styles/text.css';
}

.usernameContainer {
  composes: multiLineEllipsis from '~styles/text.css';
}

.bioContainer {
  margin-top: contentMargin;
}

.websiteContainer {
  composes: multiLineEllipsis from '~styles/text.css';
  margin-top: contentMargin;
}

.websiteContainer a {
  font-weight: var(--weight-normal);
  color: var(--text);
}

.locationContainer {
  composes: multiLineEllipsis from '~styles/text.css';
  margin-top: contentMargin;
}

.avatar {
  border-radius: 50%;
  box-shadow: 0 0 20px var(--temp-grey-blue-2);
}
