/*
 * Unique color so far. If used again, please move to `variables`
 */
@value navigationIconBlue: rgb(5, 81, 253);

.main {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navigationItem {
  flex-grow: 0;
  margin-right: 12px;
  padding: 0 10px 5px 10px;
  border-radius: var(--radius-tiny);
  text-align: center;
  cursor: pointer;
}

.navigationItemButton {
  composes: button from '~styles/reset.css';
}

.navigationItemHasCircle {
  composes: navigationItem;

  &::after {
    display: inline-block;
    margin-bottom: 1px;
    margin-left: 3px;
    height: 8px;
    width: 8px;
    position: absolute;
    top: 25px;
    right: 97px;
    border-radius: 50%;
    background-color: var(--danger);
    content: '';
  }
}

.navigationItem:hover {
  background-color: var(--temp-grey-6);
}

.navigationItem:hover svg {
  fill: navigationIconBlue;
  stroke: navigationIconBlue;
}

.navigationItem i {
  padding: 8px 0;
}

.navigationItemActive svg {
  fill: navigationIconBlue;
  stroke: navigationIconBlue;
}
