/*
 * Unique color so far. If used again, please move to `variables`
 */
@value navigationIconBlue: rgb(5, 81, 253);

.main {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navigationItem {
  flex-grow: 0;
  margin-right: 12px;
  padding: 0 10px 5px 10px;
  border-radius: var(--radius-tiny);
  text-align: center;
  cursor: pointer;
}

.navigationItemButton {
  composes: button from '~styles/reset.css';
}

.navigationItem:hover {
  background-color: var(--temp-grey-6);
}

.navigationItem:hover svg {
  fill: navigationIconBlue;
  stroke: navigationIconBlue;
}

.navigationItem i {
  padding: 8px 0;
}

.navigationItemHealth {
  composes: navigationItem;
  padding: 8px 10px 0px 10px;
}

.navigationItemHealth button {
  cursor: pointer;
}

.navigationItemActive svg {
  fill: navigationIconBlue;
  stroke: navigationIconBlue;
}
