.link {
  margin-right: 11px;
  padding: 0;
  font-size: var(--size-small);
  font-weight: var(--weight-bold);
  color: var(--colony-blue);
}

.link:hover {
  text-decoration: underline;
  color: var(--colony-blue);
}

.link[disabled] {
  /* border-color: transparent;
  background-color: transparent; */

  /* color: disabledBackground; */
  cursor: default;
}

.link[disabled]:hover {
  text-decoration: none;
}
