.main {
  max-height: 180px;
  overflow-y: auto;
  border-top: 1px solid var(--primary);
  border-right: 1px solid var(--primary);
  border-left: 1px solid var(--primary);
  background-color: white;
}
