@value paddingTop: 46px;
@value lockedPaddingTop: 75px;
@value paddingRightLeftBottom: 54px;

.container {
  padding: paddingTop paddingRightLeftBottom paddingRightLeftBottom;
}

.costRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
}

.cost {
  display: flex;
  align-items: center;
  font-size: var(--size-smallish);
  font-weight: var(--weight-bold);
  color: color-mod(var(--dark) alpha(85%));
  letter-spacing: var(--spacing-medium);
}

.cost i {
  margin-right: 8px;
}

.labelWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.labelWrapper label {
  margin-right: 8px;
  width: auto;
}

.labelWrapper > div {
  max-width: 250px;
}

.nameInputs {
  padding: 12px 0 0 0;
}

.nameInputs input {
  height: 44px;
  font-size: var(--size-normal);
  font-weight: var(--weight-bold);
  color: var(--dark);
  letter-spacing: var(--spacing-normal);
}

.nameInputs > div:not(:first-child) {
  margin-bottom: 12px;
}

.marginSmall > div:last-of-type {
  margin-bottom: 4px;
}

.nameInputs label {
  font-size: var(--size-smallish);
  font-weight: var(--weight-bold);
  color: color-mod(var(--dark) alpha(85%));
}

.nameInputs p {
  margin-bottom: 8px;
  font-size: var(--size-tiny);
  color: var(--danger);
  letter-spacing: var(--spacing-medium);
}

.inputWrapper {
  margin-top: 8px;
}

.inputWrapper textarea {
  height: 88px;
  font-size: var(--size-normal);
  font-weight: var(--weight-bold);
  color: var(--dark);
  letter-spacing: var(--spacing-normal);
}

.inputWrapper label {
  font-size: var(--size-smallish);
  font-weight: var(--weight-bold);
  color: color-mod(var(--dark) alpha(85%));
}

.inputWrapper p {
  margin-bottom: 8px;
  font-size: var(--size-tiny);
  color: var(--danger);
  letter-spacing: var(--spacing-medium);
}

.title {
  margin-bottom: 16px;
  font-size: var(--size-smallish);
  font-weight: var(--weight-bold);
  color: color-mod(var(--dark) alpha(85%));
  letter-spacing: var(--spacing-medium);
}

.label {
  font-size: var(--size-smallish);
  font-weight: var(--weight-bold);
  color: color-mod(var(--temp-grey-blue-7) alpha(85%));
  letter-spacing: var(--spacing-medium);
}

.error input {
  background-color: color-mod(var(--danger) alpha(5%));
}

.error textarea {
  background-color: color-mod(var(--danger) alpha(5%));
}
