.main {
  display: flex;
  align-items: flex-start;
  padding: 16px 16px 16px 0;
  width: 100%;
}

.rect {
  display: block;
  margin-top: 8px;
  height: 10px;
  width: 10px;
  background-color: var(--primary);
  transform: rotate(135deg);
}

.rectContainer {
  display: flex;
  justify-content: center;
  width: 60px;
}

.details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
  margin-left: -8px;
}

.content {
  flex: 1;
}

.text {
  font-size: var(--size-normal);
  color: var(--temp-grey-blue-7);
}

.highlight {
  font-weight: var(--weight-bold);
  color: var(--dark);
}

.decoratedUser {
  font-weight: var(--weight-bold);
  color: var(--pink);
}
