@value itemLinkSize: 42px;
@value itemLinkSizeMobile: 34px;
@value itemMarginBotton: 4px;

@value query700 from "~styles/queries.css";

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.scrollableContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 8px;
  max-height: calc(100vh - (itemLinkSize + itemMarginBotton));
  width: 100%;
  overflow-y: auto;
}

.item {
  margin-bottom: itemMarginBotton;
}

.itemLink {
  display: flex;
  justify-content: center;
  align-items: center;
  height: itemLinkSize;
  width: itemLinkSize;
  border: 3px solid transparent;
  border-radius: 50%;
}

.activeColony {
  border-color: var(--primary);
}

.itemImage {
  height: 36px;
  width: 36px;
  border: 1px solid transparent;
}

.newColonyIcon {
  height: 34px;
  width: 34px;
  fill: var(--temp-grey-blue-7);
}

.newColonyItem {
  position: sticky;
  bottom: 0;
}

.loadingColonies {
  padding: 8px 0 2px;
}

@media screen and query700 {
  .main {
    align-items: center;
  }

  .newColonyItem {
    transform: scale(0.76) translateX(-8px);
  }

  .newColonyItem a {
    height: auto;
    width: auto;
  }

  .scrollableContainer {
    justify-content: start;
    flex-wrap: nowrap;
    padding-top: 4px;
    padding-left: 11px; /* 14px per design - 3px avatar border */
    padding-right: 20px; /* To escape gradient fade on last colony when overflowed */
    scrollbar-width: 0px; /* Currently only supported on Firefox. */
  }

  .scrollableContainer::-webkit-scrollbar {
    display: none; /* Remove scrollbar on webkit and blink based browsers (basically all except Firefox) */
  }

  .itemImage {
    composes: itemLink;
    min-width: 34px;
    border-width: 2px;
  }

  .itemLink {
    height: itemLinkSizeMobile;
    width: itemLinkSizeMobile;
  }

  .dropdownItem {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .dropdownItem > div:nth-child(2) {
    padding-right: 10px;
    white-space: break-spaces;
    overflow-wrap: anywhere;
  }

  .activeColony > .dropdownItem {
    color: var(--primary);
  }

  .scrollableContainer div[class*="DropdownMenu_main"] {
    padding: 6px 0;
  }

  .scrollableContainer li[class*="DropdownMenuItem"] > *,
  .scrollableContainer li[class*="DropdownMenuItem"]:only-child > * {
    padding: 6px 0px 6px 12px;
    color: var(--temp-grey-blue-7);
  }

  .scrollableContainer li[class*="DropdownMenuItem"] .activeColony .itemImage {
    border-color: var(--primary);
  }

  .scrollableContainer li[class*="DropdownMenuItem"] figure {
    border-radius: 50%;
    box-shadow: 0px 1px 6px var(--drop-shadow);
  }

  .scrollableContainer div[class*="DropdownMenu"] {
    max-height: 80vh;
    max-width: 85vw;
    overflow-y: scroll;
  }

  .scrollableContainer div[class*="popoverWrapper"] {
    border-radius: 4px 0px 4px 4px;
  }
}
