.main {
  display: flex;
  align-items: center;
  padding: 0px 24px 0px 6px;
  height: 44px;
  border: none;
  border-radius: 32px;
  background-color: color-mod(var(--action-secondary) alpha(12%));
  font-weight: var(--weight-normal);
  color: var(--action-secondary);

  &:hover {
    cursor: pointer;
  }
}

.main[disabled] {
  background-color: color-mod(var(--text-disabled) alpha(12%));
  color: var(--text-disabled);
  cursor: default;
}

.main i {
  margin-right: 10px;
}

.main svg {
  fill: var(--action-secondary);
}

.main[disabled] svg {
  fill: var(--text-disabled);
}
