.buttonTextContainer {
  display: flex;
  align-items: center;
  font-size: 18px;
  color: rgb(60, 68, 77);
  letter-spacing: 0.25px;
}

.buttonIcon {
  margin-right: 20px;
  max-height: 28px;

  & svg {
    fill: var(--dark);
  }
}
