.main i {
  margin: 3px 5px 0 0;
  vertical-align: top;
}

/*
 * Themes
 */
.themePrimary, .themeDanger {
  composes: main;

  & svg {
    fill: var(--colony-white);
    stroke: var(--colony-white);
  }
}

.themeSecondary {
  composes: main;

  & svg {
    fill: var(--text);
    stroke: var(--text);
  }

  &:hover {
    & svg {
      fill: color-mod(var(--text) shade(30%));
      stroke: color-mod(var(--text) shade(30%));
    }
  }
}

.themeGhost {
  composes: main;

  & svg {
    fill: var(--black);
    stroke: var(--black);
  }

  &:hover {
    & svg {
      fill: color-mod(var(--colony-black) tint(15%));
      stroke: color-mod(var(--colony-black) tint(15%));
    }
  }
}

.themeUnderlineBold {
  composes: main;

  & svg {
    fill: var(--black);
    stroke: var(--black);
  }
}

.themeBlue {
  composes: main;

  & svg {
    fill: var(--sky-blue);
    stroke: var(--sky-blue);
  }
}

/*
 * Sizes
 */
.sizeSmall {
  & i {
    height: 12px;
    width: 12px;
  }
}

.sizeMedium {
  & i {
    height: 16px;
    width: 16px;
  }
}

.sizeLarge {
  & i {
    height: 18px;
    width: 18px;
    vertical-align: bottom;
  }
}
