.icon {
  height: 10px;
  width: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: var(--temp-grey-blue-7);
}

.icon svg {
  position: absolute;
  top: 0;
  left: 0;
}

.icon:hover {
  fill: var(--action-secondary);
}
