@value containerPadding: 50px;

.content {
  composes: marginBottomMedium from '~styles/layout.css';
  margin-top: 180px;
  min-width: 700px;
  background-color: var(--grey-blue-1);
}

.headingContainer {
  padding: containerPadding containerPadding 0 containerPadding;
}

.choiceHeadingRow {
  composes: flexContainerRow flexJustifyBetween from '~styles/layout.css';
  align-items: baseline;
}

.searchBox {
  display: flex;
  align-items: flex-end;
}

.searchBoxIconContainer {
  margin-bottom: 5px;
  margin-right: 5px;
}

.searchBoxIconContainerActive {
  composes: searchBoxIconContainer;

  & svg {
    stroke: var(--sky-blue);
  }
}

.walletChoicesContainer {
  padding: 0 containerPadding containerPadding containerPadding;
  max-height: 200px;
  overflow-y: auto;
}

.choiceRow {
  composes: flexContainerRow flexJustifyBetween from '~styles/layout.css';
}

.actions {
  composes: alignRight from '~styles/text.css';
}

.noWalletFound {
  composes: alignCenter from '~styles/text.css';
}
