.content {
  composes: marginBottomMedium from '~styles/layout.css';
  composes: alignCenter from '~styles/text.css';
  margin-top: 180px;
  padding: 50px;
  min-width: 700px;
  background-color: var(--grey-blue-1);
}

.choiceHeadingRow {
  composes: flexContainerRow flexJustifyBetween from '~styles/layout.css';
  align-items: baseline;
}

.searchBox {
  display: flex;
  align-items: flex-end;
}

.searchBoxIconContainer {
  margin-bottom: 5px;
  margin-right: 5px;
}

.searchBoxIconContainerActive {
  composes: searchBoxIconContainer;

  & svg {
    stroke: var(--sky-blue);
  }
}

.walletChoicesContainer {
  max-height: 200px;
  position: relative;
  overflow-y: auto;
}

.choiceRow {
  composes: flexContainerRow flexJustifyBetween from '~styles/layout.css';
}

.actions {
  composes: alignRight from '~styles/text.css';
}

.balanceHeading {
  margin-right: 20px;
}

.interactionPrompt {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--grey-blue-1);
}

.interactionPrompt > div {
  margin: 0;
}
