.main {
  composes: field from '~styles/fields.css';
}

.notEditingValueWrapper {
  overflow: hidden;
  text-overflow: ellipsis;
}

.notEditingValueContainer {
  margin: 0 0 15px 0;
  padding-top: 6px;
  color: color-mod(var(--text) alpha(50%));
  cursor: text;
}

.notEditingValueContainer:focus {
  outline: none;
}

.notEditingValue {
  display: inline-block;
  border-bottom: 1px color-mod(var(--text) alpha(50%)) dotted;
  font-weight: var(--weight-bold);
  white-space: nowrap;
}

.inputContainer {
  position: relative;

  & input {
    padding: 0 5px 10px 5px;
    height: 42px;
  }
}

.maxLengthText {
  position: absolute;
  right: 2px;
  bottom: 0;
  font-size: var(--size-small);
  font-weight: var(--weight-bold);
  color: var(--grey-5);
}

/* State */

.stateHasValue .notEditingValueContainer .notEditingValue {
  border-bottom-color: transparent;
  color: var(--text);
}

.stateHasReachedMaxLength .maxLengthText {
  color: var(--danger);
}

.stateReadOnly .notEditingValue {
  cursor: default;
}
