@value reputationColor: rgb(255, 176, 0);

.main {
  padding: 20px;
  width: 460px;
}

.section {
  margin-left: -2px;
  padding: 14px 0;
}

.section:first-of-type {
  padding-top: 0;
  padding-bottom: 18px;
}

.section:last-of-type {
  padding-bottom: 0;
}

.section + .section {
  border-top: 1px solid color-mod(var(--temp-grey-blue-7) alpha(15%));
}

.loadingSpinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.sectionContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.noReputationContainer {
  flex-direction: column;
}

.sectionContainer h4 {
  font-size: var(--size-smallish);
  color: color-mod(var(--temp-grey-blue-7) alpha(85%));
}

.roleList {
  text-align: right;
}

.roleListItem + .roleListItem {
  margin-top: 4px;
}

.tokenAmount {
  font-size: var(--size-smallish);
  font-weight: var(--weight-bold);
  color: var(--dark);
}

.domainName {
  font-size: var(--size-smallish);
  font-weight: var(--weight-bold);
  color: color-mod(var(--dark) alpha(85%));
}

.domainReputationItem {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.domainReputationItem + .domainReputationItem {
  margin-top: 5px;
}

.noReputationDescription {
  margin-top: 5px;
  font-size: var(--size-tiny);
  font-weight: var(--weight-bold);
  line-height: 18px;
  white-space: pre-line;
  color: color-mod(var(--dark) alpha(85%));
}

.reputationContainer {
  display: flex;
  justify-content: flex-end;
  margin-left: 8px;
  width: 64px;
}

.reputation {
  display: inline-block;
  font-size: var(--size-smallish);
  font-weight: var(--weight-bold);
  color: reputationColor;
}

.icon {
  display: inline-block;
  margin-left: 6px;
  height: 11px;
  width: 11px;
}

.icon svg {
  fill: transparent;
  stroke-width: 3px;
  stroke: reputationColor;
}
