@value reputationColor: rgb(255, 176, 0);

.main {
  padding: 20px 25px 25px 25px;
  width: 480px;
  text-align: left;
  letter-spacing: normal;
  cursor: auto;
}

.section {
  padding: 18px 0 0 0;
}

.section:first-of-type {
  padding-top: 0;
  padding-bottom: 18px;
  border-bottom: 1px solid color-mod(var(--temp-grey-blue-7) alpha(15%));
}

.section:last-of-type {
  padding-bottom: 0;
}

.loadingSpinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.sectionContainer {
  display: flex;
  flex-direction: column;
}

.sectionContainer h4 {
  margin-bottom: 18px;
  font-size: var(--size-tiny);
  color: color-mod(var(--temp-grey-blue-7) alpha(85%));
}

.roleList {
  display: flex;
  flex-wrap: wrap;
  gap: 7px;
}

.tokenAmount {
  display: flex;
  align-items: center;
  font-weight: var(--weight-bold);
  color: var(--dark);
}

.tokenAmount span {
  font-size: var(--size-smallish);
}

.tokenAmount figure {
  margin-right: 6px;
}

.domainName {
  font-size: var(--size-smallish);
  font-weight: var(--weight-bold);
  color: color-mod(var(--dark) alpha(85%));
}

.domainReputationItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.domainReputationItem + .domainReputationItem {
  margin-top: 5px;
}

.noReputationDescription {
  margin-top: 5px;
  font-size: var(--size-tiny);
  font-weight: var(--weight-bold);
  line-height: 18px;
  white-space: pre-line;
  color: color-mod(var(--dark) alpha(85%));
}

.reputationContainer {
  display: flex;
  justify-content: flex-end;
  margin-left: 8px;
  width: 70px;
}

.reputation {
  display: inline-block;
  font-size: var(--size-smallish);
  font-weight: var(--weight-bold);
  color: reputationColor;
}

.icon {
  display: inline-block;
  margin-left: 6px;
  height: 11px;
  width: 11px;
}

.icon svg {
  fill: transparent;
  stroke-width: 3px;
  stroke: reputationColor;
}

.bannedTag {
  position: absolute;
  top: 3px;
  right: 5px;
}
