@value containerMarginLeft: 30px;

.main {
  padding: 20px 0;
  border-radius: var(--radius-large);
  background-color: white;
  box-shadow: var(--box-shadow-grey-blue-large);
}

.sectionTitle {
  margin-left: containerMarginLeft;
}

.colonyGrid {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  max-height: 165px;
  overflow: auto;
}

.colonyGridItem {
  margin: 0 containerMarginLeft;
  max-width: 68px;
}

.loader {
  display: flex;
  justify-content: center;
}
