.claimed {
  composes: themeLight from '~core/Tag/Tag.css';
  margin-left: 30px;
  padding: 1px 12px 2px;
  height: 20px;
  border-radius: 5px;
  color: var(--temp-grey-blue-7);
  letter-spacing: 0.5px;
}

.buttonTooltip {
  max-width: 192px;
}

.buttonWithTooltip {
  margin-left: 20px;
}
