@value query700 from '~styles/queries.css';

.layoutMain {
  composes: stretchVertical stretchHorizontal from '~styles/layout.css';
  overflow: auto;
  background-color: var(--grey-blue-2);
}

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 8px;
  height: 60px;
  width: 100%;
  background-color: white;
}

.logo {
  flex: 1;
  margin-left: 13px;
  max-width: 130px;
}

.content {
  composes: flexContainerColumn flexAlignCenter flexJustifyCenter from '~styles/layout.css';
  padding-bottom: 20px;
}

.section .logo-loader svg {
  max-width: 40%;
}

.stepBarContainer {
  padding-right: 20px;
}

@media screen and query700 {
  .content {
    padding-bottom: 60px;
  }

  .content main {
    padding: 0 14px;
  }

  .content main > div:first-child {
    margin-top: 30px;
  }

  .content main > div:first-child h3 {
    text-align: left;
  }
}
