@value tinyIcon: 11px;
@value smallIcon: 12px;
@value mediumIcon: 14px;
@value largeIcon: 15px;
@value hugeIcon: 16px;
@value massiveIcon: 18px;

.main {
  display: block;
  position: relative;
}

.iconWrap {
  margin-top: -10px;

  /*
   * Needed to make the tooltip align better and offset while maintiaing arrow alignment
   */
  width: 0;
}

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon svg {
  height: inherit;
  width: inherit;
  position: absolute;
  top: 0;
  left: 0;
}

.tooltipWrapper {
  width: 250px;
  text-align: left;
}

.main.sizeTiny, .main.sizeTiny .icon {
  height: tinyIcon;
  width: tinyIcon;
}

.main.sizeSmall, .main.sizeSmall .icon {
  height: smallIcon;
  width: smallIcon;
}

.main.sizeMedium, .main.sizeMedium .icon {
  height: mediumIcon;
  width: mediumIcon;
}

.main.sizeLarge, .main.sizeLarge .icon {
  height: largeIcon;
  width: largeIcon;
}

.main.sizeHuge, .main.sizeHuge .icon {
  height: hugeIcon;
  width: hugeIcon;
}

.main.sizeMassive, .main.sizeMassive .icon {
  height: massiveeIcon;
  width: massiveeIcon;
}
