
.main {
  width: 450px;
  text-align: left;
}

.contentSection {
  /* This class not used externally; intended for composing via css only */
  padding: 15px 10px;
}

.gasStationHeader {
  composes: contentSection;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid var(--grey-blue-1);
}

.walletDetails {
  align-self: center;
}

.actionsContainer {
  display: flex;
  align-items: flex-start;
  align-self: flex-start;
}

.transactionsContainer {
  composes: contentSection;
  min-height: 70px;
  max-height: 456px;
  overflow-y: auto;
}

.walletHeading {
  display: inline-block;
}

.walletAddress {
  display: inline-block;
  padding-left: 8px;
}

.goToWalletIcon {
  /* Negative margin to align with close icon - this icon is wide and has a lot of vertical padding */
  margin-top: -5px;
}

.closeButton {
  composes: button from '~styles/reset.css';
  margin-left: 5px;
}

/* State */

.stateIsEmpty .transactionsContainer {
  display: flex;
  align-items: center;
}

.returnToSummary {
  /*
   * @NOTE We're still inside the CardList grid, so we need to counter the grid-gap
   * in order to reduce the spacing between this button and the expanded card
   */
  margin: -5px 0 -10px;
  padding: 0;
  border: none;
  background-color: transparent;
  font-size: var(--size-small);
  font-weight: var(--weight-medium);
  text-align: left;
  color: var(--text);
  cursor: pointer;
}
