.rateContainer {
  padding: 13px 0 12px;
}

.labelButtonWrapper {
  display: flex;
  align-items: center;
}

.labelButtonWrapper button {
  margin-left: 8px;
}

.removeWrapper {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 6px;
  width: 100%;
  font-weight: var(--weight-bold);
  color: var(--colony-blue);
}

.rate {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  letter-spacing: 0.1px;
}

.rate button {
  left: 0;
  font-size: var(--size-small);
}

.rate input::placeholder {
  color: var(--dark);
}

.rate input {
  height: 28px;
  line-height: 18px;
  color: var(--dark);
}

.inputRateAmount {
  margin-right: 16px;
}

.inputRateAmount button {
  padding-left: 0;
}

.inputRateAmount input {
  border-bottom: 1px solid var(--temp-grey-blue-7);
}

.tokenWrapper {
  max-width: 100px;
}

.tokenWrapper button {
  padding: 10.5px 5px 10.5px 10px;
}

.tokenWrapper button figure {
  margin-right: 10px;
}

.selectWrapper button {
  padding: 0;
  min-width: 62px;
  font-size: var(--size-smallish);
  color: var(--action-secondary);
}

.selectWrapper svg {
  fill: var(--action-secondary);
  stroke: var(--action-secondary);
}

.slash {
  margin: 0 6px;
  font-weight: var(--weight-bold);
  color: var(--dark);
}
