.row {
  display: flex;
  align-items: center;
  padding: 8px 0;
  font-size: var(--size-normal);
  font-weight: var(--weight-normal);
  line-height: 18px;
  color: var(--dark);
}

.row > span {
  margin-right: 4px;
}

.smallerPadding {
  padding: 8px 0;
}

.userAvatarContainer {
  display: flex;
  align-items: center;
}

.userAvatarContainer > span {
  margin-left: 8px;
}

.valueLabel {
  align-items: flex-start;
}

.valueItem {
  display: flex;
  align-items: center;
}

.valueItem:not(:last-of-type) {
  padding-bottom: 6px;
}

.tokenIcon {
  margin-right: 10px;
  height: 16px;
  width: 16px;
}
