.container {
  display: flex;
  padding: 2px;
  height: 54px;
  width: 143px;
  position: fixed;
  bottom: 12px;
  left: 60px;
  border-radius: var(--radius-normal);
  background-color: var(--grey-blue-2);
  box-shadow: 0px 4px 27px color-mod(var(--temp-grey-8) alpha(25%));
}

.pinkStripe {
  margin-right: 13px;
  height: 50px;
  width: 4px;
  border-radius: var(--radius-normal);
  background-color: var(--pink);
}

.betaText {
  padding-top: 6px;
  font-weight: var(--weight-bold);
  color: color-mod(var(--dark) alpha(85%));
}

.cautionText {
  font-size: var(--size-tiny);
  font-weight: var(--weight-bold);
  color: color-mod(var(--temp-grey-blue-7) alpha(85%));
}

.link {
  margin: 18px 0;
  width: 100%;
  font-size: var(--size-tiny);
  font-weight: var(--weight-bold);
  text-align: center;
  color: var(--sky-blue);
}
