@import 'variables.css';

td.inboxDetails {
  flex-wrap: wrap;
  font-weight: var(--weight-semi);
}

tr.inboxRow{
  height: 88px;
}

.inboxDetail {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--colony-black);
  margin: 0px 5px;
}
.inboxAction {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 400;
  color: var(--grey-3);
}

.additionalDetails{
  width: 100%;
  display: flex;
  font-size: var(--size-small);
}

.preposition{
  margin: 0 4px;
}

.userAvatar{
  margin: 0 5px;
}

.pipe{
  margin: 0 10px;
}

.inboxDomain{
  display: block;
}

