
@import 'variables.css';

.inboxContainer {
  align-self: center;
  width: 98%;
  max-width: 940px;
  box-shadow: 0 3px 0 0 var(--temp-grey-blue-4);
  height: 525px;
  overflow: scroll;
}

.templateContainer {
  height: 100%;
  background-color: var(--grey-blue-2);
}

/* table.lego {
  border: 1px solid var(--temp-grey-blue-2);
  border-bottom: none;
} */
