.inboxRowCell {
  width: 100%;
}

.inboxDetails {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 24px 20px;
  position: relative;
  font-weight: var(--weight-semi);
}

.inboxDetail {
  overflow: hidden;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--colony-black);
}

.inboxAction {
  /*
   * @NOTE Netative margins used to better align
   * the event's copy with the user's avatar
   */
  margin-top: -5px;
  overflow: hidden;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--grey-3);
}

.additionalDetails {
  display: flex;
  margin-top: 2px;
  width: 100%;
  font-size: var(--size-small);
}

.userAvatar {
  margin-right: 10px;
}

.time {
  font-weight: var(--weight-thin);
}

.pipe {
  margin: 0 10px;
  font-weight: var(--weight-thin);
}

.inboxDomain {
  display: block;
}

.inboxUnread {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}

.inboxUnreadAction {
  border-left: 2px solid var(--pink);
}

.inboxUnreadNotification {
  border-left: 2px solid var(--sky-blue);
}

.fullWidthLink {
  width: 100%;
}

.noStyleButton {
  padding: none;
  padding: var(--pad-none);
  height: auto;
  width: 100%;
  border-color: none;
  border-color: transparent;
  background-color: none;
  font-size: inherit;
  cursor: pointer;
}

.noStyleButton:focus {
  outline: none;
}
