@value wideButton: 197px;
@value width: 419px;

.heading {
  margin-bottom: 20px;
}

.safePicker {
  margin: 20px 0;
}

.safePicker input {
  width: width;
  max-width: width;
}

.safePicker button {
  max-width: width;
  color: var(--dark);
}

.safePicker div + i {
  left: 412px;
}

.safePicker label + i svg {
  stroke: unset;
}

.safePicker label {
  color: var(--dark);
}

.transactionTypeSelectContainer label {
  color: var(--dark);
}

.addTransaction {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
