@value wideButton: 197px;
@value width: 419px;

.heading {
  margin-bottom: 20px;
}

.safePicker {
  margin: 20px 0;
}

.safePicker input {
  width: width;
  max-width: width;
}

.safePicker button {
  max-width: width;
  color: var(--dark);
}

.safePicker div + i {
  left: 412px;
}

.safePicker label + i svg {
  stroke: unset;
}

.safePicker label {
  color: var(--dark);
}

.transactionTypeSelectContainer label {
  color: var(--dark);
}

.addTransaction {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.transactionHeading {
  display: flex;
  align-items: center;
  padding: 16px 32px 16px 20px;
  height: 52px;
  border-bottom: 1px solid color-mod(var(--action-secondary) alpha(12%));
  background-color: color-mod(var(--action-secondary) alpha(6%));
}

.transactionHeading h4 {
  margin-right: auto;
}

.tabButton {
  display: flex;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.tabButtonIcon {
  display: flex;
  height: 100%;
  width: 10px;
  fill: var(--temp-grey-blue-7);
}

.tabButtonIcon:last-child {
  margin-left: 18px;
}

.deleteTabIcon {
  display: none;
  margin-right: 10px;
  padding: 5px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  fill: var(--danger);
}

.deleteTabIcon:hover {
  background-color: color-mod(var(--action-secondary) alpha(10%));
}

.deleteTabTooltip {
  text-align: left;
  white-space: pre-line;
}

.transactionHeading:hover .deleteTabIcon {
  display: unset;
}

.toggleTabIcon {
  width: 10px;
  fill: var(--dark);
  transform: rotate(180deg);
}

.tabContentClosed {
  display: none;
}

.transactionHeadingOpen {
  margin-bottom: 18px;
  border-bottom: 1px solid transparent;
  background-color: transparent;
}

.transactionHeadingOpen .toggleTabIcon {
  transform: none;
}

.transactionTitle {
  margin-bottom: 20px;
  font-size: var(--size-normal);
  font-weight: var(--weight-bold);
  color: var(--dark);
}

.detailsItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 46px;
  width: 100%;
  border-bottom: 1px solid color-mod(var(--temp-grey-blue-7) alpha(15%));
  font-size: var(--size-smallish);
  font-weight: var(--weight-bold);
}

.detailsItemLabel {
  color: var(--temp-grey-blue-7);
}

.nftValue {
  color: var(--pink);
}

.detailsItemValue {
  color: var(--dark);
}

.tokenAmount {
  display: flex;
  align-items: center;
}

.tokenAmount > figure {
  margin-right: 8px;
}

.tokenAmount > span {
  font-size: var(--size-smallish);
}

.tokenAmount > figure > div {
  border-radius: 0;
}
