.main {
  height: 488px;
  width: 240px;
}

.tabsContainer {
  display: flex;
  height: 42px;
}

.containerPartBorder {
  border-bottom: 1px solid var(--temp-grey-13);
}

.tab {
  padding: 11px 0;
  width: 50%;
  border: none;
  border-bottom: 1px solid var(--temp-grey-13);
  background-color: inherit;
  font-weight: var(--weight-bold);
  text-align: center;
  color: var(--temp-grey-blue-7);
  outline: none;
}

.selectedTab {
  composes: tab;
  border-bottom-color: var(--primary);
  color: var(--primary);
}

.container {
  height: 100%;
  width: 100%;
}

.totalTokensContainer {
  composes: containerPartBorder;
  display: flex;
  align-items: center;
  padding-left: 18px;
  height: 64px;
  width: 100%;
}

.totalTokens {
  margin-left: 16px;
  font-size: var(--size-medium-l);
  color: var(--dark);
}

.totalTokens > span {
  font-size: var(--size-medium);
}

.tokensDetailsContainer {
  composes: containerPartBorder;
  padding: 21px 0 0 18px;
  height: 163px;
  width: 100%;
}

.listItem {
  display: flex;
  align-items: baseline;
  font-size: var(--size-smallish);
  font-weight: var(--weight-bold);
  color: var(--temp-grey-blue-7);
}

.listItemTitle {
  margin-left: 10px;
}

.disc {
  height: 10px;
  width: 10px;
  border-radius: 50%;
}

.greenDisc {
  composes: disc;
  background: var(--primary);
}

.redDisc {
  composes: disc;
  background: var(--pink);
}

.tokenNumbers {
  margin-left: 20px;
  color: var(--dark);
  font: var(--size-normal);
}

.previousTotalAmount {
  display: flex;
  align-items: center;
  margin: 0 0 21px 20px;
  font-size: var(--size-tiny);
  color: var(--text-disabled);
}

.previousTotalAmount > p {
  margin-left: 8px;
}

.changeTokensState {
  padding: 20px 0 0 26px;
  height: 219px;
  width: 100%;
}

.changeStateTitle {
  margin-bottom: 15px;
  font-size: var(--size-smallish);
  font-weight: var(--weight-bold);
  color: var(--dark);
}

.changeStateButtonsContainer {
  display: flex;
}

.baseButton {
  width: 95px;
}

.whiteButton {
  composes: baseButton;
  border: 1px solid --temp-grey-blue-7;
  background-color: white;
}

.leftBorders {
  composes: whiteButton;
  border-right: none;
}

.rightBorders {
  composes: whiteButton;
  border-left: none;
}

.claimsContainer {
  composes: container;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--size-smallish);
  font-weight: var(--weight-bold);
  color: var(--dark);
}
