@value paddingVertical: 20px;
@value paddingHorizontal: 30px;

.main {
  display: flex;
  align-items: center;
  padding: paddingVertical paddingHorizontal;
  position: relative;
}

.actionMenuContainer {
  position: absolute;
  top: paddingVertical;
  left: calc(paddingHorizontal / 2);
}

.titleContainer {
  flex-grow: 1;
}

.authorText {
  color: var(--grey-3);
}

.upvoteContainer {
  display: flex;
  align-items: center;
}

.upvoteCount {
  font-weight: var(--weight-medium);
}

.upvoteButtonContainer {
  padding-left: 30px;
}
