.main {
  word-wrap: break-word;
}

.inputFieldSet {
  max-width: 360px;
}

.usernameContainer {
  composes: inlineEllipsis from '~styles/text.css';
  margin: 15px 0;
}

.toggle {
  margin-bottom: 20px;
}

.inputFieldSet p {
  font-size: var(--size-small);
  font-weight: var(--weight-bold);
  color: var(--danger);
}
