.main {
  width: 120px;
  position: relative;
  bottom: 22px;
}

.stepCounter {
  padding-top: 5px;
  position: relative;
  top: 10px;
  font-size: var(--size-small);
  font-weight: var(--weight-medium);
  text-align: center;
  color: var(--temp-grey-2);
}

.progressContainer {
  margin-bottom: 13px;
}
