@value borderColor: var(--grey-blue-0);

.main {
  padding: 20px;
}

.themeHeading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 20px 20px;
}

.themeSidePadding {
  padding: 0 20px;
}

.themeFooter {
  padding: 20px;
  background-color: color-mod(var(--temp-grey-blue-4) alpha(25%));
}

.alignRight {
  text-align: right;
}

.alignCenter {
  text-align: center;
}

.borderNone {
  border-color: transparent;
}

.borderTop {
  border-top: 1px solid borderColor;
}

.borderBottom {
  border-bottom: 1px solid borderColor;
}

.borderGrey {
  border: 1px solid var(--grey-blue-0);
  border-radius: var(--radius-tiny);
}
