.modal {
  max-height: calc(100vh - 28px);
  position: relative;
  z-index: var(--z-index-dialog);
  overflow-y: auto;
  outline: none;
}

.main {
  width: 500px;
  border-radius: var(--radius-normal);
  background-color: var(--colony-white);
}

.dialogOuterActions {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 18px;
}

.closeIconButton {
  padding: 0;
  border: 0;
  background: 0;
}

.closeIconButton svg {
  fill: var(--colony-white);
  stroke: var(--colony-white);
  cursor: pointer;
}
