@font-face {
  font-family: IBM Plex Mono;
  font-weight: 500;
  src:
    url('../fonts/IBMPlexMono-Medium.woff') format('woff'),
    url('../fonts/IBMPlexMono-Medium.woff2') format('woff2');
}

@font-face {
  font-family: IBM Plex Mono;
  font-weight: 400;
  src:
    url('../fonts/IBMPlexMono-Regular.woff') format('woff'),
    url('../fonts/IBMPlexMono-Regular.woff2') format('woff2');
}

/*
 * @NOTE This was renamed to MuliWeb due to naming rights issues
 * Please keep it as it is for the foreseeable future
 */
@font-face {
  font-family: MuliWeb;
  src:
    url('../fonts/muliweb.woff2') format('woff2'),
    url('../fonts/muliweb.woff') format('woff');
}

@font-face {
  font-family: MuliWeb;
  font-style: italic;
  src:
    url('../fonts/muliweb-italic.woff2') format('woff2'),
    url('../fonts/muliweb-italic.woff') format('woff');
}

@font-face {
  font-family: MuliWeb;
  font-weight: 300;
  src:
    url('../fonts/muliweb-light.woff2') format('woff2'),
    url('../fonts/muliweb-light.woff') format('woff');
}

@font-face {
  font-family: MuliWeb;
  font-weight: 700;
  src:
    url('../fonts/muliweb-bold.woff2') format('woff2'),
    url('../fonts/muliweb-bold.woff') format('woff');
}
