@import 'variables.css';

:root {
  --choicePaddingHorizontal: 30px;
  --choicePaddingVertical: 10px;
  --containerPadding: 50px;
}

.content {
  composes: marginBottomMedium from '~styles/layout.css';
  min-width: 700px;
  background-color: var(--grey-blue-1);
}

.headingContainer {
  padding: var(--containerPadding) var(--containerPadding) 0 var(--containerPadding);
}

.choiceHeadingRow {
  composes: flexContainerRow flexJustifyBetween from '~styles/layout.css';
}

.searchBox {
  display: flex;
  align-items: flex-end;
}

.searchBoxIconContainer {
  margin-bottom: 5px;
}

.walletChoicesContainer {
  padding: 0 var(--containerPadding) var(--containerPadding) var(--containerPadding);
  max-height: 200px;
  overflow-y: auto;
}

.choiceRow {
  composes: flexContainerRow flexJustifyBetween from '~styles/layout.css';
}

.choiceCell {
  font-weight: var(--weight-medium);
}

.choiceInputContainer {
  padding: var(--choicePaddingVertical) calc(var(--choicePaddingHorizontal)/2) var(--choicePaddingVertical) 0;
}

.choiceLabelContainer {
  composes: choiceCell;
  composes: flexContent from '~styles/layout.css';
  padding: var(--choicePaddingVertical) calc(var(--choicePaddingHorizontal) * 2) var(--choicePaddingVertical) 0;
}

.choiceBalanceContainer {
  composes: choiceCell;
  padding: var(--choicePaddingVertical) 0 var(--choicePaddingVertical) var(--choicePaddingHorizontal);
}

.addressPart+.addressPart {
  margin-left: 15px;
}

.actions {
  composes: alignRight from '~styles/text.css';
}
