@import 'variables.css';

.content {
  composes: marginBottomMedium from '~styles/layout.css';
  background-color: var(--grey-blue-1);
  padding: 50px;
}

.actions {
  composes: alignRight from '~styles/text.css';
}