.primaryText {
  font-weight: var(--weight-medium);
  color: var(--grey-1);
}

.secondaryText {
  margin-top: 2px;
  font-size: var(--size-small);
  color: var(--grey-3);
  letter-spacing: 0.5px;
}

.taskLink:hover {
  border-bottom: 1px solid var(--sky-blue);
  color: var(--sky-blue);
}
