@import 'variables.css';

:root {
  --header-height: 60px;
}

.main {
  composes: stretchVertical from '~styles/layout.css';
  flex: 1;
  background-color: var(--grey-blue-2);
}

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 8px;
  height: var(--header-height);
  width: 100%;
  background-color: white;
}

.logo {
  flex: 1;
  margin-left: 13px;
  max-width: 90px;
}

.mainContent {
  composes: stretchVertical flexContainerRow flexAlignCenter flexJustifyCenter from '~styles/layout.css';
  margin-top: 124px;
  overflow-y: auto;
}

.contentInner {
  width: 600px;
}
