.row {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}

.amount {
  padding-right: 5px;
  font-size: var(--size-medium-l);
}

.editContainer {
  display: flex;
}

.selectToken {
  flex: 1;
  margin-left: 20px;
}

.setAmount {
  flex: 2;
}

.reputation {
  font-size: var(--size-small);
  font-weight: var(--weight-semi);
  color: var(--sky-blue);
}

.conversion {
  font-weight: var(--weight-semi);
}

.fundingDetails {
  margin-left: 35%;
}

.networkFeeRow {
  display: flex;
  justify-content: flex-end;
}
