@import 'variables.css';

:root {
  --sidebar-width: 350px;
}

.main {
  composes: stretchVertical stretchHorizontal from '~styles/layout.css';
  display: grid;
  padding: 10% 80px 10% 80px;
  overflow: auto;
  background: var(--gradient-default);
  grid-template-columns: minmax(200px, 340px) minmax(360px, auto) minmax(120px, 200px);
  grid-template-rows: 100%;
  column-gap: 80px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 125px;
  position: fixed;
  top: 20px;
  left: 20px;
}

.colonyInfo {
  grid-column: 1;
  grid-row: 1;
}

.colonyInfo::before {
  height: 100%;
  position: absolute;
  bottom: 0;
  left: var(--sidebar-width);
  border-right: 1px solid var(--temp-grey-5);
  content: '';
}

.content {
  height: 100%;
  grid-column: 2;
  grid-row: 1;
}
