.listMain {
  display: flex;
  align-items: center;
  padding: 21px 16px 21px 0;
  width: 100%;
  border: none;
  border-top: 1px solid var(--grey-blue-0);
  background: none;
  text-align: left;

  &:last-of-type {
    border-bottom: 1px solid var(--grey-blue-0);
  }
}

.rowContent {
  flex: 1;
}

.rowIcon {
  margin: 0 10px;
  max-height: 36px;
  width: 36px;
}

.main {
  padding: 0px 30px;
}

.main.marginNone {
  padding: 0px;
}

.main.layoutCompact .listMain {
  padding: 12px 16px 12px 0;
}
