.main {
  height: 100%;
}

.content {
  display: flex;
  height: 100%;
}

.coloniesList {
  flex: 0 0 auto;
  width: 60px;
  position: fixed;
  border-right: 1px solid var(--temp-grey-13);
}

.children {
  flex: 1 1 auto;
  width: 100%;
}

.history {
  padding: 22px 0 0 20px;
  position: absolute;
  top: 0;
  left: 50px;
  background-color: transparent;
}

.history a {
  margin: 0;
  padding: 1px 0;
  color: color-mod(var(--dark) alpha(70%));
}

.history svg {
  fill: color-mod(var(--dark) alpha(70%));
}

.onlyHistory {
  composes: history;
  left: 0;
}
