.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 14px 0px 14px;
  height: 100%;
  border-left: 1px solid var(--temp-grey-13);
  gap: 5px;
}

.menu-line {
  height: 3px;
  width: 21px;
  background-color: var(--primary);
}

.menuOpen {
  background-color: white;
}
