.main {
  display: flex;
  align-items: center;
  padding: 10px 14px;
}

.main:hover {
  cursor: pointer;
}

[aria-selected="true"] > .main {
  background-color: var(--colony-light-blue);
}

.dataContainer {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  align-items: center;
  margin: 0 0 0 12px;
  min-width: 0;
  max-width: 100%;
}

.displayName {
  composes: inlineEllipsis from '~styles/text.css';
}

.showAddress .fullName {
  margin-right: 5px;
  width: auto;
}

.address {
  width: 100%;
  font-size: var(--size-small);
  font-weight: var(--weight-bold);
  line-height: 1.5;
  color: var(--temp-grey-4);
}

.thatsYou {
  display: inline-block;
  margin-left: 5px;
  font-size: var(--size-small);
  font-weight: var(--weight-normal);
}

.mention {
  font-weight: var(--weight-bold);
  color: var(--pink);
}
