@import 'variables.css';

.main {
  display: flex;
  align-items: center;
  padding: 10px 7px;
}

.main:hover {
  cursor: pointer;
}

[aria-selected="true"] > .main {
  background-color: var(--grey-blue-0);
}

.dataContainer {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  align-items: center;
  margin: 0 0 0 12px;
}

.fullName {
  width: 100%;
  font-size: var(--size-normal);
  font-weight: var(--weight-semi);
  line-height: 1.5;
  color: var(--text);
}

.showAddress .fullName {
  margin-right: 5px;
  width: auto;
}

.username {
  font-size: var(--size-small);
  font-weight: var(--weight-semi);
  line-height: 1.5;
  color: var(--pink);
}

.address {
  width: 100%;
  font-size: var(--size-small);
  font-weight: var(--weight-semi);
  line-height: 1.5;
  color: var(--temp-grey-4);
}

.thatsYou {
  display: inline-block;
  margin-left: 5px;
  font-size: var(--size-small);
  font-weight: var(--weight-normal);
}
