@value query700 from '~styles/queries.css';

.main {
  composes: field from '~styles/fields.css';
  width: 100%;
}

.directionHorizontal {
  composes: main;
}

.widthWide input {
  width: 330px;
}

.labelWrap {
  flex: 0 0 100%;
}

.directionHorizontal .labelWrap {
  flex: 0 1 auto;
}

.container {
  flex: 1 0 auto;
  position: relative;
}

.container input:disabled {
  border-color: var(--text-disabled);
}

.inputContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
}

.avatarContainer {
  display: flex;
  flex: 0 0 26px;
}

.icon {
  flex: 0 0 26px;
  height: 26px;
  width: 26px;

  & svg {
    fill: var(--grey-5);
    stroke: var(--grey-5);
  }
}

.focusIcon {
  composes: icon;

  & svg {
    fill: var(--sky-blue);
    stroke: var(--sky-blue);
  }
}

.baseInput {
  flex: 1 1 0;
  margin-left: 10px;
  padding: 5px 3px;
  height: 32px;
  width: 100%;
  max-width: 305px;
  vertical-align: baseline;
  border: none;
  border-bottom: 1px solid var(--temp-grey-blue-7);
  background-color: transparent;
  font-size: var(--size-normal);
  text-align: left;
  color: var(--colony-black);
  outline: none;

  &[aria-invalid='true'] {
    border-color: var(--danger);
  }

  &:disabled {
    border-color: var(--text-disabled);
    color: var(--temp-grey-blue-7);
  }
}

.baseInput::placeholder {
  color: var(--temp-grey-blue-7);
  opacity: 0.65;
}

.input {
  composes: baseInput;
  width: 100%;

  &:focus {
    border-color: var(--primary);
  }

  &:disabled {
    border-color: var(--text-disabled);
  }
}

.inputInvalid {
  composes: input;
  border-color: var(--danger);
}

.recipientName {
  composes: baseInput;
  padding-right: 15px;
  overflow: hidden;
  font-weight: var(--weight-bold);
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--danger);

  &:hover {
    cursor: text;
  }

  &:focus {
    border-color: var(--colony-black);
  }
}

.omniPickerContainer {
  width: 100%;
  max-width: 330px;
  position: absolute;
  top: 35px;
  left: 10px;
  z-index: var(--z-index-nav);
}

.errorHorizontal {
  margin-top: 5px;
  position: absolute;
  top: 100%;
  right: 15px;
  font-size: var(--size-tiny);
  color: var(--danger);
}

.omniContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 5px;
}

.arrowIcon {
  width: 9px;
  position: absolute;
  top: 4px;
  left: 305px;
}

.arrowIconActive svg {
  fill: var(--primary);
  transform: rotate(180deg);
}

.maskedAddress > span {
  margin-left: 5px;
  font-weight: 500;
  color: var(--temp-grey-blue-7);
}

@media screen and query700 {
  .container {
    display: flex;
    align-items: center;
  }

  .arrowIcon {
    display: flex;
    padding: 11px 0;
    position: static;
    border-bottom: 1px solid var(--temp-grey-blue-7);
  }

  .widthWide input {
    width: auto;
  }

  .omniPickerContainer {
    left: 0px;
  }

  .input:placeholder-shown {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .arrowIconActive {
    border-bottom-color: var(--primary);
  }

  .baseInput,
  .omniPickerContainer,
  .recipientName {
    max-width: none;
  }
}
