.main {
  composes: field from '~styles/fields.css';
  width: 100%;
}

.directionHorizontal {
  composes: main;
}

.widthWide input {
  width: 330px;
}

.labelWrap {
  flex: 0 0 100%;
}

.directionHorizontal .labelWrap {
  flex: 0 1 auto;
}

.container {
  flex: 1 0 auto;
  position: relative;
}

.container input:disabled {
  border-color: var(--text-disabled);
}

.inputContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
}

.avatarContainer {
  flex: 0 0 26px;
}

.icon {
  flex: 0 0 26px;
  height: 26px;
  width: 26px;

  & svg {
    fill: var(--grey-5);
    stroke: var(--grey-5);
  }
}

.focusIcon {
  composes: icon;

  & svg {
    fill: var(--sky-blue);
    stroke: var(--sky-blue);
  }
}

.baseInput {
  flex: 1 1 0;
  margin-left: 10px;
  padding: 5px 3px;
  height: 32px;
  width: 100%;
  max-width: 305px;
  vertical-align: baseline;
  border: none;
  border-bottom: 1px solid var(--temp-grey-blue-7);
  background-color: transparent;
  font-size: var(--size-normal);
  text-align: left;
  color: var(--colony-black);
  outline: none;

  &[aria-invalid="true"] {
    border-color: var(--danger);
  }

  &:disabled {
    border-color: var(--text-disabled);
    color: var(--temp-grey-blue-7);
  }
}

.baseInput::placeholder {
  color: var(--temp-grey-blue-7);
  opacity: 0.65;
}

.inputInvalid {
  border-color: var(--danger);
}

.input {
  composes: baseInput;
  width: 100%;

  &:focus {
    border-color: var(--primary);
  }

  &:disabled {
    border-color: var(--text-disabled);
  }
}

.recipientName {
  composes: baseInput;
  overflow: hidden;
  font-weight: var(--weight-bold);
  text-overflow: ellipsis;
  color: var(--danger);

  &:hover {
    cursor: text;
  }

  &:focus {
    border-color: var(--colony-black);
  }
}

.omniPickerContainer {
  width: 100%;
  max-width: 330px;
  position: absolute;
  top: 35px;
  left: 10px;
  z-index: var(--z-index-nav);
}

.errorHorizontal {
  margin-top: 5px;
  position: absolute;
  top: 100%;
  right: 15px;
  font-size: var(--size-tiny);
  color: var(--danger);
}

.omniContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 5px;
}

.arrowIcon {
  height: 24px;
  width: 24px;
  position: absolute;
  top: 2px;
  left: 298px;
}

.arrowIconActive svg {
  fill: var(--primary);
  transform: rotate(180deg);
}
