.baseInput {
  flex: 1 1 0;
  padding: 5px 3px;
  height: 32px;
  max-width: 305px;
  vertical-align: baseline;
  border: none;
  background-color: transparent;
  font-size: var(--size-normal);
  text-align: left;
  color: var(--colony-black);
  outline: none;

  &[aria-invalid="true"] {
    border-color: var(--danger);
  }

  &:disabled {
    border-color: var(--text-disabled);
    color: var(--temp-grey-blue-7);
  }
}

.recipientName {
  composes: baseInput;
  overflow: hidden;
  font-weight: var(--weight-bold);
  text-overflow: ellipsis;
  color: var(--danger);

  &:hover {
    cursor: text;
  }

  &:focus {
    border-color: var(--colony-black);
  }
}

.input {
  composes: baseInput;
  width: 100%;

  &:focus {
    border-color: var(--primary);
  }

  &:disabled {
    border-color: var(--text-disabled);
  }
}

.inputWithIcon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 25px;
}

.inputWrapper {
  padding: 17px;
  background-color: white;
}

.small {
  font-size: var(--size-smallish);
}

.icon {
  flex: 0 0 26px;
  height: 26px;
  width: 26px;
}

.omniPickerContainer {
  width: 100%;
  max-width: 330px;
  position: absolute;
  top: -6px;
  left: 100%;
  z-index: var(--z-index-nav);
}
