@value marginSize: 16px;
@value wideButton: 160px;

.tokenChoiceContainer {
  max-height: 250px;
  position: relative;
  overflow: auto;
  border-bottom: 1px solid color-mod(var(--temp-grey-blue-7) alpha(15%));
}

.description {
  margin-bottom: marginSize;
  font-size: var(--size-normal);
  color: var(--dark);
}

.textarea {
  margin-top: calc(marginSize * 2);
}

.noPermissionMessage {
  margin: -20px 0 20px;
  font-size: var(--size-tiny);
  font-weight: var(--weight-bold);
  line-height: 18px;
  color: var(--danger);
}

.noPermissionMessage > div {
  vertical-align: bottom;
}

.modalHeading {
  padding: 32px 0 20px;
}

.headingContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.motionVoteDomain {
  margin: 6px 0;
}
