@value query700 from '~styles/queries.css';

.main {
  display: flex;
  justify-content: space-between;
  padding: 15px 10px;
  border-bottom: 2px solid var(--grey-blue-1);
}

.walletDetails {
  align-self: center;
}

.walletHeading {
  display: inline-block;
}

.walletAddress {
  display: inline-block;
  padding-left: 8px;
}

.actionsContainer {
  display: flex;
  align-items: flex-start;
  align-self: flex-start;
}

.goToWalletIcon {
  /* Negative margin to align with close icon - this icon is wide and has a lot of vertical padding */
  margin-top: -5px;
}

.closeButton {
  composes: button from '~styles/reset.css';
  margin-left: 5px;
}

@media screen and query700 {
  .main {
    border-bottom-width: 1px;
  }

  .actionsContainer {
    gap: 10px;
  }

  .actionsContainer > a {
    padding-top: 5px;
  }

  .closeButton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 26px;
    width: 26px;
    border: 1px solid color-mod(var(--dark) alpha(0.65));
    border-radius: 50%;
  }

  .closeButton i {
    transform: scale(1.3);
  }

  .closeButton svg {
    fill: color-mod(var(--dark) alpha(0.65));
  }

  .connectedNetwork {
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 0.5px;
  }
}
