@import 'variables.css';

.content {
  width: 460px;
}

.title {
  margin-top: 180px;
}

.subtitle {
  margin-bottom: 65px;
}

.greyBox {
  padding: 60px;
  min-height: 86px;
  position: relative;
  border: 1px solid rgb(213, 213, 213);
  border-radius: 3px;
  background-color: rgb(232, 236, 245);
  text-align: center;
}

.buttonsForBox {
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
  margin-bottom: 10px;
}

.wordContainer {
  overflow: hidden;
  border-bottom: 1px solid var(--grey-blue-0);
}
