.finalContainer {
  margin-top: 224px;
  padding: 20px 30px;
  height: 364px;
  width: 500px;
  border: 1px solid var(--temp-grey-0);
  border-radius: 5px;
  background: var(--colony-white);
}

.cardRow {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}

.cardElement {
  flex: 1;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 48px;
}
