.main {
  display: flex;
  flex-direction: column;
}

.main section:last-of-type {
  margin-bottom: 55px;
}

.sectionOpen {
  margin-bottom: 55px;
}

.title div {
  color: var(--dark);
}

.title i {
  cursor: pointer;
}

.title svg {
  height: 8px;
  width: 12px;
}

.contractItem figure {
  margin-right: 10px;
  height: 28px;
  width: 28px;
  min-width: 28px;
}

.contractAddress {
  display: flex;
  column-gap: 8px;
}

.contractAddress > span:first-child {
  color: var(--pink);
}

.recipient div + span {
  display: flex;
}

.recipient figure {
  height: 32px;
  width: 32px;
  min-width: 32px;
}

.recipient figure div {
  height: 28px;
  width: 28px;
}

.recipient > div:nth-of-type(2) {
  max-width: 250px;
}

.recipient figure ~ span:nth-of-type(2) {
  margin-top: 4px;
  font-family: var(--family-techie);
  font-size: var(--size-smallish);
  line-height: var(--size-smallish);
}

.value span {
  padding: 15px 0px;
}

.data span {
  padding: 15px 0px;
  text-align: right;
  white-space: break-spaces;
  overflow-wrap: break-word;
}

.nft {
  display: flex;
  column-gap: 10px;
}

.nft span {
  color: var(--pink);
  column-gap: 10px;
}

.nft figure {
  height: 28px;
  width: 28px;
  min-width: 28px;
}

.nft figure > div {
  border-radius: 4px;
}

.tokenContainer {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.tokenContainer > div {
  column-gap: 4px;
}

.ether {
  height: 28px;
  width: 28px;
}

.functionArg {
  text-align: right;
  white-space: break-spaces;
  overflow-wrap: anywhere;
}

.arrayContainer {
  flex-direction: column;
  padding: 5px 0px;
  row-gap: 10px;
}

.arrayItem {
  composes: item from '../DetailsWidget.css';
  width: 150px;
  border-bottom: 0px;
  column-gap: 29px;
}

.address {
  color: var(--temp-grey-blue-7);
}

.tokenAvatar {
  height: 28px;
  width: 28px;
  min-width: 28px;
}

.tokenAvatar + div {
  column-gap: 2px;
}

.tokenAvatar + div > span:last-of-type {
  min-width: fit-content;
}
