@import 'variables.css';

:root {
  --padding-horizontal: 90px;
  --sidebar-width: 420px;
}

.profileTemplate {
  display: flex;
  flex-direction: row;
}

.sidebar {
  padding: 100px var(--padding-horizontal);
  height: 100%;
  width: var(--sidebar-width);
  position: fixed;
  overflow: auto;
  background: var(--gradient-default);
}

.mainContainer {
  width: 100%;
}

.mainContent {
  margin-left: var(--sidebar-width);
  padding: 20px var(--padding-horizontal);
  max-width: 930px;
}
