.widgetForm {
  margin-top: 20px;
  margin-bottom: 55px;
  font-weight: var(--weight-bold);
}

.inputStorageSlotContainer {
  padding-bottom: 15px;
  border-bottom: 1px solid color-mod(var(--temp-grey-blue-7) alpha(15%));
}

.inputStorageSlotContainer:nth-child(2) {
  margin-top: 20px;
  padding-bottom: 15px;
}

.inputStorageSlotContainer textarea {
  font-family: var(--family-techie);
  font-size: var(--size-normal);
  font-weight: var(--weight-medium);
}

.inputStorageSlotContainer div p {
  display: none;
}

.inputValidationError {
  display: block;
  margin: -9px 0 8px;
}

.currentValueText {
  margin: -5px 0;
  font-size: var(--size-tiny);
  word-break: break-all;
  color: var(--temp-grey-blue-7);
}

.currentValueText span {
  font-family: var(--family-techie);
  color: color-mod(var(--temp-grey-blue-7) alpha(80%));
}

.controls {
  text-align: right;
}

.controls button {
  width: 100px;
  font-size: var(--size-small);
}
