:root {
  --custom-ghost-border: rgb(159, 159, 159);
}

.main {
  composes: field from '~styles/fields.css';
}

.generator {
  padding: 22px 60px;
  position: relative;
  border: 1px solid var(--temp-grey-5);
  border-radius: var(--radius-small);
  background-color: var(--grey-blue-1);
  text-align: center;
}

.mnemonic {
  font-weight: var(--weight-semi);
  line-height: 1.5;
}

.buttons {
  display: flex;
  justify-content: flex-end;
}

.heading {
  flex: 1;
  margin-top: 16px;
  font-weight: var(--weight-semi);
}

/*
 * Non-standard styles
 *
 * We have to use non-standard border colors for the `ghost` button theme, and since this is the only occurence, we are declaring it locally.
 */
.customGhostButton {
  composes: default ghost from '../Button/Button.css';
  border-color: var(--custom-ghost-border);
}
