@import 'variables.css';

.main {
  overflow-wrap: break-word;
}

.avatar {
  margin-bottom: 10px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 0 20px var(--temp-grey-blue-2);
}

.description {
  margin-top: 15px;
  margin-left: 52px;
  padding-bottom: 15px;
  min-height: 75px;
  border-bottom: 1px solid var(--temp-grey-5);
}

.dynamicSection {
  margin-top: 25px;
  margin-left: 52px;
}

.link {
  font-weight: var(--weight-normal);
  color: var(--text);
}

.editColony {
  display: inline-block;

  /*
   * @NOTE Negative Margins
   * Added in order to perfectly align the settings icon
   */
  margin: -2px 0 0 6px;
  padding: 0;
  vertical-align: -webkit-baseline-middle;
}

.avatarWrapper {
  display: inline-block;
  margin: 0 9px 0 0;
}

.userAvatar {
  margin-top: 9px;
  cursor: pointer;
}

.colonyAvatarAndName {
  display: flex;
  position: relative;
}

.headingAndSettings {
  margin-top: 3px;
  position: absolute;
  left: 49px;
}

.dynamicTextSection {
  composes: dynamicSection;
  composes: multiLineEllipsis from '~styles/text.css';
}

.simpleLinkWebsite {
  display: block;
  margin-top: 20px;
  font-weight: var(--weight-normal);
  color: var(--text);
}

.simpleLinkGuideline {
  display: block;
  margin-bottom: 40px;
  font-weight: var(--weight-normal);
  color: var(--text);
}

.spinnerContainer {
  margin-top: 14px;
}
