@import 'variables.css';

.main {
  overflow-wrap: break-word;
}

.avatar {
  margin-bottom: 10px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 0 20px var(--temp-grey-blue-2);
}

.description {
  margin-top: 15px;
  margin-left: 52px;
  padding-bottom: 15px;
  min-height: 75px;
  border-bottom: 1px solid var(--temp-grey-5);
}

.editColony {
  display: inline-block;

  /*
   * @NOTE Negative Margins
   * Added in order to perfectly align the settings icon
   */
  margin: -2px 0 0 6px;
  padding: 0;
  vertical-align: -webkit-baseline-middle;
}

.colonyAvatarAndName {
  display: flex;
  position: relative;
}

.headingAndSettings {
  margin-top: 3px;
  position: absolute;
  left: 49px;
}

.simpleLinkWebsite {
  display: block;
  margin-top: 20px;
  font-weight: var(--weight-normal);
  color: var(--text);
}

.simpleLinkGuideline {
  display: block;
  margin-bottom: 10px;
  font-weight: var(--weight-normal);
  color: var(--text);
}

.simpleLinkWebsite:hover {
  text-decoration: underline;
}

.simpleLinkGuideline:hover {
  text-decoration: underline;
}

.spinnerContainer {
  margin-top: 14px;
}

.domainContainer {
  margin-bottom: 40px;
  margin-left: 52px;
  padding-top: 19px;
}

.filterItem {
  composes: inlineEllipsis from '~styles/text.css';
  margin: 0 0 20px 0;
  padding: 0;
  max-width: 23ch;
  border: none;
  background: none;
  font-size: var(--size-normal);
  color: var(--text);
  cursor: pointer;
  outline: none;
}

.filterItem:hover {
  opacity: 0.8;
}

.filterItemActive {
  composes: filterItem;
  font-weight: var(--weight-medium);
}
