
.programsNav {
  margin-bottom: 10px;
}

.navLink {
  display: inline-block;
  font-weight: var(--weight-medium);
}

.navLink + .navLink {
  margin-top: 10px;
}

.navLink:hover {
  opacity: 0.8;
}

.navLinkDraft {
  composes: navLink;
}

.navLinkDraft::after {
  display: inline-block;
  margin-bottom: 1px;
  margin-left: 10px;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: var(--golden);
  content: '';
}
