
.main {
  padding: 25px 0;
  border-bottom: 1px solid var(--temp-grey-5);
}

.programsNav {
  margin-bottom: 10px;
}

.baseStyles {
  display: flex;
  align-items: center;
}

.baseStyles + .baseStyles {
  margin-top: 10px;
}

.draft {
  composes: baseStyles;
}

.draft::after {
  display: inline-block;
  margin-bottom: 1px;
  margin-left: 10px;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: var(--golden);
  content: '';
}

.navLink {
  margin-right: 10px;
  overflow: hidden;
  font-weight: var(--weight-medium);
  text-overflow: ellipsis;
  white-space: nowrap;
}

.draft .navLink {
  /* Leave room for "pending dot" */
  max-width: 87%;
}

.navLink:hover {
  opacity: 0.8;
}
