.subscribe, .unsubscribe {
  padding: 0;
  height: 15px;
  width: 15px;
  position: relative;
  top: 19px;
  left: -11px; /* Subscribe icon is overlapping avatar a tiny bit */
  border: none;
  border-radius: 100%;
  font-size: 13px;
  line-height: 100%;
  color: white;
  cursor: pointer;
}

.subscribe::before, .unsubscribe::before {
  width: 100%;
  position: absolute;
  top: 1px;
  left: 0;
  content: '\2605';
}

.subscribe {
  background: var(--temp-grey-12);
}

.unsubscribe {
  background: var(--golden);
}

.spinnerContainer {
  position: absolute;
  top: 19px;
  left: 21px;
}
