
.main {
  padding: 0 25px;
  font-size: var(--size-tiny);
  font-weight: var(--weight-bold);
  white-space: nowrap;
}

/* The following gymnastics is needed as to target the adjacent
   children inside the Tooltiped component (which wraps the
   children in a span) */

.main > span > div {
  margin-left: 8px;
}

.main > span:first-child > div {
  margin-left: 0px;
}

.paddingNone {
  padding: 0;
}

.bannedTag {
  display: inline-block;
}
