
.main {
  padding: 0 30px;
  font-size: var(--size-tiny);
  font-weight: var(--weight-bold);
  white-space: nowrap;
}

.main > div {
  margin-left: 8px;
}

.paddingNone {
  padding: 0;
}

.bannedTag {
  display: inline-block;
}
