.main {
  display: flex;
  align-items: center;
  font-size: var(--size-small);
}

.event {
  margin-bottom: 18px;
}

.highlight {
  font-weight: var(--weight-semi);
  color: var(--text);
}

.highlightNumeral span {
  font-weight: var(--weight-semi);
  color: var(--text);
}
