.main {
  padding: 0 var(--pad-medium);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
}

.items {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 100%;
}

.eventsLoader {
  padding-bottom: 10px;
}

.eventsLoaderText {
  margin-left: 10px;
}
