.main {
  display: flex;
  align-items: center;
  font-size: var(--size-small);
}

.event {
  margin-bottom: 18px;
}

.highlight {
  composes: inlineEllipsis from '~styles/text.css';
  display: inline-block;
  max-width: 64ch;
  vertical-align: bottom;
  font-weight: var(--weight-semi);
  color: var(--text);
  cursor: pointer;
}

.highlightNumeral span {
  font-size: var(--size-small);
  font-weight: var(--weight-semi);
  color: var(--text);
}
