.comment {
  display: flex;
  margin: 0 0 var(--pad-large) 0;
}

.commentSelf {
  justify-content: flex-end;
}

.commentAvatar {
  margin-right: var(--pad-medium);
  cursor: pointer;
}

.commentMain {
  width: 80%;
}

.commentUsername {
  composes: inlineEllipsis from '~styles/text.css';
  font-size: var(--size-small);
  font-weight: var(--weight-medium);
}

.commentBody {
  margin: var(--pad-tiny) 0;
  padding: var(--pad-medium);
  border-radius: var(--radius-normal);
  overflow-wrap: break-word;
}

.commentSelf .commentBody {
  background-color: var(--grey-blue-3);
}

.commentOther .commentBody {
  background-color: var(--grey-blue-1);
}

.commentTimestamp {
  font-size: var(--size-small);
}
