.main {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.ratingPart + .ratingPart {
  padding-left: 10px;
}

.ratingPartText {
  /* Negative margin here to better-align the text with the icons & avatar */
  margin-top: -3px;
}

.userPart {
  font-weight: var(--weight-semi);
}
