.teamWrapper {
  display: flex;
  align-items: center;
}

.teamWrapper > div {
  margin-right: 4px;
}

.changeContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  font-size: var(--size-smallish);
  font-weight: var(--weight-bold);
  line-height: 18px;
  color: var(--dark);
  letter-spacing: var(--spacing-medium);
}

.row {
  display: grid;
  align-items: center;
  padding: 8px 0;
  font-size: var(--size-normal);
  font-weight: var(--weight-normal);
  line-height: 18px;
  color: var(--dark);
  grid-template-columns: 4.5fr 1fr 4.5fr;
  grid-template-rows: auto;
}

.arrowIcon {
  height: 16px;
  width: 16px;
  color: color-mod(var(--dark) alpha(65%));
  justify-self: center;
}

.left {
  max-width: 90%;
  overflow: hidden;
  justify-self: start;
  opacity: 0.5;
}

.right {
  max-width: 90%;
  overflow: hidden;
  justify-self: end;
}

.buttonWrappper {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.discard {
  composes: main from '~core/Button/Button.css';
  padding: 0;
  height: auto;
  font-size: var(--size-smallish);
  font-weight: 600;
  color: var(--action-secondary);
}

.subheader {
  display: flex;
  justify-content: space-between;
  padding: 6px 0;
  font-weight: var(--weight-bold);
  color: var(--dark);
}
