@value reputationColor: rgb(255, 176, 0);

.main {
  display: flex;
  align-items: center;
  overflow-y: auto;
}

.section {
  padding: 20px;
}

.section + .section {
  padding-left: 0;
}

.usernameSection {
  composes: section;
  flex-grow: 1;
}

.displayName {
  font-weight: var(--weight-bold);
  color: var(--grey-1);
}

.displayName + .username {
  margin-left: 5px;
}

.address {
  display: block;
  width: 100%;
  font-size: var(--size-normal);
  font-weight: 500;
  color: var(--temp-grey-blue-7);
}

.reputation {
  margin-left: 4px;
  font-size: var(--size-smallish);
  font-weight: var(--weight-bold);
  color: reputationColor;
}

.reputationSection {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
}

.reputationSection svg {
  fill: transparent;
  stroke-width: 3px;
  stroke: reputationColor;
}

.icon {
  height: 12px;
  width: 12px;
}

.icon svg {
  vertical-align: top;
}
