.main {
  display: flex;
  align-items: center;
  overflow-y: auto;
}

.section {
  padding: 20px 15px;
}

.section + .section {
  padding-left: 0;
}

.usernameSection {
  composes: section;
  composes: inlineEllipsis from '~styles/text.css';
  flex-grow: 1;
}

.displayName {
  font-weight: var(--weight-bold);
  color: var(--grey-1);
}

.displayName + .username {
  margin-left: 5px;
}

.address span {
  font-weight: 500;
}

.reputationSection {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 26px;
  width: 69px;
}

.stateHasReputation {
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

.stateHasReputation.stateReputationLoaded {
  opacity: 1;
}
