.wrapper {
  padding: 10px 0 28px;
}

.header {
  font-size: var(--size-medium-l);
  font-weight: var(--weight-bold);
  letter-spacing: var(--spacing-medium);
  columns: var(--dark);
}

.row {
  display: flex;
  align-items: center;
  border-bottom: 1px solid color-mod(var(--temp-grey-blue-7) alpha(15%));
  color: color-mod(var(--dark) alpha(85%));
}

.borderTop {
  border-top: 1px solid color-mod(var(--temp-grey-blue-7) alpha(15%));
}

.lastRow {
  border-bottom: none;
}

.cell {
  padding: 8px 0;
  width: 33%;
  font-size: var(--size-normal);
  text-align: right;
  letter-spacing: 0.1px;
}

.left {
  composes: cell;
  text-align: left;
}

.left > span {
  font-size: var(--size-smallish);
  letter-spacing: var(--spacing-medium);
}

.validUser > span {
  color: var(--temp-grey-blue-7);
}

.middle {
  composes: cell;
}

.right {
  composes: cell;
}

.tableHeader {
  display: flex;
  align-items: center;
  margin-right: 16px;
  padding: 0px 0 15px;
  font-size: var(--size-smallish);
  font-weight: var(--weight-bold);
  color: var(--dark);
  letter-spacing: var(--spacing-medium);
}

.error {
  color: var(--danger);
}

.items {
  margin-right: 16px;
  max-height: calc(100vh - 320px);
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 9px;
    border-radius: var(--radius-normal);
    background-color: transparent;
  }

  &::-webkit-scrollbar-track {
    border-radius: var(--radius-normal);
    background-color: var(--colony-light-blue);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 6px;
    border: 2px solid var(--colony-light-blue);
    background-color: color-mod(var(--temp-grey-blue-7) alpha(65%));
  }
}
