
.main {
  composes: stretch from '~styles/layout.css';
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

.mainContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  text-align: center;
}
