@import 'variables.css';

.main {
  padding: 0 .5rem;
  display: table-caption;
  margin-bottom: .5rem;
}

.monthName {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  border-bottom: 1px solid var(--colony-black);
}
