.container {
  display: inline-block;
}

.wrapper {
  flex-direction: row;
  padding-bottom: 1rem;
  position: relative;
  user-select: none;
}

.months {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.month {
  display: table;
  margin: 0 1rem;
  margin-top: 1rem;
  border-collapse: collapse;
  border-spacing: 0;
  user-select: none;
}

.navButtonInteractionDisabled {
  display: none;
}

.weekdays {
  display: table-header-group;
}

.weekdaysRow {
  display: table-row;
}

.weekday {
  display: table-cell;
  padding: 10px 10px 0;
  font-size: var(--size-small);
  text-align: center;
  color: var(--text);
}

.weekday abbr[title] {
  border-bottom: none;
  text-decoration: none;
}

.body {
  display: table-row-group;
}

.week {
  display: table-row;
}

.weekNumber {
  /** Force ts to create this property */
}

.todayButton {
  /** Force ts to create this property */
}

.day {
  display: table-cell;
  padding: 8px;
  height: 36px;
  width: 36px;
  position: relative;
  vertical-align: middle;
  z-index: var(--z-index-selection);
  text-align: center;
  color: var(--colony-black);
  cursor: pointer;

  &:hover::after {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: var(--z-index-background);
    border-radius: 50%;
    background-color: var(--temp-grey-5);
    content: '';
  }
}

.interactionDisabled .day {
  cursor: default;
}

.footer {
  padding-top: 0.5rem;
}

/* Default modifiers */

.selected {
  &::after {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: var(--z-index-background);
    border: 3px solid var(--primary);
    border-radius: 50%;
    content: '';
  }
}

.today {
  font-weight: var(--weight-bold);
  text-decoration: underline;
  color: var(--colony-black);
}

.outside {
  color: var(--temp-grey-5);
  cursor: default;

  &:hover {
    color: white;
  }
}

.disabled {
  background-color: rgb(239, 241, 241);
  color: rgb(220, 224, 224);
  cursor: default;
}

.navBar {
  /* Needed for react-day-picker */
}

.navButtonPrev {
  /* Needed for react-day-picker */
}

.navButtonNext {
  /* Needed for react-day-picker */
}

.caption {
  /* Needed for react-day-picker */
}
