.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  height: 48px;
  width: 100%;
  position: absolute;
}

.navButton {
  border: none;
  background-color: transparent;
  cursor: pointer;

  & svg {
    fill: var(--colony-black);
    stroke: var(--colony-black);
  }
}
