@value spaceBetween: 26px;

.content {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 1px;
  padding: 30px 20px;
  height: 89px;
  border-radius: var(--radius-large);
  background-color: var(--colony-white);
  box-shadow: 0px 2px 11px var(--drop-shadow);
  outline: 0;
}

.button {
  composes: themePrimary from '~core/Button/Button.css';
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 133px;
}

.amount {
  font-size: var(--size-normal);
  font-weight: var(--weight-normal);
  color: var(--dark);
}

.amountWrapper,
.date,
.details {
  display: flex;
  flex-direction: column;
  font-size: var(--size-tiny);
  font-weight: var(--weight-bold);
  color: var(--temp-grey-blue-7);
}

.details {
  margin-right: auto;
  min-width: 143px;
}

.amountWrapper {
  align-items: flex-end;
  margin-right: spaceBetween;
}

.date {
  align-items: center;
  margin-right: spaceBetween;
  text-transform: uppercase;
}

.date span:first-child {
  font-size: var(--size-medium-l);
  font-weight: var(--weight-normal);
  color: var(--dark);
}

.sender {
  margin-bottom: 2px;
  font-size: var(--size-normal);
  font-weight: 600;
  color: var(--dark);
}

.arrowIcon {
  flex: 0 0 26px;
  margin-right: spaceBetween;
  height: 26px;
  width: 26px;
}

.arrowIcon svg {
  fill: color-mod(var(--dark) alpha(65%));
}
