@import 'variables.css';

/*
 * Base `Icon` styles
 * Everything inherits from this
 */

.main {
  display: inline-block;
}

.main svg {
  vertical-align: top;
}

.main svg use {
  pointer-events: none;
}

.main[role="button"] {
  cursor: pointer;

  &:active {
    outline: none;
  }

  &:hover {
    outline: none;
  }
}

/*
 * Sizing
 *
 * Next set of classes will define the icons's size
 */

.xSmall {
  height: 14px;
  width: 14px;
}

.small {
  height: 16px;
  width: 16px;
}

.medium {
  height: 28px;
  width: 28px;
}

.large {
  height: 42px;
  width: 42px;
}

/*
 * Themeing
 *
 * Next set of classes will define our various icon themes.
 *
 * Some of them will also have an `inverted` version. This is for dark backgrounds.
 */

.default {
  composes: main;

  & svg {
    fill: var(--text);
    stroke: var(--text);
  }
}

.inverted {
  composes: main;

  & svg {
    fill: var(--colony-white);
    stroke: var(--colony-white);
  }
}
