@value query700 from "~styles/queries.css";

.main {
  max-width: max-content;
  line-height: 0;
}

.main > figure {
  border: 2px solid transparent;
  border-radius: 100%;
}

.main:hover figure {
  border-color: var(--primary);
}

.stateShowOnClick {
  cursor: pointer;
}

@media screen and query700 {
  .main > figure {
    border: 0px solid transparent;
  }
}
