@value navHeight: 70px;

.main {
  composes: stretchVertical stretchHorizontal from '~styles/layout.css';
}

.wrapper {
  composes: stretchVertical stretchHorizontal from '~styles/layout.css';
  display: grid;
  overflow-y: auto;
  background: var(--gradient-default);
  grid-template-columns: 100%;
  grid-template-rows: navHeight auto;
}

.navigation {
  display: flex;
  align-content: stretch;
  padding: 0 20px;
  border: 1px solid transparent;
  border-color: var(--grey-blue-0);
  background-color: var(--grey-blue-3);
  grid-column: 1;
  grid-row: 1;
}

.history {
  order: 1;
  flex-grow: 1;
  align-self: center;
  text-align: left;
}

.user {
  order: 2;
  flex-grow: 1;
  align-self: center;
  text-align: right;
}

.content {
  grid-column: 1;
  grid-row: 2;
}

.alertBanner {
  width: 100%;
  position: absolute;
  bottom: 100px;
}

.alertBanner div {
  margin: 0 auto;
  padding: 9px 0 9px 20px;
  width: 600px;
}

.alertBanner button {
  top: 12px;
  right: 10px;
}
