.returnToSummary {
  composes: returnToSummary from '../TransactionDetails/TransactionDetails.css';
}

.main {
  composes: main from '../TransactionCard/TransactionCard.css';
  padding: 15px 0 0;
}

.summary {
  composes: summary from '../TransactionCard/TransactionCard.css';
}

.description {
  composes: description from '../TransactionCard/TransactionCard.css';
}

.message {
  margin-top: 15px;
  padding: 12px 15px 12px 20px;
  border-left: 3px solid var(--colony-blue);
  border-top: 1px solid var(--grey-blue-1);
  background-color: var(--temp-grey-blue-6);
  color: var(--grey-dark);
}

.message .title {
  display: block;
  margin-bottom: 4px;
  font-size: var(--size-small);
  font-weight: var(--weight-medium);
}

.controls {
  margin-top: 10px;
  padding: 5px 0;
  text-align: right;
}
