
.main {
  height: 100%;
}

.breadcrumbsContainer {
  display: flex;
  align-items: baseline;
}

.breadcrumbsContainer > *:not(:last-child) {
  margin-right: 10px;
}

.grid {
  display: grid;
  padding: 45px 12px 10px 0;
  height: 95%;
  min-height: 735px;
  grid-template-columns: minmax(400px, auto) minmax(300px, 42%);
  grid-template-rows: 380px 1fr;
  gap: 20px;
}

.purchase {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 50% 50%;
  grid-area: 1 / 1 / 2 / 2;
}

.buyCLNY {
  grid-area: 1 / 1 / 3 / 2;
}

.timeRemaining {
  grid-area: 1 / 2 / 2 / 3;
}

.tokensRemaining {
  grid-area: 2 / 2 / 3 / 3;
}

.previousSales {
  grid-area: 2 / 1 / 3 / 2;
}

.chat {
  grid-area: 1 / 2 / 3 / 3;
}
