.main {
  display: block;
  margin: 0 0 20px 20px;
  height: 100%;
  width: calc(100% + 360px);
}

@media (max-height: 960px) {
  .main {
    margin-bottom: 20%;
  }
}

.loadingSpinner {
  margin-top: 100px;
}

.learnMore {
  margin-left: 8px;
  font-size: var(--size-tiny);
}

.grid {
  display: grid;
  margin-top: 40px;
  height: calc(100vh - 300px);
  min-height: 600px;
  width: 1030px;
  grid-template-columns: [buy] 340px [remaining] 220px [comments] auto;
  grid-template-rows: [time] 113px [tokens] 113px [totals] 113px [sales] 315px;
  column-gap: 20px;
  row-gap: 20px;
}

.container {
  padding: 15px;
  height: 100%;
  border-radius: var(--radius-large);
  background-color: white;
  font-size: var(--size-small);
  font-weight: var(--weight-bold);
  box-shadow: var(--box-shadow-medium);
}

.buy {
  grid-column: buy / remaining;
  grid-row: time / sales;
}

.timeRemaining {
  composes: container;
  padding: 0;
  grid-column: remaining / comments;
  grid-row: time / tokens;
}

.tokensRemaining {
  composes: container;
  padding: 0;
  grid-column: remaining / comments;
  grid-row: tokens / totals;
}

.tokensTotals {
  composes: container;
  padding: 0;
  grid-column: remaining / comments;
  grid-row: totals / sales;
}

.sales {
  composes: container;
  min-height: 100%;
  grid-column: buy / comments;
  grid-row: sales / last-line;
}

.comments {
  grid-column: comments / end;
  grid-row: time / last-line;
}

.saleStarted {
  composes: container;
  grid-column: 1 / 3;
  grid-row: time / sales;
}
