.container {
  display: flex;
  align-items: center;
  padding-right: 32px;
}

.container button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1px;
  padding: 0;
  height: 18px;
  width: 18px;
  border: none;
}

.container button svg {
  fill: color-mod(var(--dark) alpha(70%));
  stroke: color-mod(var(--dark) alpha(70%));
}

.date {
  margin-right: 32px;
  font-size: var(--size-tiny);
  font-weight: var(--weight-bold);
  color: var(--temp-grey-blue-7);
  opacity: 0.85;
}

.tooltip {
  width: 220px;
}
