.container {
  font-size: var(--size-tiny);
  font-weight: var(--weight-bold);
  color: color-mod(var(--temp-grey-blue-7) alpha(85%));
}

.time {
  color: var(--dark);
  opacity: 85%;
}

.tooltipIcon {
  margin-left: 30px;
}
