@import 'variables.css';

:root {
  --table-radii: var(--radius-normal);
}

.baseStyles {
  border-radius: var(--table-radii);
  font-size: var(--size-normal);
  font-weight: var(--weight-normal);
}

/*
  Border radii for corner cells of table
  =====================
*/

/* top left cell */
.baseStyles tbody tr:first-child td:first-child {
  border-top-left-radius: var(--table-radii);
}

/* top left cell (of tbody) if thead */
.baseStyles thead + tbody tr:first-child td:first-child {
  border-top-left-radius: 0;
}

/* top right cell */
.baseStyles tbody tr:first-child td:last-child {
  border-top-right-radius: var(--table-radii);
}

/* top right cell (of tbody) if thead */
.baseStyles thead + tbody tr:first-child td:last-child {
  border-top-right-radius: 0;
}

/* top left table header */
.baseStyles thead tr:first-child th:first-child {
  border-top-left-radius: var(--table-radii);
}

/* top right table header */
.baseStyles thead tr:first-child th:last-child {
  border-top-right-radius: var(--table-radii);
}

/* bottom left cell */
.baseStyles tbody tr:last-child td:first-child {
  border-bottom-left-radius: var(--table-radii);
}

/* bottom right cell */
.baseStyles tbody tr:last-child td:last-child {
  border-bottom-right-radius: var(--table-radii);
}

/* State */

.stateScrollable {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.stateScrollable tr {
  display: flex;
}

.stateScrollable th,
.stateScrollable td {
  display: flex;
  align-items: center;
}

.stateScrollable tbody {
  display: block;
  max-height: 100%;
  overflow: auto;
}

/* Appearance */

.separatorsBorders th,
.separatorsBorders td {
  border-width: 1px;
  border-style: solid;
}

.separatorsRows tbody tr:nth-child(n+2),
.separatorsRows thead + tbody tr:first-child {
  border-width: 1px;
  border-style: solid;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}

.main {
  composes: baseStyles;
  border-color: var(--grey-blue-1);
  background-color: white;
  box-shadow: 0 0 20px -2px var(--temp-grey-blue-4);

  &.separatorsBorders td,
  &.separatorsBorders th {
    border-color: var(--grey-blue-1);
  }

  & tbody tr:hover {
    background-color: var(--colony-white);
  }
}

.themeDark {
  composes: baseStyles;
  border-color: color(var(--grey-blue-1) alpha(30%));
  background-color: var(--grey-3);
  color: var(--colony-white);
  box-shadow: 0 0 20px -2px var(--grey-4);

  &.separatorsBorders td,
  &.separatorsBorders th {
    border-color: color(var(--grey-blue-1) alpha(30%));
  }

  & tbody tr:hover {
    background-color: var(--grey-4);
  }
}
