.main {
  display: inline-block;
  padding: 1px 5px;
  height: 20px;
  border: 1px solid var(--temp-grey-blue-7);
  border-radius: 5px;
  cursor: pointer;
}

.stateNoPointer {
  cursor: default;
}

.stateNoPointer:hover {
  border-color: var(--temp-grey-blue-7);
}

.label {
  margin-left: 5px;
  vertical-align: top;
  font-size: var(--size-tiny);
  font-weight: var(--weight-bold);
  color: var(--temp-grey-blue-7);
}

.icon {
  display: inline-block;
  margin-top: 2px;
  height: 12px;
  width: 12px;
}

.icon svg {
  vertical-align: top;
}

.themeDefault {
  composes: main;
}

.themeSimple {
  composes: main;
  border: none;
}

.themeWhite {
  composes: main;
  border-color: var(--colony-white);
}

.themeWhite .label {
  color: var(--colony-white);
}

.tooltip {
  max-width: 280px;
}
