.claimButton {
  composes: main themePrimary from '~core/Button/Button.css';
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px 13px 2px;
  height: 21px;
  border-radius: 12px;
  font-size: var(--size-tiny);
}

.claimedTagWrapper span {
  padding: 1px 13px 2px;
  border-radius: 12px;
  background-color: var(--text-disabled);
  color: var(--colony-white);
}

.claimedTagWrapper {
  display: flex;
  flex-basis: 100px;
  flex-grow: 1;
  justify-content: flex-end;
}

.tagWrapper > span {
  padding: 2px 14px 3px;
  border-radius: 12px;
}

.tagWrapper {
  display: flex;
  flex-basis: 100px;
  flex-grow: 1;
  justify-content: flex-end;
  white-space: nowrap;
}
