@value textColor: var(--text);
@value submitButtonWidth: 160px;
@value sizeNormal: var(--size-normal);
@value buttonMarginLeft: 6px;
@value weightNormal: 400;

.dialogContainer {
  padding: 0 20px;
}

.dialogContainer section {
  padding: 0;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 34px 0;
  width: 100%;
  font-size: var(--size-medium-l);
  font-weight: var(--weight-bold);
  color: var(--dark);
}

.forceContainer {
  display: flex;
  align-items: center;
  font-size: var(--size-smallish);
}

.stakeContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0 10px;
  font-size: var(--size-smallish);
  font-weight: var(--weight-bold);
  color: var(--temp-grey-blue-7);
  opacity: 0.85;
}

.messageContainer {
  padding-bottom: 90px;
  color: var(--temp-grey-blue-7);
}

.label {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
  font-size: var(--size-smallish);
  font-weight: var(--weight-bold);
  color: var(--dark);
}

.icon {
  margin-right: 10px;
}

.icon figure {
  display: block;
}

.tokenIcon {
  height: 16px;
  width: 16px;
}

.symbol {
  margin-left: 4px;
}

.questionIcon {
  display: block;
  margin-bottom: -3px;
  margin-left: 11px;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: white;
  stroke: none;
}

.toggleContainer {
  margin-bottom: -6px;
  margin-left: 4px;
}

.cancelButton {
  font-weight: var(--weight-bold);
  color: rgba(60, 68, 77, 0.65);
}

.messageParagraph {
  padding-top: 14px;
}

.tooltip {
  max-width: 200px;
}
