@value buttonHeight: 29px;
@value buttonWidth: 100px;
@value iconColor: var(--temp-grey-blue-7);

.mainContainer {
  min-width: 340px;
}

.paddingSmall {
  padding-top: 4px;
}

.stagesContainer {
  padding-top: 20px;
}

.status {
  font-size: var(--size-smallish);
  font-weight: var(--weight-bold);
  line-height: 18px;
  color: var(--dark);
}

.notSaved {
  margin-left: 9px;
  font-size: var(--size-tiny);
  font-weight: var(--weight-bold);
  line-height: 18px;
  color: color-mod(var(--temp-grey-blue-7) alpha(85%));
  letter-spacing: 0.5px;
}

.stagesText {
  display: flex;
  align-items: center;
  line-height: 18px;
}

.statusContainer {
  display: flex;
  justify-content: space-between;
  padding: 26px 0 10px;
  border-bottom: 1px solid var(--temp-grey-6);
}

.statusContainer:first-child {
  padding-top: 0;
}

.withTag {
  padding: 14px 0 10px;
}

.icon svg {
  height: 18px;
  width: 18px;
  fill: var(--temp-grey-blue-7);
}

.buttonsContainer {
  display: flex;
  align-items: center;
}

.buttonsContainer > span:not(:last-of-type) {
  margin-right: 20px;
}

.buttonsContainer button {
  margin-left: 30px;

  &:disabled {
    height: 20px;
    border: none;
    border-radius: 5px;
    background-color: var(--colony-light-blue);
    font-weight: var(--weight-bold);
    color: var(--temp-grey-blue-7);
  }

  &:disabled:hover {
    background-color: var(--colony-light-blue);
    color: var(--temp-grey-blue-7);
    cursor: default;
  }
}

.iconButton {
  margin-left: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.iconButton i {
  display: flex;
}

.iconButton:hover {
  cursor: pointer;
}

.iconButtonDisabled {
  opacity: 0.5;
}

.iconWrapper {
  position: relative;
}

.iconWrapper:hover {
  &::after {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    background-color: var(--action-secondary);
    transform: translate(-6px, -6px);
    content: '';
    opacity: 0.1;
  }
}

.iconButtonDisabled:hover {
  cursor: not-allowed;
}

.cancelIcon:hover svg {
  fill: var(--pink);
  transition: fill 200ms ease-in-out;
}

.stageWrapper {
  display: flex;
  align-items: center;
}

.iconTooltip svg {
  margin-left: 8px;
  width: 12px;
}

.tagStagesWrapper > span {
  height: 21px;
  width: 100%;
  border-radius: 12px;
  text-align: center;
}

.tagWrapper span {
  width: 100%;
  text-align: center;
}

.disableIcon svg {
  fill: var(--text-disabled);
}
