@value buttonHeight: 29px;
@value buttonWidth: 100px;

.mainContainer {
  padding-top: 20px;
  min-width: 340px;
}

.status {
  font-size: var(--size-smallish);
  font-weight: var(--weight-bold);
  line-height: 18px;
  color: var(--dark);
}

.notSaved {
  margin-left: 9px;
  font-size: var(--size-tiny);
  font-weight: var(--weight-bold);
  line-height: 18px;
  color: var(--temp-grey-blue-7);
  letter-spacing: 0.5px;
}

.stagesText {
  display: flex;
  align-items: center;
  line-height: 18px;
}

.statusContainer {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid var(--temp-grey-6);
}

.icon svg {
  height: 18px;
  width: 18px;
  fill: var(--temp-grey-blue-7);
}

.buttonsContainer {
  display: flex;
  align-items: center;
}

.buttonsContainer > span > button {
  margin-left: 20px;
}

.buttonsContainer button:not(:last-of-type) {
  margin-right: 30px;
}

.buttonsContainer button {
  &:disabled {
    height: 20px;
    border: none;
    border-radius: 5px;
    background-color: var(--colony-light-blue);
    font-weight: var(--weight-bold);
    color: var(--temp-grey-blue-7);
  }

  &:disabled:hover {
    background-color: var(--colony-light-blue);
    color: var(--temp-grey-blue-7);
    cursor: default;
  }
}

.iconButton > div {
  margin-bottom: 7px;
}

.iconButton {
  margin-left: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.iconButton i {
  display: flex;
}

.iconButton:hover {
  cursor: pointer;
}

.iconButtonDisabled {
  opacity: 0.5;
}

.iconWrapper {
  position: relative;
}

.iconWrapper:hover {
  &::after {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    background-color: var(--action-secondary);
    transform: translate(-6px, -6px);
    content: '';
    opacity: 0.1;
  }
}

.iconButtonDisabled:hover {
  cursor: not-allowed;
}

.buttonTooltip {
  max-width: 192px;
}

.cancelIcon:hover svg {
  fill: var(--pink);
  transition: fill 200ms ease-in-out;
}

.claimed {
  composes: themeLight from '~core/Tag/Tag.css';
  margin-left: 30px;
  padding: 1px 12px 2px;
  height: 20px;
  border-radius: 5px;
  color: var(--temp-grey-blue-7);
  letter-spacing: 0.5px;
}
