.forceContainer {
  display: flex;
  align-items: center;
  font-size: var(--size-smallish);
}

.questionIcon {
  display: block;

  /* next lines are used for the correct tooltip arrow placement */
  margin-right: -20px;
  margin-bottom: -3px;
  margin-left: 11px;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: white;
  stroke: none;
  transform: translateX(-20px);
}

.toggleContainer {
  /* negative margin here corrects the position of the toggle input */
  margin-bottom: -6px;
  margin-left: 4px;
  margin-right: 20px;
}

.tooltip {
  max-width: 250px;
}
