
.domainSelectItem {
  display: flex;
  padding: 10px 0;
}

.domainSelectItemChildDomainIcon {
  padding: 3px 10px 0 0;
}

.domainSelectItemTitle {
  display: flex;
  align-items: baseline;
}

.domainSelectItemColor {
  flex-basis: 19px;
}

.domainSelectItemMainContent {
  flex-grow: 1;
}

.domainSelectItemRootText {
  padding-left: 10px;
  font-size: var(--size-tiny);
  color: var(--grey-5);
}

.domainSelectItemDescription {
  font-size: var(--size-tiny);
  color: var(--grey-4);
}

.editButtonCol {
  flex-basis: 60px;
  text-align: right;
}

.editButton {
  opacity: 0;
  transition: opacity 0.15s;
}

.domainSelectItem:hover,
.editButton:focus-within {
  opacity: 1;
}
