.main {
  display: flex;
  flex-direction: column;
  padding: 10px 15px;
  height: 100%;
  border-radius: var(--radius-large);
}

.themeWhite {
  composes: main;
  background-color: white;
}

.themeDanger {
  composes: main;
  background-color: var(--danger);
}

.header {
  display: flex;
  justify-content: space-between;
  height: 20px;
}

.header > h5 {
  font-size: var(--size-smallish);
}

.value {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: var(--size-medium-l);
  font-weight: var(--weight-bold);
  text-align: center;
  color: var(--temp-grey-blue-7);
}

.value div {
  width: 190px;
}

.value span {
  font-size: unset;
}

.themeDanger .main {
  color: var(--colony-white);
}

.themeDanger .value {
  color: var(--colony-white);
}

.valueWarning {
  color: var(--danger);
}

.themeDanger .footerText {
  color: var(--colony-white);
}

.tooltipIcon {
  position: relative;
  top: 1px;
  right: -5px;
}

.tooltip {
  padding: 5px;
  width: 260px;
  font-weight: var(--weight-bold);
}
