.main {
  padding: 20px;
}

.headingContainer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.description {
  margin: 15px 0;
}

.rewardsContainer {
  display: flex;
  align-items: baseline;
}

.rewardItem + .rewardItem {
  margin-left: 20px;
}
