@import 'variables.css';

.content{
    width: 460px;
}

.title{
    margin-top: 180px;
}
.subtitle {
    margin-bottom: 65px;
}
.heading {
    flex: 1;
    font-weight: 600;
    margin-bottom: 8px;
}

.greyBox{
    min-height: 85px;
    font-weight: var(--weight-semi);
    line-height: 1.5;
    padding: 22px 60px;
    position: relative;
    border: 1px solid var(--temp-grey-5);
    border-radius: var(--radius-small);
    background-color: var(--grey-blue-1);
    text-align: center;
}
@media only screen and (max-width: 1500px) {
    .greyBox:hover:before{
        display: none;
    }
}

.greyBox:hover:before{
    content: "";
    background-image: url(../../../../img/arrow-right-side.png);
    background-repeat: no-repeat;
    position: absolute;
    width: 230px;
    height: 94px;
    left: 541px;
    top: -20px; 
    background-size: 150px;  
}

.buttonsForBox{
    display: flex;
    justify-content: flex-end;
    margin-top: 40px;
    margin-bottom: 10px;
}

.rowOutlier{
    flex: 1;
}

.backupButton {
    display: flex;
    justify-content: flex-end;
    padding: 40px 0px;
    border-bottom: 1px solid var(--grey-blue-0); 
}
