@import 'variables.css';

.content {
  width: 460px;
}

.title{
  margin-top: 180px;
}

.subtitle {
  margin-bottom: 81px;
}

.heading {
  flex: 1;
  margin-bottom: 8px;
  font-weight: 600;
}

.greyBox {
  padding: 22px 60px;
  min-height: 85px;
  position: relative;
  border: 1px solid var(--temp-grey-5);
  border-radius: var(--radius-small);
  background-color: var(--grey-blue-1);
  font-weight: var(--weight-semi);
  text-align: center;
  line-height: 1.5;
}
@media only screen and (max-width: 1500px) {
  .greyBox:hover:before {
    display: none;
  }
}

.greyBox:hover:before {
  height: 94px;
  width: 230px;
  position: absolute;
  top: -20px;
  left: 541px; 
  background-size: 150px;
  background-image: url(../../../../img/arrow-right-side.png);
  content: "";
  background-repeat: no-repeat;  
}

.buttonsForBox {
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
  margin-bottom: 10px;
}

.rowOutlier {
  flex: 1;
}

.backupButton {
  display: flex;
  justify-content: flex-end;
  padding: 40px 0;
  border-bottom: 1px solid var(--grey-blue-0); 
}
