.layoutMain {
  composes: stretchVertical stretchHorizontal from '~styles/layout.css';
  display: grid;
  padding: 70px 15% 0;
  overflow: auto;
  grid-template-columns: auto 180px;
  grid-template-rows: auto;
  column-gap: 80px;
}

.content {
  align-self: start;
  grid-column: 1;
  grid-row: 1;
}

.sidebar {
  grid-column: 2;
  grid-row: 1;
}

.helpText {
  margin-top: 65px;
}

.linkText {
  margin-top: 75px;
}

.walletDetails {
  display: flex;
  margin-bottom: 40px;
}

.tokenLink {
  font-weight: var(--weight-medium);
  color: var(--sky-blue);
}

.walletLink {
  margin-left: 5px;
  font-size: var(--size-tiny);
  font-weight: var(--weight-semi);
  color: var(--sky-blue);
}

.walletLink:hover {
  text-decoration: underline;
  color: var(--sky-blue);
}

.address {
  margin-left: 20px;
  margin-top: -5px;
  line-height: 37px;
}
