@value query700 from '~styles/queries.css';

.layoutMain {
  composes: stretchVertical stretchHorizontal from '~styles/layout.css';
  display: grid;
  padding: 70px 15% 0;
  grid-template-columns: auto 180px;
  grid-template-rows: auto;
  column-gap: 80px;
}

.content {
  align-self: start;
  grid-column: 1;
  grid-row: 1;
}

.sidebar {
  grid-column: 2;
  grid-row: 1;
}

.helpText {
  margin-top: 65px;
}

.linkText {
  margin-top: 75px;
}

.walletDetails {
  display: flex;
  margin-bottom: 40px;
}

.tokenLink {
  font-weight: var(--weight-bold);
  color: var(--sky-blue);
}

.walletLink {
  margin-left: 5px;
  font-size: var(--size-tiny);
  font-weight: var(--weight-bold);
  color: var(--sky-blue);
}

.walletLink:hover {
  text-decoration: underline;
  color: var(--sky-blue);
}

.address {
  margin-left: 20px;
  margin-top: -5px;
  line-height: 37px;
}

@media screen and query700 {
  .layoutMain {
    display: flex;
    flex-direction: column;
    padding: 20px 0px 60px;
  }

  .layoutMain ul {
    display: flex;
    flex-direction: column;
  }

  .content {
    align-self: stretch;
  }

  .walletDetails {
    margin-bottom: 20px;
    padding: 0 14px;
  }

  .helpText, .linkText {
    margin-top: 20px;
    padding: 0 14px;
  }

  .address {
    line-height: 1;
  }

  .address > div > span {
    align-self: flex-start;
  }

  canvas {
    align-self: center;
  }
}
