@value wideButton: 160px;
@value query700 from '~styles/queries.css';

.nameAndColorContainer {
  display: flex;
  align-items: center;
}

.title {
  font-size: var(--size-medium-l);
  font-weight: var(--weight-bold);
  line-height: 24px;
  color: var(--dark);
}

.domainName {
  margin-right: 18px;
  width: 100%;
}

.noPermissionFromMessage {
  margin-bottom: 20px;
  font-size: var(--size-tiny);
  font-weight: var(--weight-bold);
  line-height: 18px;
  color: var(--danger);
}

.noPermissionFromMessage > div {
  vertical-align: bottom;
}

.modalHeading {
  padding: 32px 0 20px;
}

.headingContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.motionVoteDomain {
  margin: 6px 0;
}

@media screen and query700 {
  .domainName > div:first-child {
    min-height: 85px;
  }
}
