.container {
  composes: field from '~styles/fields.css';
}

.containerHorizontal {
  display: flex;
  align-items: center;
  position: relative;
}

.extensionContainer {
  display: inline-flex;
  width: 100%;
}

.extensionContainer > :first-child {
  flex: 6;
  border-radius: none;
  border-radius: var(--radius-tiny) 0 0 var(--radius-tiny);
}

.extensionContainer > :nth-child(2) {
  flex: 1;
  border-left: none;
}

.extension + input {
  border-right: none;
}

.extension {
  padding: 0 16px;
  height: 45px;
  width: 100%;
  border: 1px solid var(--temp-grey-5);
  border-radius: 0 var(--radius-tiny) var(--radius-tiny) 0;
  background-color: var(--colony-white);
  font-size: var(--size-normal);
  font-weight: var(--weight-bold);
  line-height: 40px;
  color: var(--temp-grey-4);
  letter-spacing: var(--spacing-normal);
  transition: border-color 0.1s ease-in;
}
