@import 'variables.css';

.container {
  composes: field from '~styles/fields.css';
}

.containerHorizontal {
  display: flex;
  align-items: center;
  position: relative;
}

.error {
  margin-left: 5px;
  font-size: var(--size-tiny);
  color: var(--danger);
}

/* .delegate {
  flex: 1 1 0;
  height: 100%;
  width: 100%;
  vertical-align: baseline;
  border: none;
  background-color: transparent;
  font-size: var(--size-normal);
  color: inherit;
  outline: none;

  &::placeholder {
    font-size: var(--size-normal);
    font-style: italic;
    letter-spacing: var(--spacing-normal);
  }
}

.themeFat .delegate {
  font-size: var(--size-medium);

  &::placeholder {
    font-weight: var(--weight-semi);
  }
}

.controls {
  display: flex;
  align-items: center;
  color: inherit;
}

.controls svg {
  fill: var(--grey-5);
  stroke: var(--grey-5);
}
*/
