
.programLevelsContainer {
  margin-bottom: 10px;
}

.buttonTextContainer {
  display: flex;
  font-size: var(--size-large);
}

.buttonTextContainer svg {
  fill: var(--grey-4);
  stroke: var(--grey-4);
}

.buttonIcon {
  margin-right: 20px;
}
