.formActions {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.headingContainer {
  display: flex;
  align-items: baseline;
}

.levelsContainer {
  margin-bottom: 40px;
}
