
.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tokenChoice {
  display: flex;
  align-items: center;
  margin: 8px 0;
}

.tokenChoiceSymbol {
  margin: 0 10px;
  font-size: var(--size-small);
  color: var(--temp-grey-blue-7);
}
