.container {
  margin: 40px 0;
}

.inputContainer {
  margin-bottom: 9px;
}

.actionsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 6px;
  width: unset;
}

.actionsContainer > label {
  margin-bottom: 0px;
}

.actionsSubContainer {
  display: flex;
  align-items: center;
}

.actionsSubContainer > label {
  margin-right: 0px;
}

.buttonsContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.uploaderContainer {
  margin-bottom: 28px;
}

.uploaderContainer > div > p {
  height: 0;
}
