.container {
  margin: 34px 0 32px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 12px 0;
  font-size: var(--size-smallish);
  line-height: 18px;
  color: var(--temp-grey-blue-7);
}

.label {
  opacity: 0.85;
}

.firstRow {
  padding: 0 0 9px;
  color: var(--dark);
}

.tagWrapper > span {
  padding: 2px 14px 3px;
  min-width: 100px;
  border-radius: 12px;
  text-align: center;
}

.buttonWrapper {
  margin-top: 14px;
  width: 100%;
  text-align: right;
}

.claim {
  min-width: 100px;
  text-align: center;
}
