.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.headingContainer {
  display: flex;
  align-items: baseline;
}

.editButtonContainer {
  margin-left: 20px;
}

.levelsContainer {
  margin-top: 20px;
}

.description {
  margin-bottom: 20px;
}
