.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.headingContainer {
  display: flex;
  align-items: baseline;
}

.editButtonContainer {
  margin-left: 20px;
}

.levelsContainer {
  margin-top: 20px;
}

.description {
  margin-bottom: 20px;
}

.tabReview {
  position: relative;
}

.tabReview::after {
  display: inline-block;
  height: 8px;
  width: 8px;
  position: absolute;
  top: 0;
  right: -14px;
  border-radius: 50%;
  background-color: var(--danger);
  content: '';
}
