@value buttonHeight: 29px;
@value buttonWidth: 100px;
@value iconColor: var(--temp-grey-blue-7);

.stagesWrapper {
  min-width: 340px;
}

.stagesRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0 13px;
}

.label {
  font-size: var(--size-smallish);
  font-weight: var(--weight-bold);
  color: color-mod(var(--temp-grey-blue-7) alpha(85%));
  letter-spacing: var(--spacing-medium);
}

.value {
  font-size: var(--size-normal);
  color: var(--dark);
  letter-spacing: 0.1px;
}

.notSaved {
  margin-left: 5px;
  font-size: var(--size-tiny);
  font-weight: var(--weight-bold);
  line-height: 18px;
  color: color-mod(var(--temp-grey-blue-7) alpha(85%));
  letter-spacing: 0.5px;
}

.paddingTopZero {
  padding-top: 0;
}

.dark {
  color: color-mod(var(--dark) alpha(85%));
}

.iconButton {
  margin-left: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.iconButton i {
  display: flex;
}

.iconButton:hover {
  cursor: pointer;
}

.iconWrapper {
  position: relative;
}

.iconWrapper:hover {
  &::after {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    background-color: var(--action-secondary);
    transform: translate(-6px, -6px);
    content: '';
    opacity: 0.1;
  }
}
