.primaryUpArrow {
  height: 0;
  width: 0;
  border-right: 6px solid transparent;
  border-bottom: 9px solid var(--primary);
  border-left: 6px solid transparent;
}

.greyDownArrow {
  height: 0;
  width: 0;
  border-top: 9px solid var(--text-disabled);
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
}

.primarySquare {
  height: 10px;
  width: 10px;
  background-color: var(--primary);
}
