.main {
  padding: 0;
  border-bottom-left-radius: var(--radius-normal);
  border-bottom-right-radius: var(--radius-normal);
}

.summary {
  display: flex;
  align-items: center;
  padding: 15px;
}

.description {
  flex: 1 1 auto;
  letter-spacing: 0.25px;
}

.main.transactionList:first-child.li {
  background-color: var(--colony-white);
}
