.main {
  padding: 0;
  border-bottom-left-radius: var(--radius-normal);
  border-bottom-right-radius: var(--radius-normal);
}

.summary {
  display: flex;
  align-items: center;
  padding: 15px;
}

.description {
  flex: 1 1 auto;

  /**
   * @NOTE This manual width matches the gas station wrapper's manual width, without going over
   * @BODY This is needed as a fail-safe to show text ellipsis for when the transaction's
   * description is too long
   */
  width: 370px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  letter-spacing: 0.25px;
}

.main.transactionList:first-child.li {
  background-color: var(--colony-white);
}
