.main {
  display: flex;
  align-items: center;
  padding: 12px 15px 12px 20px;
  height: auto;
  min-height: 40px;
  border-left: 3px solid var(--temp-grey-5);
  border-top: 1px solid var(--grey-blue-1);
  font-size: var(--size-small);
  font-weight: var(--weight-bold);
  color: var(--grey-dark);

  &:hover .cancelButton {
    display: inline;
  }
}

.main.stateSelected {
  border-left-color: var(--colony-blue);
  background-color: var(--temp-grey-blue-6);
}

.main.stateSucceeded {
  color: var(--grey-text);
}

.button {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  border-bottom: 1px solid transparent;
  background-color: transparent;
  font-size: var(--size-small);
  font-weight: var(--weight-bold);
  color: var(--sky-blue);
  cursor: pointer;

  &:hover {
    border-color: var(--sky-blue);
    color: var(--sky-blue);
  }

  &[disabled] {
    cursor: default;
  }
}

.description {
  flex: 1 1 auto;
  line-height: 15px;
}

.cancelButton {
  composes: button;
  display: none;
}

.confirmationButton {
  composes: button;
  display: inline;
}

.cancelDecision {
  margin: 0 10px;
}

.stateSelected.stateFailed,
.stateSelected.stateIsShowingCancelConfirmation,
.stateFailed,
.stateIsShowingCancelConfirmation {
  border-left-color: var(--danger);
  border-top-color: color-mod(var(--danger) alpha(20%));
  background-color: color-mod(var(--danger) alpha(20%));

  &:hover {
    border-left-color: color-mod(var(--danger) alpha(90%));
    background-color: color-mod(var(--danger) alpha(15%));
  }
}

.failedDescription {
  display: block;
  margin-left: 14px;
  font-size: var(--size-unreadable);
  font-weight: var(--weight-bold);
  line-height: 1.6;
  color: var(--danger);
}
