.main {
  position: relative;
}

.back {
  display: block;
  margin: 4px 0 0 18px;

  /*
   * @NOTE Increase the click-able area
   */
  padding: 10px 15px 10px 0;
  max-width: 240px;
  overflow: hidden;
  border: none;
  background-color: transparent;
  font-size: var(--size-small);
  font-weight: var(--weight-bold);
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--text);
  cursor: pointer;

  & i {
    margin: 0 10px 4px 0;
    vertical-align: middle;
  }
}
