.wrapper {
  composes: stretchVertical stretchHorizontal from '~styles/layout.css';
  position: relative;
  overflow-y: auto;
  background: var(--gradient-default);
}

.nav {
  padding: 0 20px;
  position: absolute;
  top: 0;
  right: 0;
}
