.main {
  composes: stretchVertical stretchHorizontal from '~styles/layout.css';
  display: grid;
  position: relative;
  overflow-y: auto;
  background: var(--gradient-default);
  grid-template-columns: 50px auto;
}

.colonyList {
  border-right: 1px solid rgb(227, 224, 227);
}

.navContainer {
  /* `0` can be changed to `17px` if padding/margins removed from `ColonyNavigation->HistoryNavigation` */
  padding: 20px 17px 20px 0;
}
