/*
 * Unique color so far. If used again, please move to `variables`
 */
@value navigationIconBlue: rgb(5, 81, 253);

.main {
  display: inline-flex;
  align-items: center;
  text-align: left;
}

.navigationItem {
  flex-grow: 0;
  margin-right: 12px;
  padding: 0 10px 5px 10px;
  border-radius: var(--radius-tiny);
  text-align: center;
  cursor: pointer;
}

.navigationItemButton {
  composes: button from '~styles/reset.css';
}

.navigationItem:hover {
  background-color: var(--temp-grey-6);
}

.navigationItem:hover svg {
  fill: navigationIconBlue;
  stroke: navigationIconBlue;
}

.navigationItem i {
  padding: 8px 0;
}

.navigationItemHealth {
  composes: navigationItem;
  padding: 0;
}

.navigationItemHealth:hover svg {
  fill: var(--text);
  stroke: var(--text);
}

.navigationItemHealth button {
  padding: 8px 10px 0px 10px;
  cursor: pointer;
}

.navigationItemActive svg {
  fill: navigationIconBlue;
  stroke: navigationIconBlue;
}

.connectWalletButton {
  margin-right: 20px;
  padding: 5px 11px 8px 11px;
  border: 1px solid var(--temp-gery-blue-7);
  border-radius: 2px;
  background-color: transparent;
  color: var(--temp-gery-blue-7);
  cursor: pointer;
}

.connectWalletButtonActive {
  composes: connectWalletButton;
  padding: 6px 12px 9px 12px;
  border: none;
  border-color: color-mod(var(--temp-gery-blue-7) alpha(25%));
  background-color: color-mod(var(--temp-gery-blue-7) alpha(25%));
  color: var(--colony-blue);
}
