
.main {
  display: inline-flex;
  align-items: center;
  text-align: left;
}

.notificationsButton {
  composes: button from '~styles/reset.css';
}

.notificationsIcon {
  flex-grow: 0;
  margin-right: 15px;
  padding: 9px;
  height: 36px;
  width: 36px;
  border-radius: 38px;
  text-align: center;
  cursor: pointer;
}

.notificationsIcon:hover {
  background-color: color-mod(var(--colony-blue) alpha(10%));
}

.notificationsIcon:hover svg {
  fill: var(--colony-blue);
  stroke: var(--colony-blue);
}

.notificationsIconActive svg {
  fill: var(--colony-blue);
  stroke: var(--colony-blue);
}

.notificationsHighlight {
  display: block;
  margin: -20px -4px 0 0;
  height: 9px;
  width: 9px;
  position: relative;
  float: right;
  border-radius: 50%;
  background-color: var(--pink);
  content: '';
  box-shadow: 0px 2px 11px var(--drop-shadow);
}

.connectWalletButton {
  /*
   * @NOTE We need to do border sizing shenanigans due to how the border color
   * is required by spec to have opacity.
   *
   * Otherwise, the two colors will overlap and it will lead to an unexpected border color.
   *
   * For this, we remove the border (and compensate the size with padding), while in the
   * active class (the one that has a different colored border), we remove the extra padding
   * and set the border
   */
  margin-right: 25px;
  padding: 4px 9px 5px 9px;
  border: 1px solid var(--temp-grey-blue-7);
  border-radius: var(--radius-tiny);
  background-color: transparent;
  font-size: var(--size-small);
  font-weight: var(--weight-bold);
  color: var(--temp-grey-blue-7);
  cursor: pointer;
}

.connectWalletButtonActive {
  composes: connectWalletButton;
  padding: 5px 10px 6px 10px;
  border: none;
  border-color: color-mod(var(--temp-grey-blue-7) alpha(25%));
  background-color: color-mod(var(--temp-grey-blue-7) alpha(25%));
  color: var(--colony-blue);
}

.networkInfo {
  margin-right: 20px;
  padding: 2px 7px 4px;
  border-radius: 4px;
  background-color: color-mod(var(--temp-grey-blue-7) alpha(10%));
  font-size: var(--size-smallish);
  font-weight: var(--weight-bold);
  color: var(--grey-1);
  cursor: default;
}

.wrongNetwork {
  composes: networkInfo;
  padding: 4px 10px;
  background-color: var(--danger);
  font-size: 13px;
  color: var(--colony-white);
}

.walletAddress {
  margin: 0;
  padding: 0 9px;
  height: 100%;
  position: relative;
  border: 1px solid transparent;
  border-radius: var(--radius-normal);
  background-color: color-mod(var(--temp-grey-blue-7) alpha(10%));
  color: var(--temp-grey-blue-7);
  cursor: pointer;
}

.walletAddress > span {
  position: relative;
  line-height: 24px;
}

.walletAddress:hover {
  background-color: color-mod(var(--colony-blue) alpha(10%));
  color: var(--colony-blue);
}

.walletAddressActive {
  composes: walletAddress;
  border: 1px solid var(--colony-blue);
  color: var(--colony-blue);
}

.buttonsWrapper {
  composes: flexContainerRow flexAlignCenter flexJustifyCenter from '~styles/layout.css';
  margin-right: 12px;
  padding: 1px;
  height: 26px;
  position: relative;
  border-radius: var(--radius-normal);
  background-color: color-mod(var(--temp-grey-blue-7) alpha(10%));
}

.buttonsWrapper span {
  font-size: var(--size-smallish);
}

.readyTransactionsCount {
  padding-top: 2px;
  height: 20px;
  min-width: 20px;
  position: absolute;
  top: -10px;
  right: -10px;
  border-radius: 50px;
  background-color: var(--pink);
  font-size: var(--size-tiny);
  font-weight: 600;
  text-align: center;
  color: var(--colony-white);
  box-shadow: 0px 2px 11px var(--drop-shadow);
}

.reputation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  padding: 0 7px;
  height: 26px;
  border-radius: var(--radius-normal);
  background-color: color-mod(var(--temp-grey-blue-7) alpha(10%));
}

.walletAutoLogin {
  margin-right: 12px;
  padding: 4px 10px 0;
  height: 26px;
  border-radius: var(--radius-normal);
  background-color: color-mod(var(--temp-grey-blue-7) alpha(10%));
  text-align: center;
}

.walletAutoLogin h4 {
  display: inline-block;
  margin-top: 1px;
  margin-right: 10px;
  vertical-align: top;
  font-size: var(--size-tiny);
}
