/* Use td.className to be able to overwrite table styles */

@value cellPaddingVertical: 27px;
@value cellPaddingHorizontal: 25px;

.globalLink {
  cursor: pointer;
}

td.taskLoading {
  padding: cellPaddingVertical cellPaddingHorizontal;
  height: 88px;
  width: 100%;
  border-top: 1px solid var(--grey-blue-1);
}

td.taskDetails {
  flex-wrap: wrap;
  padding: cellPaddingVertical 0 cellPaddingVertical cellPaddingHorizontal;
  width: calc(85% - 74px);
  font-weight: var(--weight-semi);
}

.taskDetailsTitle {
  composes: inlineEllipsis from '~styles/text.css';
  max-width: 80%;
  color: var(--colony-black);
}

.taskDetailsReputation {
  font-size: var(--size-small);
  color: var(--violet);
}

td.taskPayouts {
  justify-content: flex-end;
  padding: cellPaddingVertical 0;
  width: 15%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

td.userAvatar {
  justify-content: center;
  padding: cellPaddingVertical cellPaddingHorizontal calc(cellPaddingVertical - 6px);
  height: 88px;
  width: 84px;
}

.noTask {
  display: block;
  margin: 60px auto 0px auto;
  height: 120px;
  width: 120px;
  user-select: none;
}

.emptyStateElements {
  margin-top: 25px;
  width: 432 px;
  font-size: var(--size-medium-l);
  text-align: center;
}

.subscribe {
  padding: 0px;
  border: none;
  background-color: rgb(0, 0, 0, 0);
  font-size: var(--size-medium-l);
  color: var(--primary);
  cursor: pointer;
}

.empty {
  flex-wrap: wrap;
  padding: cellPaddingVertical cellPaddingHorizontal cellPaddingVertical 0px;
  font-weight: var(--weight-semi);
}
