@value cellPaddingVertical: 27px;
@value cellPaddingHorizontal: 25px;

.main {
  display: flex;
  flex: 1;
  justify-content: center;
}

.noTask {
  display: block;
  margin: 60px auto 0px auto;
  height: 120px;
  width: 120px;
  user-select: none;
}

.emptyStateElements {
  margin-top: 25px;
  width: 432px;
  font-size: var(--size-medium-l);
  text-align: center;
}

.subscribe {
  padding: 0px;
  border: none;
  background-color: rgb(0, 0, 0, 0);
  font-size: var(--size-medium-l);
  color: var(--primary);
  cursor: pointer;
}

.empty {
  flex-wrap: wrap;
  padding: cellPaddingVertical cellPaddingHorizontal cellPaddingVertical 0;
  font-weight: var(--weight-bold);
}
