/* Use td.className to be able to overwrite table styles */

@value cellPaddingVertical: 25px;
@value cellPaddingHorizontal: 40px;

td.taskDetails {
  flex-wrap: wrap;
  padding: cellPaddingVertical cellPaddingHorizontal;
  width: calc(100% - 230px);
  font-weight: var(--weight-semi);
}

td.empty {
  flex-wrap: wrap;
  padding: cellPaddingVertical cellPaddingHorizontal;
  font-weight: var(--weight-semi);
}

.taskDetailsTitle {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--colony-black);
}

.taskDetailsReputation {
  font-size: var(--size-small);
  color: var(--violet);
}

td.taskPayouts {
  justify-content: flex-end;
  padding: cellPaddingVertical 0;
  width: 150px;
}

td.userAvatar {
  justify-content: center;
  padding: cellPaddingVertical 0;
  width: 60px;
}
