@value query700 from '~styles/queries.css';

.main {
  padding: 30px 0 0;
  border-top: 1px solid var(--temp-grey-5);
  font-size: var(--size-normal);
  text-align: center;
}

.address {
  margin-top: 10px;
  font-family: var(--family-monospace);
  font-weight: var(--weight-medium);
}

.address > span + span {
  margin-left: 10px;
}

@media screen and query700 {
  .main {
    padding-left: 14px;
    padding-right: 14px;
    font-size: var(--size-smallish);
  }

  .address {
    word-break: break-word;
  }
}
