@import 'variables.css';

.main {
  display: block;
  margin-bottom: 6px;
  width: 100%;
  font-size: var(--size-small);
  font-weight: 600;
  text-align: left;
  line-height: calc(var(--size-small) + 2px);

  i {
    margin-left: 5px;
  }
}

.themeUnderlined {
  composes: main;
  font-size: var(--size-medium);
}

.directionHorizontal {
  display: inline-block;
  margin-bottom: 0;
  margin-right: 6px;
  width: auto;
  vertical-align: super;
}

.colorSchemaDark .labelText {
  color: var(--grey-5);
}

.error, .help {
  display: inline-block;
  margin-left: 5px;
  font-size: var(--size-tiny);
  font-weight: 400;
  line-height: 1;
}

.error {
  color: var(--danger);
}

.help {
  color: var(--text);
}
