{
  "env": {
    "jest": true,
  },
  "rules": {
    "flowtype/require-valid-file-annotation": [0],
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}],
    "max-len": [0]
  }
}
