@value white: rgb(255, 255, 255);
@value boxShadow: inset 0px 2px 4px rgba(14, 37, 88, 0.07);
@value border: 1px solid var(--temp-grey-blue-8);

.recipientWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 13px 0 20px;
}

.recipientWrapper:last-of-type {
  margin-bottom: 0;
}

.recipientWrapper label {
  margin-right: 0;
}

.deleteIcon {
  height: 20px;
  width: 20px;
  fill: var(--pink);
}

.deleteIcon:hover {
  cursor: pointer;
}

.addRecipientLabel {
  display: flex;
  align-items: center;
  padding-top: 4px;
}

.circlePlusIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  transform: translateX(-8px);
  fill: var(--action-secondary);
}

.sliderWrapper {
  display: grid;
  align-items: center;
  margin: 20px 0;
  grid-template-columns: 280px 40px;
  column-gap: 10px;
}

.sliderWrapper > span {
  justify-self: end;
}

.percent {
  font-size: var(--size-smallish);
  font-weight: var(--weight-bold);
  color: color-mod(var(--dark) alpha(85%));
  letter-spacing: 0.5px;
}

.reserveWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 45px;
  width: 100%;
  font-size: var(--size-smallish);
  font-weight: var(--weight-bold);
  color: color-mod(var(--temp-grey-blue-7) alpha(85%));
  letter-spacing: 0.5px;
}

.reserveBar {
  margin: 0 27px 0 44px;
  height: 14px;
  width: 184px;
  position: relative;
  border: border;
  border-radius: 7px;
  background-color: var(--colony-white);
  box-shadow: inset 0px 2px 4px rgba(14, 37, 88, 0.07);
}

.reserveIndicator {
  height: 14px;
  position: absolute;
  left: 0;
  border-radius: 7px;
  background-color: color-mod(var(--golden) alpha(85%));
}

.valueContainer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 11px;
}

.valueContainer .container {
  width: 100%;
}

.valueContainer label {
  margin-bottom: 0;
  color: color-mod(var(--temp-grey-blue-7) alpha(85%));
}

.valueContainer input {
  padding: 0;
  height: 42px;
  width: 100%;
  border-bottom: 1px solid color-mod(var(--temp-grey-blue-7) alpha(65%));
}

.inputContainer {
  margin-right: 15px;
  width: 100%;
}

.inputContainer button {
  padding-left: 0;
  right: unset;
  bottom: 4px;
  left: 0;
  font-size: var(--size-small);
}

.inputContainer input {
  padding: 20px 0 4px;
  height: 42px;
  font-size: var(--size-normal);
  color: var(--dark);
}

.inputContainer input::placeholder {
  color: var(--dark);
}

.tokenWrapper {
  margin-top: 21px;
}

.amountWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.value {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: var(--size-normal);
  font-weight: var(--weight-normal);
  color: var(--dark);
}

.value > span {
  margin-right: 4px;
}

.tokenIcon {
  margin-right: 4px;
  height: 16px;
  width: 16px;
}
