@value query700 from '~styles/queries.css';

.actionButton {
  composes: flexContainerRow flexAlignCenter from '~styles/layout.css';
  font-size: var(--size-normal);
  color: var(--dark);
  letter-spacing: var(--spacing-medium);
}

.actionButton i {
  margin-right: 12px;
}

.actionButton i svg {
  fill: var(--temp-grey-blue-7);
  stroke: none;
}
