.main {
  padding: var(--pad-huge) 0 0 8px;
  height: 100%;
}

.list {
  margin: 30px 0;
  padding-right: 20%;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: 1px solid var(--temp-grey-5);
}
