@import 'variables.css';

/* Use td.className to be able to overwrite table styles */

@value cell-padding 25px;
@value name-margin: 10px;

tr.main:hover .customRemoveButton {
  display: inline-block;
}

.customRemoveButton {
  composes: themePrimary from '~core/Button/Button.css';
  display: none;
  width: 100%;
}

tr.main:hover .customEditButton {
  display: inline-block;
}

.customEditButton {
  composes: themeBlue from '~core/Button/Button.css';
  display: none;
  padding: none;
  width: 100%;
}

td.domainDetails {
  flex-wrap: wrap;
  padding: cell-padding;
  width: calc(100% - 100px);
}

td.domainRemove {
  padding-right: cell-padding;
  width: 150px;
}

.domainName {
  composes: inlineEllipsis from '~styles/text.css';
  display: inline-block;
  margin-right: name-margin;
  max-width: 80ch;
  font-weight: var(--weight-medium);
}

.contributions {
  width: 100%;
  font-size: var(--size-small);
}
