/*
 * @NOTE Unique values
 */
@value mainTextSize: 13px;
@value popoverWidth: 400px;
@value popoverDistance: 10px;

@value query700 from '~styles/queries.css';

.listItem:first-of-type {
  border-top: 1px solid var(--temp-grey-13);
}

.main {
  display: flex;
  align-items: center;
  height: 51px;
  border-bottom: 1px solid var(--temp-grey-13);
  font-size: mainTextSize;
  font-weight: var(--weight-bold);
  color: var(--dark);
  letter-spacing: var(--spacing-medium);
  outline: 0;
}

.main:hover {
  background-color: var(--temp-grey-blue-8);
}

.avatar {
  margin-top: -2px;
  padding-right: 15px;
  cursor: pointer;
}

.avatar > div > figure {
  height: 32px;
  width: 32px;
  border: 2px solid transparent;
  border-radius: 100%;
}

.avatar:hover figure {
  border-color: var(--primary);
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  /*
   * @NOTE Flex items won't shrink below their minimum content
   * This forces flex to resize at the correct ration, while still applying our
   * overflow -- which is all the reasoning why we did this in the first place,
   * to add text ellipsis to overflowing elements
   */
  min-width: 0;
}

.title {
  composes: inlineEllipsis from '~styles/text.css';
  max-width: 518px; /* This is required to prevent the title from overflowing */
}

.meta {
  font-size: var(--size-small);
  font-weight: var(--weight-bold);
  color: var(--temp-grey-blue-7);
  letter-spacing: var(--spacing-normal);
}

.day {
  margin-right: 4px;
  margin-left: 16px;
}

.userMention {
  display: inline-block;
  cursor: pointer;
}

.titleDecoration {
  color: var(--temp-grey-blue-7);
}

.titleDecorationUsername {
  color: var(--pink);
}

.blockExplorerLink {
  margin-left: 16px;
  font-size: var(--size-tiny);
  font-weight: var(--weight-bold);
  color: var(--action-secondary);
}

@media screen and query700 {
  .title {
    padding: 15px 0;
    white-space: normal;
    overflow-wrap: anywhere;
  }

  .main {
    height: auto;
    min-height: 51px;
  }
}
