.filter {
  display: inline-block;
  margin-right: 10px;
}

.filter span {
  font-size: 12px;
}

.bar {
  display: flex;
  align-items: center;
}

.title {
  flex-grow: 2;
  font-size: var(--size-smallish);
  font-weight: var(--weight-bold);
}

.link {
  font-size: var(--size-small);
  font-weight: var(--weight-bold);
  color: var(--colony-blue);
}
