@value sidebarWidth: 449px;
@value navBarHeight: 70px;

.main {
  display: flex;
  justify-content: center;
  height: 100%;
}

.mainContainer {
  height: 100%;
  width: 100%;
  background-color: var(--colony-white);
}

.mainContent {
  height: 100%;
}

.sidebar {
  height: calc(100vh - navBarHeight);
  width: sidebarWidth;
  background-color: var(--grey-blue-3);
}
