@value sidebarWidth: 449px;
@value navBarHeight: 70px;

.main {
  display: flex;
  justify-content: center;
  height: 100%;
}

.mainContainer {
  min-height: 100%;
  width: calc(100% - sidebarWidth);
  background-color: var(--colony-white);
}

.mainContent {
  height: 100%;
}

.sidebar {
  height: calc(100vh - navBarHeight);
  width: sidebarWidth;
  overflow-y: auto;
  background-color: var(--grey-blue-3);
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.form {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}
