@value radioButtonWidth: 340px;
@value buttonWidth: 160px;

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0 13px;
  font-size: var(--size-smallish);
  font-weight: var(--weight-bold);
  line-height: 18px;
  color: var(--temp-grey-blue-7);
  letter-spacing: 0.5px;
}

.rowAlt {
  padding: 11px 0 15px;
  min-height: 3rem;
  border-bottom: 1px solid var(--grey-blue-0);
}

.withoutPadding {
  padding: 0;
}

.forceRow {
  align-items: center;
  padding-top: 17px;
  white-space: nowrap;
}

.forceRow button > div > div {
  margin-bottom: 4px;
}

.forceRow form {
  max-width: 200px;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 9px 0 0;
  width: 100%;
  font-size: var(--size-medium-l);
  font-weight: var(--weight-bold);
  line-height: 24px;
  color: var(--dark);
  letter-spacing: 0.5px;
}

.description {
  font-size: var(--size-normal);
  line-height: 1.3;
  color: var(--temp-grey-blue-7);
  letter-spacing: 0.1px;
}

.dialogSectionTitle {
  padding-top: 20px;
  padding-bottom: 12px;
  border-bottom: 1px solid var(--grey-blue-0);
  font-size: var(--size-smallish);
  font-weight: var(--weight-bold);
  line-height: 1.4;
  color: var(--dark);
  letter-spacing: 0.5px;
}

.annotations {
  margin: 24px 0 5px;
  letter-spacing: 0.5px;
}

.tokens {
  padding: 11px 0 15px;
  border-top: 1px solid var(--grey-blue-0);
  border-bottom: 1px solid var(--grey-blue-0);
}

.value {
  display: flex;
  align-items: center;
  font-size: var(--size-smallish);
  color: color-mod(var(--dark) alpha(85%));
}

.value span {
  padding-right: 2px;
  font-size: var(--size-smallish);
}

.toggleContainer i {
  margin: 0 -20px 4px 21px;

  /* next lines are used for the correct tooltip arrow placement */
  transform: translateX(-25px);
}

/* this selector is for tooltip wrapper */
.toggleContainer > div > div:last-child {
  max-width: 250px;
  white-space: normal;
}

/* the following lines center the toggle force row */

.toggleContainer label {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.toggleContainer > div {
  align-items: center;
}

.toggleContainer > div > div:first-of-type {
  height: 16px;
}

.toggleContainer > div > span {
  height: 16px;
}

.toggleContainer > div > span > div {
  height: 16px;
}

.settingsRow {
  composes: flexContainerRow flexAlignCenter flexJustifyBetween from '~styles/layout.css';
  min-height: 41px;
}

.settingsRow h4 {
  font-size: var(--size-smallish);
}

.settingsRow button[aria-expanded="true"] {
  padding: 2px 0 2px 6px;
  border-radius: 4px;
  background-color: var(--grey-blue-1);
}

.userContainer {
  composes: settingsRow;
  padding: 8px 0;
}

.userAvatarContainer {
  display: flex;
}

.userName {
  display: flex;
  align-items: center;
  margin-left: 8px;
  font-weight: var(--weight-bold);
  color: var(--pink);
}

.activeItem {
  display: flex;
  align-items: center;
  margin-right: 2px;
}

.activeItemLabel {
  margin-left: 8px;
  padding-bottom: 2px;
  font-size: var(--size-smallish);
  font-weight: var(--weight-bold);
  color: var(--dark);
}

.lockedActiveItemLabel {
  font-weight: var(--weight-bold);
}

.valueAmount {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--dark);
}

.valueAmount figure {
  display: block;
}

.valueAmount span {
  font-size: var(--size-smallish);
}

.valueAmount:not(:last-of-type) {
  display: flex;
  justify-content: center;
  margin-bottom: 26px;
}

.tokenIcon {
  height: 18px;
  width: 18px;
}

.symbol {
  margin-left: 4px;
}

.icon {
  margin-right: 4px;
}
