.selectedDate {
  display: flex;
  align-items: center;
  padding: 0;
  border: none;
  background: none;
  font-size: var(--size-smallish);
  font-weight: var(--weight-bold);
  color: var(--action-secondary);
  cursor: pointer;
}

.icon {
  height: 21px;
  width: 21px;
}

.icon svg {
  vertical-align: middle;
  fill: var(--action-secondary);
  stroke: var(--action-secondary);
}

.container {
  padding: 24px;
  border: 1px solid var(--text-disabled);
  border-radius: 8px;
  background-color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.currentMonth {
  font-size: var(--size-medium);
  font-weight: var(--weight-bold);
  text-transform: uppercase;
  line-height: 16px;
  color: var(--dark);
}

.prevButton,
.nextButton {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

:global(.react-datepicker) {
  border: none;
  border-radius: 0;
  background-color: white;
  font-family: var(--family-primary);
}

/** Hide the popover triangle */
:global(.react-datepicker__triangle) {
  display: none;
}

:global(.react-datepicker__header) {
  margin-bottom: 16px;
  padding: 0;
  border: none;
  background-color: white;
}

:global(.react-datepicker__day-names) {
  display: flex;
  gap: 10px;
}

/** Weekday name in the header */
:global(.react-datepicker__day-name) {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 20px;
  width: 30px;
  font-size: var(--size-small);
  font-weight: var(--weight-bold);
  color: var(--text-disabled);
}

:global(.react-datepicker__month) {
  margin: 0;
}

:global(.react-datepicker__week) {
  display: flex;
  gap: 10px;
}

:global(.react-datepicker__day) {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 30px;
  width: 30px;
  border: 1px solid transparent;
  font-size: var(--size-small);
  font-weight: var(--weight-bold);
  color: var(--dark);

  &:hover {
    border-color: var(--primary);
    background-color: white;
    color: var(--dark);
  }
}

:global(.react-datepicker__day--today) {
  color: var(--primary);
}

:global(.react-datepicker__day--selected) {
  background-color: var(--primary);
  color: white;
}

:global(.react-datepicker__day--outside-month) {
  color: var(--text-disabled);
}

:global(.react-datepicker__day--keyboard-selected) {
  background-color: white;
}
