.container {
  display: flex;
  align-items: baseline;
  margin-bottom: 18px;
}

.dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: var(--primary);
}

.dotContainer {
  margin: 0 9px 0 22px;
  width: 26px;
}

.messageWrapper {
  flex: 1;
  font-size: var(--size-tiny);
  font-weight: var(--weight-bold);
}

.userDecoration {
  display: inline-block;
  margin-right: 4px;
  font-weight: var(--weight-bold);
  color: var(--pink);
}

.reputationWrapper {
  display: inline-block;
  font-size: var(--size-tiny);
  font-weight: var(--weight-bold);
}

.reputationWrapper > div {
  padding-right: 0;
}

.reputationStarWrapper {
  display: inline-flex;
  align-items: center;
  margin-left: 8px;
  padding-right: 4px;
  padding-left: 10px;
  position: relative;
}

.reputationWrapper i {
  right: unset;
  left: -16px;
}

.transactionMeta {
  width: 100%;
}

.change {
  margin-left: 4px;
}

.roles {
  margin-right: 10px;
}

.tooltipIcon {
  margin-bottom: 4px;
}

.details {
  display: flex;
  align-items: center;
  width: 100%;
}
