.horizontalWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.horizontalWrapper > label {
  margin-bottom: 0;
}

.status {
  margin-right: 30px;
  text-align: right;
}

.unselectable {
  align-items: flex-start;
  justify-content: flex-end;
}

.unselectable label {
  padding-top: 14px;
}

.unselectable ul {
  background-color: transparent;
  box-shadow: none;
}

.unselectable li {
  padding: 0;
}

.withoutPadding {
  padding: 0;
}
