@import 'variables.css';

/* theme */
.themeDefault {
  height: auto;
  max-height: 160px;
  width: 100%;
  position: absolute;
  top: calc(100% + 2px);
  z-index: 2;
  overflow: auto;
  border: 1px solid var(--temp-grey-5);
  border-radius: 0 0 2px 2px;
  background-color: var(--grey-blue-2);
  box-shadow: 0 3px 5px rgba(black, 0.05);
}

.themeAlt {
  composes: themeDefault;
  width: auto;
  min-width: 100%;
  background-color: white;
}

/* alignOptions */
.alignOptionsLeft {
  left: 0;
}

.alignOptionsRight {
  right: 0;
}

.alignOptionsCenter {
  left: 50%;
  transform: translate(-50%);
}
