/* theme */
.baseTheme {
  height: auto;
  max-height: 170px;
  width: auto;
  min-width: 100%;
  position: absolute;
  top: calc(100% + 5px);
  z-index: var(--z-index-nav);
  overflow: auto;
  border-radius: 0 0 2px 2px;
  text-align: left;
  box-shadow: 0 3px 5px rgba(black, 0.05);
}

.themeDefault {
  composes: baseTheme;
  border: 1px solid var(--temp-grey-5);
  background-color: var(--grey-blue-2);
}

.themeAlt {
  composes: baseTheme;
  border-radius: var(--radius-tiny);
  background-color: white;
  box-shadow: 0 0 3px var(--temp-grey-5);
}

.themeGrey {
  composes: baseTheme;
  border: 1px solid rgb(200, 214, 245);
  border: 1px solid var(--temp-grey-5);
  border-radius: var(--radius-tiny);
  background-color: rgb(249, 250, 250);
  color: rgb(60, 68, 77);
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.07);
}

.themeGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 7px;
  padding: 10px;
  width: 108px;
  position: absolute;
  z-index: var(--z-index-positioning);
  border: 1px solid rgb(241, 242, 245);
  border-radius: var(--radius-normal);
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
  box-shadow: var(--box-shadow-medium);
}

.themeGrid li {
  padding: 0 5px;
}

.themeGrid li[data-checked="true"] > span > div > div {
  border: 1px solid var(--primary);
}

/* alignOptions */
.alignOptionsLeft {
  left: 0;
}

.alignOptionsRight {
  right: 0;
}

.alignOptionsCenter {
  left: 50%;
  transform: translate(-50%);
}

.widthFluid {
  width: auto;
  min-width: 100%;
}

.widthStrict {
  width: 300px;
  min-width: auto;
}
