.item {
  display: flex;
  align-items: center;
  padding: 25px;
}

.headingContainer {
  display: flex;
  align-items: center;
}

.locked {
  flex-basis: 30px;
}

.locked + .content {
  margin-left: 15px;
}

.content {
  flex-grow: 1;
}

.categories {
  display: flex;
  align-items: baseline;
}

.category + .category {
  margin-left: 20px;
}

.iconComplete {
  margin-left: 15px;
  height: 14px;
  width: 14px;
  line-height: 14px;
}

.iconComplete svg {
  height: 14px;
  width: 14px;
}

.rewardsContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.payoutsContainer {
  max-width: max-content;
}

.pendingText {
  display: flex;
  align-items: center;
}

.pendingText .dot {
  margin-left: 7px;
  height: 9px;
  width: 9px;
  border-radius: 50%;
  background-color: var(--golden);
}
