.main {
  padding: 5px 10px 10px;
  z-index: var(--z-index-selection);
  border-bottom: 1px solid transparent;
  font-size: var(--size-normal);
  font-weight: var(--weight-bold);
  color: var(--colony-black);
  cursor: pointer;

  &:hover {
    border-bottom-color: var(--primary);
  }
}

.selected {
  border-bottom-color: var(--primary);
  color: var(--primary);
}

.disabled {
  color: var(--temp-grey-4);
  cursor: default;

  &:hover {
    border-bottom-color: transparent;
  }
}
