@import 'variables.css';
@import 'tabsVariables.css';

.container {
  display: flex;
  align-items: center;
  height: var(--tabs-tab-list-container-height);
  position: relative;
}

.container::before {
  width: 100%;
  position: absolute;
  bottom: 0;
  border-top: 1px solid var(--temp-grey-5);
  content: '';
}

.main {
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
  align-items: center;
}

/*
 * Themeing
 *
 * Note: For the tab list the theme is optional!
 * At this point in time there is only the vertical theme.
 */

/*
 * Vertical:
 * Dark NavLinks with turquoise active state
 */

.themeVertical > ul {
  display: flex;
  flex-direction: column;
  align-items: start;
  line-height: 3;
  font-weight: var(--weight-medium);
  color: var(--colony-black);
  margin-left: 10px;
}
