
.main {
  composes: button from '~styles/reset.css';
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0;
  width: 100%;
  border-top: 1px solid var(--grey-blue-0);
  font-size: var(--size-small);
  font-weight: var(--weight-bold);
}

.main:focus {
  outline: var(--colony-blue) auto 1px;
}

.buttonAndText {
  display: flex;
  align-items: center;
  height: 38px;
  width: 199px;
  border-radius: 15px;
}

.buttonAndText:hover {
  background-color: color-mod(var(--colony-blue) alpha(10%));
  color: var(--colony-blue);

  /* Makes the SVG icon fill with color, dependent on the entire button hover state. */
  fill: var(--colony-blue);
}

.buttonIcon {
  margin-left: 5px;
  margin-right: 14px;
}
