@value query700 from '~styles/queries.css';

.main {
  display: flex;
  flex-direction: column;
  padding: 8px;
  height: 100%;
  border-radius: var(--radius-large);
  background-color: white;
  box-shadow: var(--box-shadow-medium);
}

.messages {
  flex: 1 0 0;
  margin-bottom: 20px;
  overflow-x: hidden;
  overflow-y: auto;
}

.inputBox {
  flex: 0 0 auto;
  padding: 0 16px;
}

.inputBox textarea:disabled {
  border: 1px solid rgb(200, 214, 245);
  background-color: var(--text-disabled);
}

.loading, .empty {
  padding: 16px;
}

.empty {
  color: color-mod(var(--text) alpha(60%));
}

.loaderMessage {
  display: inline-block;
  margin-left: 10px;
  vertical-align: top;
  font-size: var(--size-small);
}

@media screen and query700 {
  .messages {
    flex: auto;
    margin-bottom: 0;
    padding-bottom: 20px;
    min-height: 100px;
  }
}
