.main {
  display: flex;
  flex-direction: column;
  padding: 8px;
  height: 100%;
  border-radius: var(--radius-large);
  background-color: white;
  box-shadow: var(--box-shadow-medium);
}

.messages {
  flex: 1 0 0;
  margin-bottom: 20px;
  overflow: auto;
}

.inputBox {
  flex: 0 0 auto;
  padding: 0 16px;
}

.inputBox textarea:disabled {
  border: 1px solid rgb(200, 214, 245);
  background-color: var(--text-disabled);
}

.loading, .empty {
  padding: 16px;
}

.loaderMessage {
  display: inline-block;
  margin-left: 10px;
  vertical-align: top;
  font-size: var(--size-small);
}
