.card {
  display: flex;
  align-items: center;
}

.description {
  flex: 1 1 auto;
}

.status {
  flex: 0 1 auto;
}

.transactionLink {
  font-size: var(--size-tiny);
  font-weight: var(--weight-medium);

  &:hover {
    border-bottom: 1px solid var(--sky-blue);
    color: var(--sky-blue);
  }
}

.counter {
  display: inline-block;
  padding-top: 2px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: var(--pink);
  font-size: var(--size-small);
  font-weight: var(--weight-medium);
  text-align: center;
  color: white;
  box-shadow: 0 0 6px color-mod(var(--grey-5) alpha(60%));
}

.failed {
  display: inline-block;
  width: 20px;
  font-size: var(--size-medium-l);
  font-weight: var(--weight-medium);
  text-align: center;
  color: var(--danger);
}

.pending {
  display: inline-block;
  margin-right: 5px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: var(--golden);
}
