.card {
  display: flex;
  align-items: center;
}

.description {
  flex: 1 1 auto;
}

.status {
  flex: 0 1 auto;
}

.transactionDescription {
  font-size: var(--size-tiny);
  font-weight: var(--weight-medium);
}
