@value paddingTop: 56px;
@value lockedPaddingTop: 75px;
@value paddingRightLeftBottom: 54px;

.container {
  padding: paddingTop paddingRightLeftBottom paddingRightLeftBottom;
}

.container i {
  /* The negative margin is used here to adjust the position of the caret icon */
  margin-bottom: -3px;
}

.settingsRow {
  composes: flexContainerRow flexAlignCenter flexJustifyBetween from '~styles/layout.css';
  min-height: 41px;
}

.settingsRow h4 {
  font-size: var(--size-smallish);
}

.settingsRow button[aria-expanded="true"] {
  padding: 2px 0 2px 6px;
  border-radius: 4px;
  background-color: var(--grey-blue-1);
}

.userContainer {
  composes: settingsRow;
  padding: 8px 0;
}

.userAvatarContainer {
  display: flex;
}

.singleUserContainer label {
  color: var(--dark);
}

.userName {
  display: flex;
  align-items: center;
  margin-left: 8px;
  font-weight: var(--weight-bold);
  color: var(--pink);
}

.label {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
  font-size: var(--size-smallish);
  font-weight: var(--weight-normal);
  color: var(--dark);
}

.lockedLabel {
  font-weight: var(--weight-bold);
}

.option {
  margin-bottom: 12px;
  padding: 16px 20px 0 0;
  font-size: var(--size-smallish);
}

.weightBold {
  font-weight: var(--weight-bold);
}

.firstOption {
  padding: 8px 20px 0 0;
}

.icon {
  margin-right: 4px;
}

.icon figure {
  display: block;
}

.tokenIcon {
  height: 18px;
  width: 18px;
}

.symbol {
  margin-left: 4px;
}

.activeItem {
  display: flex;
  align-items: center;
  margin-right: 2px;
}

.activeItemLabel {
  margin-left: 8px;
  padding-bottom: 2px;
  font-size: var(--size-smallish);
  font-weight: var(--weight-bold);
  color: var(--dark);
}

.lockedActiveItemLabel {
  font-weight: var(--weight-bold);
}

.blue button {
  font-size: var(--size-smallish);
  color: var(--action-secondary);
}

.blue li {
  font-size: var(--size-smallish);
}

.blue svg {
  fill: var(--action-secondary);
  stroke: var(--action-secondary);
}

.balance ul {
  position: static;
}

.balance span {
  font-size: var(--size-smallish);
}

.balance li:hover {
  background-color: transparent;
}

.error {
  width: 100%;
  font-size: var(--size-tiny);
  font-weight: var(--weight-bold);
  text-align: right;
  color: var(--pink);
}

.expenditure {
  font-size: var(--size-smallish);
  font-weight: var(--weight-bold);
  text-transform: capitalize;
  color: var(--dark);
}

.expenditureContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 14px;
}

/* this selector is for DatePicker button */
.dateError > div > div > div > span > button {
  color: var(--pink);
}

/* this selector is for the caret icon next to the button */
.dateError > div > div > div > span > button svg {
  fill: var(--pink);
  stroke: var(--pink);
}
