.main {
  composes: stretchVertical stretchHorizontal from '~styles/layout.css';
  position: absolute;
  top: 0;
  overflow: auto;
  background: var(--gradient-default);
}

.header {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

.mainContent {
  margin-top: 160px;
  padding-bottom: var(--pad-large);
  text-align: center;
}

.loaderContainer {
  composes: marginBottomLarge from '~styles/layout.css';
}
