.wrapper {
  margin: 18px 0 14px;
}

.labelWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.additionalPaddign {
  padding: 8px 0 10px;
}

.labelWrapper label {
  margin-right: 8px;
  width: auto;
  font-size: var(--size-smallish);
  font-weight: var(--weight-bold);
  color: color-mod(var(--dark) alpha(85%));
}

.labelWrapper > div {
  max-width: 250px;
}

.protectorsLabelWrapper {
  composes: labelWrapper;
}

.protectorsLabelWrapper i {
  display: block;
  margin-left: 8px;
}

.label {
  font-size: var(--size-smallish);
  font-weight: var(--weight-bold);
  color: color-mod(var(--dark) alpha(85%));
}

.mainContactWrapper {
  display: flex;
  justify-content: space-between;
  padding: 11px 0 14px;
  padding-bottom: 0;
  font-size: var(--size-smallish);
  font-weight: var(--weight-bold);
  color: color-mod(var(--temp-grey-blue-7) alpha(85%));
}

.mainContactWrapper label {
  margin-right: 0;
}

.deleteIcon {
  height: 20px;
  width: 20px;
  fill: var(--pink);
}

.deleteIcon:hover {
  cursor: pointer;
}

.circlePlusIcon {
  display: flex;
  height: 30px;
  width: 30px;
  fill: var(--action-secondary);
  transform: translate(-2px, 0);
}

.signOptionWrapper {
  margin-top: 12px;
}

.additionalText {
  font-size: var(--size-small);
  font-weight: var(--weight-normal);
}

.additionalMargin {
  margin-bottom: 4px;
}

.radioWrapper > label {
  display: flex;
  align-items: center;
  margin-bottom: 9px;
  padding: 0 7px;
  height: 40px;
  width: 100%;
  position: relative;
  border: 1px solid color-mod(var(--action-secondary) alpha(25%));
  border-radius: 2px;
  background-color: color-mod(var(--action-secondary) alpha(5%));
  font-size: var(--size-smallish);
  font-weight: var(--weight-bold);
  color: var(--dark);
}

.radioWrapper > label > span {
  height: 27px;
  width: 27px;
  top: 0;
  border: 1px solid color-mod(var(--action-secondary) alpha(25%));
  background-color: var(--colony-white);

  &::after {
    height: 7px;
    width: 7px;
  }
}

.selected > label {
  border: 1px solid var(--primary);
  background-color: color-mod(var(--primary) alpha(12%));
}
