.widget {
  margin-top: 20px;
}

.widgetHeading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 7px;
}

.title {
  font-size: var(--size-smallish);
  font-weight: var(--weight-bold);
  color: var(--dark);
}

.stakeProgress,
.stakeProgress span {
  font-size: var(--size-tiny);
  font-weight: var(--weight-bold);
  color: var(--dark);
}

.userStake,
.userStake span {
  margin-top: 16px;
  font-size: var(--size-tiny);
  font-weight: var(--weight-bold);
  color: var(--temp-grey-blue-7);
}

.totalStakeRadio + .totalStakeRadio {
  margin-top: 6px;
}

.totalStakeRadio > label {
  padding: 7px 10px 7px 16px;
}

.help {
  margin-right: auto;
  margin-left: 8px;
  height: 16px;
}

.tooltip {
  margin-left: 10px;
  width: 220px;
}

.submitButtonContainer {
  margin-top: 10px;
  margin-bottom: 105px;
  margin-left: auto;
  width: fit-content;
}

.submitButtonContainer > button {
  padding: 2px 35px;
  font-size: var(--size-small);
  font-weight: var(--weight-bold);
}

.helpTooltip {
  align-self: flex-end;
  margin-left: 7px;
  margin-top: 1px;
  cursor: pointer;
}

.subHeading {
  display: flex;
  flex-direction: row;
}
