.widget {
  margin-top: 20px;
  margin-bottom: 35px;
}

.widgetHeading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 7px;
}

.title {
  font-size: var(--size-smallish);
  font-weight: var(--weight-bold);
  color: var(--dark);
}

.stakeProgress,
.stakeProgress span {
  font-size: var(--size-tiny);
  font-weight: var(--weight-bold);
  color: var(--dark);
}

.userStake,
.userStake span {
  margin-top: 16px;
  font-size: var(--size-tiny);
  font-weight: var(--weight-bold);
  color: var(--temp-grey-blue-7);
}

.totalStakeRadio + .totalStakeRadio {
  margin-top: 6px;
}
