/*
 * @NOTE Unique values
 */
@value mainTextSize: 13px;

.main {
  display: flex;
  align-items: center;
  margin-bottom: 1px;
  padding: 26px 20px;
  max-height: 89px;
  border-radius: var(--radius-large);
  background-color: var(--colony-white);
  font-size: mainTextSize;
  font-weight: var(--weight-bold);
  color: var(--dark);
  letter-spacing: var(--spacing-medium);
  box-shadow: 0px 2px 11px var(--drop-shadow);
}

.avatar {
  padding-right: 15px;
}

.avatar figure {
  height: 37px;
  width: 37px;
}

.status::before {
  display: block;
  margin-left: -17px;
  height: 81px;
  width: 4px;
  position: absolute;
  border-radius: var(--radius-large);
  content: '';
}

.stateRed {
  composes: status;
}

.stateRed::before {
  background-color: var(--pink);
}

.stateBlue {
  composes: status;
}

.stateBlue::before {
  background-color: var(--colony-blue);
}
