/*
 * @NOTE Unique values
 */
@value mainTextSize: 13px;
@value popoverWidth: 400px;
@value popoverDistance: 10px;

.main {
  display: flex;
  align-items: center;
  margin-bottom: 1px;
  padding: 26px 20px;
  height: 89px;
  border-radius: var(--radius-large);
  background-color: var(--colony-white);
  font-size: mainTextSize;
  font-weight: var(--weight-bold);
  color: var(--dark);
  letter-spacing: var(--spacing-medium);
  box-shadow: 0px 2px 11px var(--drop-shadow);
  cursor: pointer;
  outline: 0;
}

.main:hover {
  background-color: var(--temp-grey-blue-8);
}

.avatar {
  margin-top: -2px;
  padding-right: 15px;
  cursor: pointer;
}

.avatar > div > figure {
  height: 42px;
  width: 42px;
  border: 2px solid transparent;
  border-radius: 100%;
}

.avatar:hover figure {
  border-color: var(--primary);
  background: var(--primary);
}

.status::before {
  display: block;
  margin-left: -17px;
  height: 82px;
  width: 4px;
  position: absolute;
  border-radius: var(--radius-large);
  content: '';
}

.stateNeedAction {
  composes: status;
}

.stateNeedAction::before {
  background-color: var(--pink);
}

.stateNeedAttention {
  composes: status;
}

.stateNeedAttention::before {
  background-color: var(--colony-blue);
}

.stateYellow {
  composes: status;
}

.stateYellow::before {
  background-color: var(--golden);
}

.content {
  flex: 1 1 100%;

  /*
   * @NOTE Flex items won't shrink below their minimum content
   * This forces flex to resize at the correct ration, while still applying our
   * overflow -- which is all the reasoning why we did this in the first place,
   * to add text ellipsis to overflowing elements
   */
  min-width: 0;
}

.titleWrapper {
  display: flex;
  align-items: center;
  width: 100%;
}

.title {
  composes: inlineEllipsis from '~styles/text.css';
}

.meta {
  margin-top: 3px;
  font-size: var(--size-small);
  font-weight: var(--weight-normal);
  color: var(--temp-grey-blue-7);
  letter-spacing: var(--spacing-normal);
}

.separator::before {
  display: inline-block;
  margin: 0px 10px -2px;
  height: 12px;
  width: 1px;
  background-color: var(--temp-grey-13);
  content: '';
}

.day {
  margin-right: 4px;
}

.domain {
  composes: separator;
}

.commentCount {
  composes: separator;
  display: inline-block;
}

.commentCountIcon {
  display: inline-block;
  margin: 0 5px 2px 0;
  height: 13px;
  width: 13px;
  vertical-align: bottom;
  stroke: none;
}

.commentCountIcon svg {
  fill: color-mod(var(--dark) alpha(70%));
}

.userMention {
  display: inline-block;
  cursor: pointer;
}

.stateNoPointer {
  cursor: default;
}

.titleDecoration {
  color: var(--pink);
}

.motionTagWrapper {
  display: inline-block;
  margin: -1px 0 0 12px;
  padding: 0;
  vertical-align: middle;
}

.countdownTimerContainer {
  margin-left: 30px;
}
