.tokens {
  display: flex;
  align-items: center;
  margin-right: -3px;
  padding: 0 8px 2px;
  height: 24px;
  position: relative;
  border: 1px solid transparent;
  border-radius: var(--radius-normal);
  background-color: transparent;
  cursor: pointer;
}

.tokens span {
  font-size: var(--size-smallish);
  font-weight: var(--weight-bold);
  color: var(--dark);
}

.tokens span:first-child {
  margin-top: 2px;
}

.tokens:hover {
  z-index: 5;
  background-color: rgb(217, 216, 236);
}

.tokens:hover span {
  color: var(--action-secondary);
}

.tokensActive {
  composes: tokens;
  z-index: 5;
  border: 1px solid var(--action-secondary);
  background-color: rgb(217, 216, 236);
  color: var(--action-secondary);
}

.dot {
  display: inline-block;
  margin-right: 5px;
  height: 9px;
  width: 9px;
  border-radius: 50%;
  background-color: var(--primary);
}

.dotInactive {
  background-color: var(--pink);
}
