.tokens {
  position: relative;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 8px;
  margin-right: -3px;
  border: 0;
  background-color: transparent;
  font-size: var(--size-smallish);
  font-weight: var(--weight-bold);
  color: var(--dark);
  border-radius: var(--radius-normal);
  cursor: pointer;
}

.tokens:hover {
  z-index: 5;
  background-color: rgb(217, 216, 236);
  color: var(--colony-blue);
}

.tokensActive {
  composes: tokens;
  z-index: 5;
  border: 1px solid var(--colony-blue);
  color: var(--colony-blue);
  background-color: rgb(217, 216, 236);
}

.dot {
  display: inline-block;
  margin-right: 5px;
  height: 9px;
  width: 9px;
  border-radius: 50%;
  background-color: var(--primary);
}

.dotInactive {
  background-color: var(--pink);
}
