.tokens {
  padding: 0 8px;
  height: 26px;
  position: relative;
  border: none;
  border-radius: var(--radius-normal);
  background: transparent;
  font-size: var(--size-smallish);
  font-weight: var(--weight-bold);
  line-height: 26px;
  color: var(--dark);
  cursor: pointer;
}

.tokensNumber {
  font-size: var(--size-smallish);
  font-weight: var(--weight-bold);
}

.tokens:hover, .tokensNumber:hover {
  z-index: 5;
  background-color: rgb(217, 216, 236);
  color: var(--colony-blue);
}

.dot {
  display: inline-block;
  margin-right: 5px;
  height: 9px;
  width: 9px;
  border-radius: 50%;
  background-color: var(--primary);
}

.dotInactive {
  background-color: var(--pink);
}

.tooltip {
  width: 225px;
  text-align: left;
}
