.wrapper {
  margin-top: 24px;
  padding-top: 14px;
  border-top: 1px solid color-mod(var(--temp-grey-blue-7) alpha(15%));
}

.buttonsWrapper {
  display: flex;
  justify-content: flex-end;
  padding-top: 14px;
  gap: 8px;
}

.nextButton {
  composes: main themePrimary sizeLarge from '~core/Button/Button.css';
  height: 44px;
  width: 160px;
}

.backButton {
  composes: main from '~core/Button/Button.css';
  padding: 0;
  height: 44px;
  width: auto;
  font-weight: var(--weight-bold);
  color: var(--temp-grey-blue-7);
  letter-spacing: var(--spacing-medium);
}
