@value contentMargin: 12px;

.bioContainer {
  margin-top: contentMargin;
}

.websiteContainer {
  margin-top: contentMargin;
}

.locationContainer {
  margin-top: contentMargin;
}

.avatar {
  border-radius: 50%;
  box-shadow: 0 0 20px var(--temp-grey-blue-2);
}
