@import 'variables.css';

:root {
  --contentMargin: 12px;
}

.bioContainer {
  margin-top: var(--contentMargin);
}

.websiteContainer {
  margin-top: var(--contentMargin);
}

.locationContainer {
  margin-top: var(--contentMargin);
}

.avatar {
  border-radius: 50%;
  box-shadow: 0 0 20px var(--temp-grey-blue-2);
}
