.icon {
  display: inline-block;
  margin: -7px 7px -4px -4px;
  height: 12px;
  width: 12px;
  vertical-align: middle;
}

.icon svg {
  vertical-align: center;
}

.themeBanned {
  padding: 2px 8px 2px;
  border-radius: var(--radius-large);
  background-color: color-mod(var(--pink) alpha(20%));
  color: var(--pink);
}
