.icon {
  display: inline-block;
  margin-top: -4px;
  margin-right: 4px;
  margin-left: -4px;
  height: 12px;
  width: 12px;
  vertical-align: middle;
}

.icon svg {
  vertical-align: center;
}

.textSyles {
  display: inline-flex;
  vertical-align: text-top;
}

.baseStyles {
  display: inline-block;
  padding: 2px 8px 2px;
  border-radius: var(--radius-large);
  font-size: 0.8rem;
  font-weight: var(--weight-bold);
  color: var(--colony-white);
}

.baseStyles + .baseStyles {
  margin-left: 10px;
}

.themeBanned {
  composes: baseStyles;
  background-color: color-mod(var(--pink) alpha(20%));
  color: var(--pink);
}
