
.subTitle {
  margin-top: 30px;
}

.link {
  font-size: var(--size-tiny);
  font-weight: var(--weight-semi);
  color: var(--sky-blue);
}

.titleAndButton {
  display: flex;
  justify-content: space-between;
}
