.main {
  padding: 9px 4px;
  max-width: 430px;
  font-size: var(--size-small);
}

.displayName {
  composes: inlineEllipsis from '~styles/text.css';
  margin: 0 0 6px 0;
  font-weight: var(--weight-semi);
  color: var(--colony-black);
}

.userName {
  composes: inlineEllipsis from '~styles/text.css';
  margin: 0 0 6px 0;
}

.userName a {
  font-weight: var(--weight-semi);
  color: var(--pink);
}

.address button {
  height: auto;
}

.symbol {
  composes: inlineEllipsis from '~styles/text.css';
  margin: 0 0 6px 0;
  font-weight: var(--weight-medium);
  color: var(--pink);
}

.nativeTokenMessage {
  margin-top: 6px;
}

.etherscanDivider {
  margin: 10px -10px 0 -10px;
  padding: 12px 0 0 10px;
  border-top: 1px solid var(--temp-grey-5);
}
