.main {
  padding: 15px 0;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: var(--z-index-alert);
  background-color: var(--danger);
  font-weight: var(--weight-medium);
  text-align: center;
  color: white;
}
