@value query700 from '~styles/queries.css';

.membersContainer {
  display: flex;
}

.main {
  margin-top: 20px;
  min-width: 618px;
}

.main table .tableBody {
  overflow-y: auto;
  overflow-x: none;
}

.main table .tableBody tr {
  overflow-x: auto;
}

.communityRole {
  font-size: var(--size-tiny);
  font-weight: var(--weight-bold);
  white-space: nowrap;
}

.subscribeCallToAction {
  margin-bottom: 20px;
  color: var(--text-dark);
}

.subscribeButton {
  padding: 0px;
  border: none;
  background-color: rgb(0, 0, 0, 0);
  color: var(--sky-blue);
  cursor: pointer;
}

.subscribedIcon, .unsubscribedIcon {
  display: inline-block;
  margin-right: 5px;

  /*
   * @NOTE Negative margins
   * Better align subscription icon with the text
   */
  margin-bottom: -1px;
  padding: 0;
  height: 18px;
  width: 18px;
  position: relative;
  vertical-align: bottom;
  border: none;
  border-radius: 100%;
  font-size: 13px;
  line-height: 100%;
  color: white;
  cursor: pointer;
}

.subscribedIcon::before {
  width: 100%;
  position: absolute;
  top: 2px;
  left: 3px;
  content: '\2605';
}

.subscribedIcon {
  margin-right: 2px;
  margin-bottom: 2px;
  background: var(--golden);
}

.unsubscribedIcon::before {
  width: 100%;
  position: absolute;
  top: 2px;
  left: 0;
  content: '\2605';
}

.unsubscribedIcon {
  background-color: var(--temp-grey-12);
}

.noResults {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

@media screen and query700 {
  .main {
    margin: 0;
    min-width: 0;
  }

  .titleContainer {
    margin-bottom: 10px;
    padding: 0 14px;
  }

  .titleContainer h3 {
    margin: 0;
  }
}
