.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 24px 30px;
  height: 100%;
  position: relative;
  border-radius: var(--radius-large);
  background-color: white;
  box-shadow: var(--box-shadow-medium);
}

.stateDisabled {
  background-color: color-mod(var(--temp-grey-blue-7) alpha(25%));
}

.heading {
  display: flex;
  justify-content: space-between;
  align-self: flex-start;
  width: 100%;
}

.helpWrapper {
  margin-top: -14px;
  margin-right: -19px;
  position: relative;
  cursor: pointer;
}

.tooltip {
  width: 250px;
}

.form {
  height: 100%;
}

.inputContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 30px 0 30px;
}

.inputComponent {
  flex-grow: 1;
  width: 190px;
}

.inputComponent input {
  padding: 0;
  font-size: var(--size-huge);
  font-weight: var(--weight-normal);
  text-align: right;
}

.inputComponent label {
  margin: 0 0 -8px;
  padding: 0;
  color: var(--dark);
}

.fieldError {
  margin: -15px 0 12px;
}

.nativeToken {
  align-self: flex-start;
  margin: 25px 0 0 14px;
  width: 70px;
}

.userBalance, .userBalance span {
  margin-top: -13px;
  font-size: var(--size-tiny);
  font-weight: var(--weight-bold);
  text-align: right;
}

.userBalance button {
  margin-left: 5px;
  height: auto;
}

.amountsContainer {
  display: flex;
  align-items: flex-start;
  margin-top: 20px;
}

.amounts {
  display: flex;
  width: 196px;
  font-size: var(--size-smallish);
  font-weight: var(--weight-bold);
  color: var(--dark);
}

.amountsLabel {
  flex: 0 1;
}

.amountsValues {
  flex: 1 1;
  align-self: flex-end;
  text-align: right;
}

.amountsValues div {
  overflow: hidden;
}

.symbols {
  flex: 1 1;
  margin: -2px 0 0 14px;
  width: 70px;
}

.controls {
  width: calc(100% - 60px);
  position: absolute;
  bottom: 24px;
  text-align: center;
}

.controls button {
  padding: 9px 24px;
  width: 160px;
}

.loader {
  composes: main;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainMessage {
  font-size: var(--size-medium-l);
  text-align: center;
  white-space: pre-line;
}

.link {
  font-size: var(--size-tiny);
  font-weight: var(--weight-bold);
  color: var(--dark-blue);

  &:hover {
    text-decoration: underline;
    color: var(--dark-blue);
  }
}

.accountStatus {
  font-size: var(--size-smallish);
  font-weight: var(--weight-bold);
  color: var(--primary);
}

.statusMessage {
  margin-bottom: 6px;
}
