.main {
  composes: main from '../TransactionCard/TransactionStatus.css';
}

.tooltip {
  composes: tooltip from '../TransactionCard/TransactionStatus.css';
}

.counter {
  composes: counter from '../TransactionCard/TransactionStatus.css';
}
