@import 'variables.css';

@value wideButton: 160px;

.main {
  width: 460px;
}

.titleSection {
  margin-top: 180px;
}

.inputFields {
  margin-top: 40px;
}

.customInputHelp {
  /*
   * @NOTE Negative margins
   *
   * It was easier for this to have nagative margins so that the space between
   * it an the input is smaller.
   *
   * The alternative would be to customize the Input's styles. This works better
   * since this is already a custom element.
   */
  margin: -9px 0 50px;
  font-size: var(--size-tiny);
  font-weight: var(--weight-semi);
  color: var(--temp-grey-11);
}

.actionsContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 60px;
}
