@import 'variables.css';

@value wideButton: 160px;

.main {
  width: 460px;
}

.titleSection {
  margin-top: 180px;
}

.actionsContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 60px;
}
