@value query700 from '~styles/queries.css';

.main {
  padding-top: 155px;
  width: 100%;
  width: 460px;
}

.paragraph {
  margin-top: 1.5em;
  font-size: var(--size-medium);
}

.nameForm {
  margin-top: 40px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 13px;
}

.reminder {
  max-width: 215px;
  font-size: var(--size-tiny);
  font-weight: var(--weight-bold);
  line-height: 18px;
}

.iconContainer {
  height: 16px;
}

.tooltipContent {
  min-width: 280px;
}

@media screen and query700 {
  .main {
    padding-bottom: 40px;
  }
}
