.main {
  width: 460px;
}

.titleSection {
  margin-top: 180px;
}

.inputFields {
  margin-top: 40px;
}

.inputFieldWrapper {
  margin-bottom: 50px;
}

.actionsContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 60px;
}

.linkToOtherStep {
  font-size: var(--size-small);
  font-weight: var(--weight-semi);
  color: var(--sky-blue);
  cursor: pointer;
}
