@import 'variables.css';

.buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 48px;
}

.finalForm {
  width: 500px;
  height: 364px;
  margin-top: 224px;
  background: var(--colony-white);
  border-radius: 5px;
  border: 1px solid var(--temp-grey-0);
  padding: 20px 30px;
}

.cardRow {
  display: flex;
  justify-content: space-between;
  margin: 40px 0px;
}

.fakeInput{
  border: none;
  background-color: var(--colony-white);
  color: var(--text);
  font-size: var(--size-normal);
}

.cardElement {
  flex: 1;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 48px;
}
