@value query700 from '~styles/queries.css';

.main {
  width: 460px;
}

.titleSection {
  margin-top: 180px;
}

.titleSection span {
  word-break: break-word;
}

.inputFields {
  margin-top: 40px;
}

.inputFieldWrapper {
  margin-bottom: 50px;
}

.actionsContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 60px;
}

.linkToOtherStep {
  border: none;
  background-color: transparent;
  font-size: var(--size-small);
  font-weight: var(--weight-bold);
  color: var(--sky-blue);
  cursor: pointer;
}

@media screen and query700 {
  .main {
    padding-bottom: 40px;
    width: 100%;
  }

  .titleSection {
    margin-top: 155px;
  }

  .inputFields > div {
    min-height: 87px;
  }

  .inputFields > div:first-child {
    min-height: 109px;
  }

  .inputFieldWrapper {
    margin-bottom: 25px;
  }

  .actionsContainer {
    margin-top: 25px;
  }
}
