@value query700 from '~styles/queries.css';

.main {
  padding-top: 146px;
  width: 100%;
  max-width: 460px;
}

.paragraph {
  margin-top: 1.5em;
  font-size: var(--size-normal);
}

.finalContainer {
  margin-top: 21px;
  width: 460px;
  border-radius: 5px;
  background: var(--colony-white);
  box-shadow: 0px 2px 11px rgba(62, 118, 244, 0.14);
}

.cardRow {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 24px 20px;
  border-bottom: 1px solid var(--temp-grey-blue-4);
}

.cardRow:last-child {
  border-bottom: none;
}

.cardElement {
  flex: 1;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 22px;
}

@media screen and query700 {
  .main {
    padding-bottom: 30px;
  }

  .finalContainer {
    width: 100%;
  }

  .cardRow span {
    max-width: 208px;
  }
}
