.main {
  padding-top: 155px;
  width: 100%;
  max-width: 520px;
}

.paragraph {
  margin-top: 1.5em;
  font-size: var(--size-medium);
}

.nameForm {
  margin-top: 40px;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 48px;
}
