@value query700 from '~styles/queries.css';

.content {
  composes: alignCenter from '~styles/text.css';
  composes: marginBottomMedium from '~styles/layout.css';
  margin-top: 180px;
  padding: 50px;
  background-color: var(--grey-blue-1);
}

.actions {
  composes: alignRight from '~styles/text.css';
}

.iconContainer {
  composes: marginBottomMedium from '~styles/layout.css';
}

.contentSimplified {
  composes: content;
  margin-top: 30px;
}

.content button i {
  min-width: 10px;
}

.content button > div {
  height: 21px;
}

@media screen and query700 {
  .content, .contentSimplified {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .contentSimplified {
    padding: 20px 14px;
  }

  .iconContainer {
    margin-bottom: 10px;
  }

  .contentSimplified ul,
  .content ul {
    width: 100%;
  }

  .contentSimplified ul span,
  .content ul span {
    width: 100%;
  }

  .contentSimplified li,
  .content li {
    padding-left: 8px;
    padding-right: 8px;
  }

  .contentSimplified > div:last-child button span,
  .content > div:last-child button span {
    white-space: normal;
    overflow-wrap: anywhere;
  }
}
