
.main {
  display: flex;
  align-items: flex-start;
  padding: 11px 0 11px 0;
  width: 100%;
  border-radius: var(--radius-large);
}

.main:hover, .main.activeActions {
  background-color: color-mod(var(--action-secondary) alpha(6%));
  opacity: 1;
}

.stateAnnotation {
  background-color: color-mod(var(--primary) alpha(6%));
}

.stateGhosted {
  opacity: 0.7;
}

.avatar {
  display: flex;
  justify-content: center;
  width: 60px;
}

.details {
  display: flex;
  align-items: center;
}

.details > span {
  margin-right: 6px;
}

.content {
  flex: 1;
  margin-top: -2px;
}

.content ul {
  margin-top: -2px;
}

.actions {
  composes: flexContainerRow flexJustifyCenter from '~styles/layout.css';
  width: 24px;
  position: relative;
  opacity: 0;
}

.main:hover .actions, .main.activeActions .actions {
  opacity: 1;
}

.text {
  font-size: var(--size-normal);
  white-space: pre-wrap;
  color: var(--temp-grey-blue-7);
}

.username {
  composes: inlineEllipsis from '~styles/text.css';
  font-size: var(--size-smallish);
  font-weight: var(--weight-bold);
  color: var(--pink);
}

.themePrimary {
  composes: main;
}

.themeDanger {
  composes: main;
}

.themeDanger.stateAnnotation {
  background-color: color-mod(var(--pink) alpha(6%));
}
