@value wideButton: 160px;
@value query700 from '~styles/queries.css';

.inputContainer {
  margin-bottom: 20px;
  width: 320px;
  position: relative;
}

.inputContainer label,
.domainSelects label {
  font-size: var(--size-smallish);
  color: var(--dark);
}

.inputContainer label {
  margin-top: -20px;
  height: auto;
  width: auto;
  clip: auto;
}

.inputContainer input {
  padding-right: 30px;
  font-weight: var(--weight-normal);
  color: var(--dark);
}

.inputContainer button {
  right: initial;
  left: -6px;
}

.singleUserContainer label {
  margin-bottom: 15px;
  color: var(--dark);
}

.singleUserContainer > div {
  padding-left: 0;
}

.noPermissionFromMessage {
  margin-bottom: 20px;
  font-size: var(--size-tiny);
  font-weight: var(--weight-bold);
  line-height: 18px;
  color: var(--danger);
}

.noPermissionFromMessage > div {
  vertical-align: bottom;
}

.modalHeading {
  padding: 32px 0 20px;
}

.headingContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inputText {
  margin-top: 5px;
  float: right;
  font-size: var(--size-tiny);
  font-weight: var(--weight-bold);
  color: var(--temp-grey-blue-7);
}

.activeItem > div {
  padding: 0;
}

.motionVoteDomain {
  margin: 6px 0;
}

.percentageSign {
  position: absolute;
  top: 6px;
  right: 0;
  font-size: var(--size-medium);
  color: var(--dark);
}

.warningContainer {
  margin: 20px 0 8px 0;
}

.warningTitle {
  font-size: var(--size-smallish);
  font-weight: var(--weight-bold);
  color: var(--pink);
}

.warningText {
  margin-top: 2px;
  font-size: var(--size-normal);
  font-weight: var(--weight-normal);
  color: var(--dark);
}

.divider {
  margin: 0px 0 6px 0;
  height: 1px;
  width: 100%;
  background-color: color-mod(var(--temp-grey-blue-7) alpha(15%));
}

@media screen and query700 {
  .percentageSign {
    /*
     * Negative margin maintains the container above the input
     * instead of to the side, same as on desktop.
     */
    margin-left: -28px;
    padding-top: 38px;
    position: static;
  }

  .inputText {
    margin-top: 0;
    padding-top: 5px;
    float: none;
    text-align: right;
  }

  .inputContainer {
    width: auto;
    column-gap: 6px;
  }

  .inputContainer > div {
    display: flex;
    column-gap: 5px;
  }

  .inputContainer div > p {
    justify-content: flex-end;
    text-align: right;
  }

  .inputContainer > div > div:first-child {
    flex: 1;
  }

  .inputContainer label {
    margin-top: 0px;
    position: static;
  }

  .inputContainer label span {
    display: inline-block;
    min-height: 34px;
  }

  .inputContainer input {
    padding-right: 28px;
  }
}
