/* Use td.className to be able to overwrite table styles */

@value cellPadding: 20px;
@value nameMargin: 10px;

tr.main:hover .customRemoveButton {
  display: inline-block;
}

td.userAvatar {
  padding: cellPadding cellPadding;
  width: 76px;
  cursor: pointer;
}

td.userDetails {
  flex-wrap: wrap;
  padding: cellPadding cellPadding cellPadding 0;
  width: calc(100% - 226px);
}

td.userRemove {
  padding: cellPadding cellPadding;
  width: 150px;
}

.displayName {
  margin-right: nameMargin;
  font-weight: var(--weight-medium);
  color: var(--grey-1);
}

.username {
  margin-right: nameMargin;
}

.address {
  width: 100%;
  font-size: var(--size-small);
}

.customRemoveButton {
  composes: themePrimary from '~core/Button/Button.css';
  display: none;
  width: 100%;
}

.pendingDotWrapper {
  padding: 10px 0;
  width: 100%;
  text-align: right;
}

.pendingDotClickArea {
  display: inline-block;
  padding: 0 10px;
}

.pendingDot {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: var(--golden);
}
