.main {
  display: block;
  margin: 0px 0 100px 0;
}

.main h4 {
  padding: 20px 0;
}

.item {
  composes: item from '../DetailsWidget/DetailsWidget.css';
}

.item:last-child {
  border-bottom: none;
}

.label {
  composes: label from '../DetailsWidget/DetailsWidget.css';
  display: flex;
  align-items: center;
}

.value {
  composes: value from '../DetailsWidget/DetailsWidget.css';
}

.value button {
  width: 100px;
  font-size: var(--size-smal);
}

.reputation i {
  vertical-align: initial;
}

.help {
  margin: 0 0 -4px 7px;
  width: 33px;
  cursor: pointer;
}

.tooltip {
  padding: 10px;
  width: 220px;
}
