.title {
  margin-bottom: 6px;
  font-size: var(--size-smallish);
  font-weight: var(--weight-bold);
  color: var(--dark);
}

.requiredPermissionSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.section {
  display: flex;
  flex-grow: 1;
  align-items: center;
  padding: 15px 0;
  border-top: 1px solid color-mod(var(--temp-grey-blue-7) alpha(15%));
  border-bottom: 1px solid color-mod(var(--temp-grey-blue-7) alpha(15%));
}

.sectionLabel {
  font-size: var(--size-smallish);
  font-weight: var(--weight-bold);
  color: var(--temp-grey-blue-7);
}

.labelIcon {
  margin-left: 8px;
  width: 32px;
}

.labelIcon svg {
  fill: var(--temp-grey-1);
  stroke: unset;
}

.permissionList {
  display: flex;
  margin-left: auto;
}

.listItem {
  margin-right: 10px;
}

.listItem:last-child {
  margin-right: 0;
}

.requiredPermissionSection > i {
  margin-left: 13px;
  fill: var(--danger);
}

.tooltipText {
  max-width: 195px;
}

.tooltipText:first-child {
  margin-bottom: 15px;
}

.tooltipContent {
  max-width: 200px;
}
