.main {
  display: inline-block;
  margin-left: -12px;
}

.joinColony {
  margin: 0;
  padding: 2px 5px;
  border-radius: var(--radius-normal);
  border: none;
  background: transparent;
  font-size: var(--size-tiny);
  font-weight: var(--weight-bold);
  color: var(--colony-blue);
  cursor: pointer;
  outline: 0;
}

.joinColony:hover {
  background-color: color-mod(var(--colony-blue) alpha(10%));
}

.joinColony:active {
  color: var(--text);
}

.spinnerContainer {
  margin: 0 0 -3px 2px;
}
