@value query700 from "~styles/queries.css";

.main {
  composes: flexContainerRow flexAlignCenter from '~styles/layout.css';
}

.spinnerContainer {
  margin: 5px 0 0px 2px;
  position: absolute;
}

.colonySubscribed {
  composes: flexContainerRow flexAlignCenter from '~styles/layout.css';
}

.colonyJoin {
  margin-top: 4px;
}

.menuIconContainer {
  height: 14px;
  width: 6px;
  vertical-align: bottom;
  border-radius: var(--radius-normal);
}

.menuIconContainer:hover, .menuIconContainer.menuActive {
  background-color: color-mod(var(--colony-blue) alpha(10%));
}

.colonyJoinBtn {
  composes: flexItemCenter from '~styles/layout.css';
  display: block;
  padding: 10px 12px;
  width: auto;
  border: 0;
  border-radius: var(--radius-normal);
  background-color: color-mod(var(--action-secondary) alpha(12%));
  font-size: var(--size-small);
  font-weight: var(--weight-bold);
  text-align: center;
  line-height: var(--size-small);
  color: var(--action-secondary);
  cursor: pointer;
  outline: 0;
}

.colonyJoinBtn:hover {
  background-color: color-mod(var(--action-secondary) alpha(25%));
  color: var(--action-secondary);
}

@media screen and query700 {
  .joinButton, .main > button {
    padding: 6px 12px 6px 12px;
    height: 30px;
    width: 118px;
    border: 0;
    border-radius: 4px;
    background-color: rgba(76, 93, 255, 0.12);
    font-size: var(--size-small);
    font-weight: var(--weight-bold);
    text-align: center;
    color: var(--colony-blue);
  }

  .createUserRedirect {
    width: 100%;
    font-size: var(--size-small);
  }
}
