@value query700 from "~styles/queries.css";

.main {
  composes: flexContainerRow flexAlignCenter from '~styles/layout.css';
}

.spinnerContainer {
  margin: 5px 0 0px 2px;
  position: absolute;
}

.colonySubscribed {
  composes: flexContainerRow flexAlignCenter from '~styles/layout.css';
}

.colonyJoin {
  margin-top: 4px;
}

.menuIconContainer {
  height: 14px;
  width: 6px;
  position: relative;
  vertical-align: bottom;
  border-radius: var(--radius-normal);
  cursor: pointer;
}

.menuIconContainer:hover, .menuIconContainer.menuActive {
  background-color: color-mod(var(--colony-blue) alpha(10%));
}

.menuIcon {
  height: 10px;
  width: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: var(--temp-grey-blue-7);
}

.menuIconContainer:hover .menuIcon, .menuIconContainer.menuActive .menuIcon {
  fill: var(--action-secondary);
}

.menuIcon svg {
  height: 10px;
  width: 10px;
  position: absolute;
  top: 0;
  left: 0;
}

.colonyJoinBtn {
  composes: flexItemCenter from '~styles/layout.css';
  display: block;
  padding: 10px 12px;
  width: auto;
  border: 0;
  border-radius: var(--radius-normal);
  background-color: color-mod(var(--action-secondary) alpha(12%));
  font-size: var(--size-small);
  font-weight: var(--weight-bold);
  text-align: center;
  line-height: var(--size-small);
  color: var(--action-secondary);
  cursor: pointer;
  outline: 0;
}

.colonyJoinBtn:hover {
  background-color: color-mod(var(--action-secondary) alpha(25%));
  color: var(--action-secondary);
}

@media screen and query700 {
  .createUserRedirect {
    width: 100%;
    font-size: var(--size-small);
  }

  .menuIcon svg {
    transform: scale(1.75);
  }
}
