@import 'variables.css';

.modalContent {
  padding: 20px 30px;
  min-width: 400px;
  border-radius: var(--radius-large);
  background-color: var(--colony-white);
}

.modalOuterActions {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 5px;
}

.closeIconButton {
  padding: 0;
  border: 0;
  background: 0;
}

.closeIconButton svg {
  fill: var(--colony-white);
  stroke: var(--colony-white);
}

.tokenChoiceContainer {
  max-height: 250px;
  overflow: auto;
}

.tokenChoice {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.tokenChoiceIcon {
  margin: 0 10px;
  max-height: 36px;
  width: 36px;
}

.tokenChoiceSymbol {
  margin: 0 10px;
}

.modalFooter {
  display: flex;
  justify-content: flex-end;
}
