.main {
  display: grid;
  height: 100%;
  grid-template-columns: minmax(700px, auto) 180px;
  grid-template-rows: 1fr;
  column-gap: 80px;
}

.main main {
  display: flex;
  flex-direction: column;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: 1px solid var(--temp-grey-5);
}

.sidebar {
  margin-top: 80px;
}

.sidebar li {
  padding: 10px 0;
}

.mainContent {
  flex: 1;
}
