.tokenAmount {
  display: grid;
  width: 100%;
  grid-template-columns: auto 100px;
}

.tokenAmountSelect {
  align-self: center;
  margin-left: 20px;
}

.tokenAmountUsd {
  justify-self: right;
}

.domainPotBalance {
  font-size: var(--size-small);
  font-weight: 600;
  text-align: right;
}
