@value arrowSize: 8px;
@value arrowBorder: 1px;
@value backgroundColor: rgb(251, 251, 251); /* --colony-white */
@value themeDarkBackgroundColor: rgb(58, 58, 58); /* --grey-1 */
@value themeGreyBackgroundColor: var(--grey-blue-2);

@value arrowHorizontalEnd: calc(var(--radius-small) + arrowBorder);
@value arrowHorizontalStart: calc(0px - arrowSize + (arrowBorder + var(--radius-small)));
@value arrowVerticalEnd: calc(var(--radius-small) + arrowBorder);
@value arrowVerticalStart: calc(var(--radius-small) + arrowBorder);

.main {
  z-index: calc(var(--z-index-notification) + 1);
  border-radius: var(--radius-normal);
  background-color: backgroundColor;
  color: var(--grey-4);
  box-shadow: 0 2px 11px 0px var(--drop-shadow);
}

.arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 0;
  left: 0;
  border: calc(arrowSize + arrowBorder) solid transparent;
  pointer-events: none;
}

.arrow::before {
  height: 0;
  width: 0;
  position: absolute;
  border: arrowSize solid transparent;
  content: '';
}

/*
 * @NOTE On arrow positioning classes
 *
 * The arrow classes need to be distinct from the wrapping popover (and can't inherit
 * styles this way), otherwise Popover nested inside popovers won't work.
 *
 * Because of this the placement location needs to be encoded in the class's name.
 */

.topArrow {
  composes: arrow;
  top: auto;
  bottom: calc((-2 * arrowSize) - arrowBorder);
  border-top-color: backgroundColor;
}

.topArrow::before {
  bottom: calc(-1 * (arrowSize - arrowBorder));
}

.topEndArrow {
  composes: topArrow;
  right: arrowHorizontalEnd;
  left: auto !important;
}

.topStartArrow {
  composes: topArrow;
  left: arrowHorizontalStart !important;
}

.rightArrow {
  composes: arrow;
  left: calc(-2 * (arrowSize + arrowBorder));
  border-right-color: backgroundColor;
}

.rightArrow::before {
  top: calc(-1 * arrowSize);
  left: calc(-1 * (arrowSize - arrowBorder));
}

.rightEndArrow {
  composes: rightArrow;
  top: auto !important;
  bottom: arrowVerticalEnd;
}

.rightStartArrow {
  composes: rightArrow;
  top: arrowVerticalStart !important;
}

.bottomArrow {
  composes: arrow;
  top: calc(-2 * (arrowSize + arrowBorder));
  border-bottom-color: backgroundColor;
}

.bottomArrow::before {
  top: calc(-1 * (arrowSize - arrowBorder));
}

.bottomEndArrow {
  composes: bottomArrow;
  right: arrowHorizontalEnd;
  left: auto !important;
}

.bottomStartArrow {
  composes: bottomArrow;
  left: arrowHorizontalStart !important;
}

.leftArrow {
  composes: arrow;
  right: calc(-2 * (arrowSize + arrowBorder));
  left: auto;
  border-left-color: backgroundColor;
}

.leftArrow::before {
  top: calc(-1 * arrowSize);
  right: calc(-1 * (arrowSize - arrowBorder));
}

.leftEndArrow {
  composes: leftArrow;
  top: auto !important;
  bottom: arrowVerticalEnd;
}

.leftStartArrow {
  composes: leftArrow;
  top: arrowVerticalStart !important;
}

.themeDark {
  composes: main;
  background-color: themeDarkBackgroundColor;
  color: var(--colony-white);
}

.sizeMedium {
  padding: 8px 4px;
}

/*
 *  @NOTE On theme-ing arrows
 *
 *  The arrow classes need to be distinct from the wrapping popover (and can't inherit
 * styles this way), otherwise Popover nested inside popovers won't work.
 *
 * Because of this the theme name needs to be encoded in the class's name.
 */

.themeDarkTopArrow, .themeDarkTopEndArrow, .themeDarkTopStartArrow { border-top-color: transparent; }
.themeDarkTopArrow::before, .themeDarkTopEndArrow::before, .themeDarkTopStartArrow::before { border-top-color: themeDarkBackgroundColor; }

.themeDarkRightArrow, .themeDarkRightEndArrow, .themeDarkRightStartArrow { border-right-color: transparent; }
.themeDarkRightArrow::before, .themeDarkRightEndArrow::before, .themeDarkRightStartArrow::before { border-right-color: themeDarkBackgroundColor; }

.themeDarkBottomArrow, .themeDarkBottomEndArrow, .themeDarkBottomStartArrow { border-bottom-color: transparent; }
.themeDarkBottomArrow::before, .themeDarkBottomEndArrow::before, .themeDarkBottomStartArrow::before { border-bottom-color: themeDarkBackgroundColor; }

.themeDarkLeftArrow, .themeDarkLeftEndArrow, .themeDarkLeftStartArrow { border-left-color: transparent; }
.themeDarkLeftArrow::before, .themeDarkLeftEndArrow::before, .themeDarkLeftStartArrow::before { border-left-color: themeDarkBackgroundColor; }

.themeGrey {
  composes: main;
  background-color: themeGreyBackgroundColor;
  box-shadow: 0 2px 11px 0px var(--drop-shadow);
}

.themeGreyTopArrow, .themeGreyTopEndArrow, .themeGreyTopStartArrow { border-top-color: transparent; }
.themeGreyTopArrow::before, .themeGreyTopEndArrow::before, .themeGreyTopStartArrow::before { border-top-color: themeGreyBackgroundColor; }

.themeGreyRightArrow, .themeGreyRightEndArrow, .themeGreyRightStartArrow { border-right-color: transparent; }
.themeGreyRightArrow::before, .themeGreyRightEndArrow::before, .themeGreyRightStartArrow::before { border-right-color: themeGreyBackgroundColor; }

.themeGreyBottomArrow, .themeGreyBottomEndArrow, .themeGreyBottomStartArrow { border-bottom-color: transparent; }
.themeGreyBottomArrow::before, .themeGreyBottomEndArrow::before, .themeGreyBottomStartArrow::before { border-bottom-color: themeGreyBackgroundColor; }

.themeGreyLeftArrow, .themeGreyLeftEndArrow, .themeGreyLeftStartArrow { border-left-color: transparent; }
.themeGreyLeftArrow::before, .themeGreyLeftEndArrow::before, .themeGreyLeftStartArrow::before { border-left-color: themeGreyBackgroundColor; }

/* State */

.stateHideArrow .arrow {
  display: none;
}

.stateShowArrow .arrow {
  display: block;
}
