@value groupBoxShadow: 0px 2px 11px var(--drop-shadow);

.main {
  display: block;
  width: 100%;
  box-shadow: groupBoxShadow;
}

.main > :not(:first-child) {
  border-top: 1px solid var(--grey-blue-1);
}

.main li {
  background-color: var(--colony-white);
}

.main li:first-of-type {
  border-top-left-radius: var(--radius-large);
  border-top-right-radius: var(--radius-large);
}

.main li:last-of-type {
  border-bottom-left-radius: var(--radius-large);
  border-bottom-right-radius: var(--radius-large);
}

.main.gapsTrue {
  box-shadow: none;
}

.main.gapsTrue li {
  border-radius: var(--radius-large);
  box-shadow: groupBoxShadow;
}

.gapsTrue li + li {
  margin-top: 10px;
}
