.main {
  padding: 6px;
}

.displayName {
  font-size: var(--size-small);
  font-weight: var(--weight-medium);
  color: white;
}

.walletAddress {
  color: var(--grey-5);
}

.content {
  display: inline-block;
}
