.main {
  display: block;
  padding: 10px;
  min-width: 280px;
  font-weight: var(--weight-bold);
  letter-spacing: 0.25px;
}

.token {
  display: flex;
  align-items: center;
  margin: 0 0 16px 0;
  cursor: pointer;
  user-select: none;
}

.token:hover .tokenBalance, .token:hover .tokenName {
  color: var(--primary);
}

.token:last-child {
  margin-bottom: 0px;
}

.tokenIcon {
  margin-right: 14px;
}

.tokenBalance {
  display: block;
  margin: -4px 0;
  font-size: var(--size-normal);
  color: var(--dark);
}

.tokenName {
  font-size: var(--size-tiny);
  color: var(--temp-grey-13);
  letter-spacing: 0.5;
}
