/*
 * @NOTE Unique values
 */
@value tokenDisplaySymbolFontSize: 18px;
@value tokenDisplayFontWeight: 300;

.main {
  display: block;
  margin-bottom: 32px;
  letter-spacing: 0.5px;
}

.selectedToken {
  display: block;
  color: var(--dark);
}

.selectedTokenAmount {
  font-size: var(--size-huge);
  font-weight: tokenDisplayFontWeight;
}

.selectedTokenSymbol {
  composes: button from '~styles/reset.css';
  margin-left: 13px;
  font-size: tokenDisplaySymbolFontSize;
  font-weight: var(--weight-normal);
  letter-spacing: 0.25px;
  cursor: pointer;
  user-select: none;
}

.selectedTokenSymbol:hover {
  color: var(--colony-blue);
  fill: var(--colony-blue);
}

.totalBalanceCopy {
  display: flex;
  align-items: center;
  margin-top: 12px;
  font-size: var(--size-small);
  font-weight: var(--weight-bold);
  color: var(--temp-grey-blue-7);
}

.totalBalanceCopy button {
  outline: 0;
}

.manageFundsLink {
  color: var(--colony-blue);
}

.rightArrowDisplay {
  display: inline-block;
  margin: 0 7px 0 15px;
  height: 15px;
  width: 15px;
  vertical-align: bottom;
  font-weight: var(--weight-bold);
  color: var(--colony-blue);
}

.caretIcon {
  display: block;
  height: 24px;
  width: 24px;
}

.caretContainer {
  display: inline-block;
  margin: 0 0 2px 3px;
  vertical-align: middle;
}
