.details {
  padding: 0 10px;
}

.returnToSummary {
  /*
   * @NOTE We're still inside the CardList grid, so we need to counter the grid-gap
   * in order to reduce the spacing between this button and the expanded card
   */
  margin: 0 -5px 10px;
  padding: 0;
  border: none;
  background-color: transparent;
  font-size: var(--size-small);
  font-weight: var(--weight-bold);
  text-align: left;
  color: var(--text);
  cursor: pointer;
}

.returnToSummary svg {
  /*
   * NOTE Using this to override Icon.css's vertical-align property
   * which might be being used elsewhere.
   */
  vertical-align: -5px;
}
