.finishDeploymentBannerContainer {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
  font-weight: var(--weight-bold);
  text-align: center;
}

.finishDeploymentBannerContainer button {
  margin-top: -38px;
  float: right;
}

.finishDeploymentBanner {
  padding: 15px 0;
}
