@value wideButton: 160px;

.main {
  composes: stretchVertical stretchHorizontal from '~styles/layout.css';
  display: grid;

  /* vertical padding of 11px + nav height (70px) */
  padding: 11px 18px 16px 18px;
  grid-template-columns: 300px minmax(360px, auto) minmax(275px, 300px);
  grid-template-rows: auto;
  column-gap: 80px;
}

.colonyInfo {
  z-index: var(--z-index-nav);
  grid-column: 1;
  grid-row: 1;
}

.metaContainer {
  padding-bottom: 17px;
}

.content {
  height: 100%;
  grid-column: 2;
  grid-row: 1;
}

.noTasks {
  margin-bottom: 30px;
  max-width: 420px;
  font-size: var(--size-medium-l);
  line-height: 2em;
}

.breadCrumbContainer {
  margin-top: 58px;
  margin-bottom: 16px;
  margin-left: 10px;
}

.sidebar {
  display: flex;
  justify-content: space-between;
  margin-top: 160px;
  grid-column: 3;
  grid-row: 1;
}
