.main {
  composes: stretchHorizontal, stretchVertical from '~styles/layout.css';

  /* display: grid;
  grid-template-columns: auto; */
}

.mainContentGrid {
  display: grid;
  margin: 0 80px;

  /*
   * @NOTE On the below width calculations
   * full view width, minus a little trick to disregrad the scrollback, minus
   * the width of the left subscribed colonies list
   */
  max-width: calc(100vw - (100vw - 100%));
  overflow: hidden;
  grid-template-columns: minmax(0, 1fr) minmax(700px, 900px) minmax(0, 1fr);
  column-gap: 80px;
}

.leftAside {
  text-align: right;

  /* padding: 17px 7% 20px 25%; */
}

.leftAsideNav {
  /* margin-top: 53px; */
}

.mainContent {
  /* padding: 90px 0 40px; */
}

.domainsDropdownContainer {
  width: 320px;
}

.domainsDropdownContainer ul {
  max-height: 458px;
}

.contentActionsPanel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--temp-grey-13);
}

.rightAside {
  text-align: left;

  /* padding: 220px 5% 20px 80px; */
}

.events {
  display: block;
}

.loadingWrapper {
  height: 100%;
  position: relative;
}
