.main {
  composes: stretchVertical stretchHorizontal from '~styles/layout.css';
  display: grid;
  grid-template-columns: 50px auto;
}

.colonyList {
  border-right: 1px solid rgb(227, 224, 227);
}

.mainContentGrid {
  display: grid;
  overflow: hidden;

  /*
   * @NOTE Grid needs to have a max value for the center content section, otherwise
   * anything that relies on overflow (think: text ellipsis) will not work.
   *
   * Value was arrived at from 100% - 23% - 26.5%
   */
  grid-template-columns: 23% minmax(auto, 50.5%) 26.5%;
}

.leftAside {
  padding: 17px 7% 20px 25%;
}

.leftAsideNav {
  margin-top: 53px;
}

.mainContent {
  padding: 90px 0 20px;
}

.rightAside {
  padding: 220px 5% 20px 80px;
}

.actions {
  display: block;
}

.events {
  display: block;
}
