.main {
  composes: stretchHorizontal from '~styles/layout.css';
  display: grid;
  grid-template-columns: auto;
}

.mainContentGrid {
  display: grid;

  /*
   * @NOTE On the below width calculations
   * full view width, minus a little trick to disregrad the scrollback, minus
   * the width of the left subscribed colonies list
   */
  max-width: calc(100vw - (100vw - 100%));
  overflow: hidden;

  /*
   * @NOTE Grid needs to have a max value for the center content section, otherwise
   * anything that relies on overflow (think: text ellipsis) will not work.
   *
   * Value was arrived at from 100% - 23% - 26.5%
   */
  grid-template-columns: 23% minmax(auto, 50.5%) 26.5%;
}

.leftAside {
  padding: 17px 7% 20px 25%;
}

.leftAsideNav {
  margin-top: 53px;
}

.mainContent {
  padding: 90px 0 40px;
}

.domainsDropdownContainer {
  width: 320px;
}

.domainsDropdownContainer ul {
  max-height: 458px;
}

.contentActionsPanel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rightAside {
  padding: 220px 5% 20px 80px;
}

.events {
  display: block;
}

.upgradeBannerContainer {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: var(--weight-bold);
  text-align: center;
}

.upgradeBannerContainer button {
  margin-top: -38px;
  float: right;
}

.upgradeBanner {
  padding: 15px 0;
}

.loadingWrapper {
  height: 100%;
  position: relative;
}
