.main {
  composes: stretch from '~styles/layout.css';

  /* display: grid;
  grid-template-columns: auto; */
}

.mainContentGrid {
  display: grid;
  margin: 0 80px;

  /*
   * @NOTE On the below width calculations
   * full view width, minus a little trick to disregrad the scrollback, minus
   * the width of the left subscribed colonies list
   */
  max-width: calc(100vw - (100vw - 100%));
  grid-template-columns: minmax(0, 1fr) minmax(700px, 2fr) minmax(0, 1fr);
  column-gap: 80px;
}

.minimalGrid {
  composes: mainContentGrid;

  /*
   * @NOTE Compensate for the 3-column grid gap
   */
  margin-right: 160px;
  grid-template-columns: minmax(0, 1fr) minmax(700px, 3fr);
}

.minimalGrid .mainContent {
  /*
   * @NOTE Reclaim width lost compensating for the 3-column grid gap
   */
  margin-right: -80px;
}

.leftAside {
  padding-top: 60px;
  text-align: right;
}

.mainContent {
  padding-top: 30px;
}

.domainsDropdownContainer {
  width: 320px;
}

.domainsDropdownContainer ul {
  max-height: 458px;
}

.contentActionsPanel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--temp-grey-13);
}

.rightAside {
  padding-top: 155px;
  text-align: left;
}

.events {
  display: block;
}

.loadingWrapper {
  height: 100%;
  position: relative;
}
