.main {
  composes: stretchVertical stretchHorizontal from '~styles/layout.css';
}

.tabs {
  composes: stretchVertical stretchHorizontal from '~styles/layout.css';
  display: grid;
  grid-template-columns: 360px auto;
  grid-template-rows: auto;
}

.tabList {
  height: 100%;
  z-index: var(--z-index-positioning); /* required to allow links to be clickable in case of transparent navigation */
  grid-column: 1;
  grid-row: 1;
}

.tab {
  padding: 5px 10px 5px 60px;
  font-size: var(--size-normal);
  font-weight: var(--weight-semi);
  color: var(--colony-black);
  cursor: pointer;
}

.tabSelected {
  color: var(--primary);
}

.tabDisabled {
  color: var(--primary);
  color: var(--temp-grey-4);
  cursor: default;
}

.tabPanel {
  composes: stretchVertical stretchHorizontal from '~styles/layout.css';
  border-left: 1px solid var(--temp-grey-5);
  grid-column: 2;
  grid-row: 1;
}

.contentWrapper {
  padding: 0 5% 80px;
  height: 100%;
}
