.singleUserContainer {
  padding: 6px 0;
}

.valueContainer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 8px;
}

.valueContainer .container {
  width: 100%;
}

.valueContainer label {
  margin-bottom: 0;
  color: var(--text);
}

.valueContainer input {
  padding: 0;
  height: 42px;
  width: 100%;
  border-bottom: 1px solid var(--text);
}

.delayContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delay {
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: var(--weight-bold);
  color: var(--text);
  letter-spacing: 0.5px;
}

.delayControlsContainer {
  display: flex;
  padding: 4px 0;
}

.delayControlsContainer input {
  margin-right: 8px;

  /* override style added in form component */
  margin-bottom: -15px;
  min-height: 44px;
  width: 103px;
}

.delayControlsContainer i {
  margin-top: 4px;
}

.tokenWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 12px;
}

.removeWrapper {
  margin-bottom: 4px;
  height: 14px;
  font-weight: var(--weight-bold);
  color: var(--colony-blue);
}

.inputContainer {
  margin-right: 20px;
  padding-bottom: 26px;
  width: 100%;
  position: relative;
}

.inputContainer button {
  padding-left: 0;
  right: unset;
  bottom: 12px;
  left: 0;
}

.questionIcon {
  display: block;
  margin-bottom: -3px;
  margin-left: 6px;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: white;
  stroke: none;
}

.tooltip {
  max-width: 218px;
}

.tooltipDescription {
  margin-top: 8px;
}
