@value query700 from '~styles/queries.css';

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container h5 {
  margin-bottom: 34px;
  font-size: var(--size-smallish);
}

.tableContainer {
  padding: 0 25px 5px 25px;
  overflow: auto;
}

.tableContainerOverflow {
  padding: 0 10px 5px 25px;
}

.table {
  background-color: white;
}

.tableHeader {
  border-bottom: 1px solid var(--temp-grey-13);
}

.tableHeaderCell {
  padding-bottom: 6px;
  font-size: var(--size-normal);
  text-align: right;
  color: var(--dark);
}

.tableHeaderCell:first-child {
  width: 17%;
}

.tableHeaderCell:nth-child(2) {
  width: 41%;
}

.tableRow:first-child {
  padding-top: 4px;
}

.cellData {
  padding-top: 18px;
  font-size: var(--size-smallish);
  font-weight: var(--weight-bold);
  text-align: right;
  color: var(--temp-grey-blue-7);
}

.cellData > div {
  display: inline-block;
  margin-left: 8px;
}

.tokenSymbol {
  color: var(--temp-grey-blue-7);
}

.noDataMessage {
  margin-top: 20px;
  font-size: var(--size-normal);
  color: var(--temp-grey-blue-7);
}

.hiddenDataMessage {
  margin: 10px 0 8px;
  font-size: var(--size-smallish);
  font-weight: var(--weight-normal);
  white-space: pre-line;
  color: var(--temp-grey-4);
}

.hiddenDataMessage a {
  font-weight: var(--weight-normal);
}

.loading {
  margin: 18px 0 0 0;
  font-weight: var(--weight-normal);
}

.loading span {
  /*
   * In order to better align the spinner with the text
   */
  margin-top: -9px;
}

.headingContainer {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-right: 25px;
}

.priceStatusHeading {
  display: flex;
  align-items: center;
  height: 20px;
}

.priceStatusHeadingText {
  margin-right: 8px;
  font-size: var(--size-smallish);
  font-weight: var(--weight-bold);
  color: var(--temp-grey-blue-7);
}

@media screen and query700 {
  .tableHeaderCell:first-child {
    width: auto;
    text-align: left;
  }

  .tableHeaderCell:nth-child(2) {
    width: auto;
    text-align: center;
  }
}
