.main {
  font-size: var(--size-small);
  font-weight: var(--weight-bold);
  text-align: right;
}

.main[aria-disabled="true"] {
  pointer-events: none;
}

.payoutNumber {
  display: block;
  font-size: inherit;
  color: var(--sky-blue);
}

.popoverContent {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.payoutPopover {
  text-align: right;
  color: var(--grey-4);
  cursor: pointer;
}

.native {
  color: var(--violet);
}

.tokenInfo {
  font-weight: normal;
  text-align: left;
  cursor: pointer;
}

.tokenPayout {
  font-weight: var(--weight-bold);
}
