.main {
  display: block;
}

.filter {
  display: inline-block;
  margin-right: 10px;
}

.controls {
  margin-top: 22px;
  text-align: center;
}

.emptyState {
  margin-top: 30px;
}

.loadingSpinner {
  margin-top: 100px;
}

.bar {
  display: flex;
  align-items: center;
}

.title {
  flex-grow: 2;
  font-weight: var(--weight-bold);
}

.link {
  color: var(--colony-blue);
}
