.main {
  display: block;
}

.filter {
  display: inline-block;
  margin-bottom: 14px;
}

.controls {
  margin-top: 22px;
  text-align: center;
}

.emptyState {
  margin-top: 30px;
}

.loadingSpinner {
  margin-top: 100px;
}
