.main {
  width: 450px;
  text-align: left;
}

.main:hover svg {
  stroke: var(--text);
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 15px 10px;
  border-bottom: 2px solid var(--grey-blue-1);
}

.healthDetailsWrapper {
  align-self: center;
}

.healthIconWrapper {
  display: inline-block;

  /*
   * @NOTE Negative Margins
   * In order to better align the icon with the inline text
   */
  margin: 0 7px -2px 0;
  vertical-align: bottom;
}

.healthTitle, .healthDetails {
  display: inline-block;
}

.healthDetails {
  margin-top: 8px;
  line-height: 18px;
}

.actionsContainer {
  display: flex;
  align-items: flex-start;
  align-self: flex-start;
}

.actionsContainer button {
  padding: 0;
}

.closeButton {
  composes: button from '~styles/reset.css';
  stroke: var(--text);
}

.closeButton i {
  padding: 0;
}
