.layoutMain {
  composes: stretchVertical stretchHorizontal from '~styles/layout.css';
  overflow: auto;
  background-color: var(--grey-blue-2);
}

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 8px;
  height: 60px;
  width: 100%;
}

.steps {
  flex: 1;
  margin-top: 5px;
}

.backButton {
  margin-left: 18px;
}

.content {
  composes: flexContainerColumn flexAlignCenter flexJustifyCenter from '~styles/layout.css';
  padding-bottom: 20px;
}

.wallet {
  display: flex;
  flex-direction: column;
  margin: 10px 19px 0px 0px;
}

.address {
  display: flex;
  justify-content: flex-end;
  justify-content: space-between;
  width: 150px;
}

.headerWallet {
  display: flex;
  margin: 7px 14px 0px 0px;
}

.balance {
  display: flex;
  justify-content: flex-end;
  color: var(--danger);
}

.balance::after {
  display: inline-block;
  margin-bottom: 1px;
  margin-left: 3px;
  height: 8px;
  width: 8px;
  position: relative;
  top: 5px;
  right: 74px;
  border-radius: 50%;
  background-color: var(--danger);
  content: '';
}
