.main {
  display: inline-block;
  border-radius: 50%;
  background-color: var(--grey-4);
}

/*
 * Sizing
 */

.sizePea {
  height: 10px;
  width: 10px;
}

.sizeTiny {
  height: 14px;
  width: 14px;
}

.sizeSmall {
  height: 16px;
  width: 16px;
}

.sizeNormal {
  height: 18px;
  width: 18px;
}

.sizeMedium {
  height: 28px;
  width: 28px;
}

.sizeLarge {
  height: 42px;
  width: 42px;
}

.sizeHuge {
  height: 64px;
  width: 64px;
}

/*
 * Health Color Coding
 */

.healthGood {
  background-color: var(--secondary);
}

.healthMean {
  background-color: var(--golden);
}

.healthCritical {
  background-color: var(--danger);
}
