@import 'variables.css';

.main {
    margin-top: -100px;
    width: 100%;
    max-width: 520px;
  }
  
.title {
    margin-top: 124px;
    margin-bottom: 45px;
    font-weight: 500;
  }

.subtitle {
  font-size: 14px;
  margin-bottom: 47px;
}

.content {
  width: 340px;
}

.row {
  height: 64px;
  border-bottom: 1px solid var(--grey-blue-0); 
  padding: 16px;
  display: flex;
}

.rowContent {
  flex: 6;
}

.rowIcon{
  flex: 1;
}

.rowArrow{
  flex: 1;
}

.callToAction{
  margin-top: 64px;
  background-color: var(--total-white);
  padding: 16px;
  display: flex;
  max-height: 60px;
}

.actionImage{
  flex: 1;
}
.actionText {
  flex: 6;
}
