
.main {
  composes: stretchHorizontal from '~styles/layout.css';
  display: grid;
  grid-template-columns: 50px auto;
}

.mainContentGrid {
  display: grid;
  max-width: calc((100vw - (100vw - 100%)) - 50px);
  overflow: hidden;
  grid-template-columns: auto 26.5%;
}

.mainContent {
  margin-left: calc(26.5% + 50px);
  padding: 90px 0 40px;
}

.rightAside {
  display: flex;
  justify-content: center;
  padding: 200px 0 20px 50px;
}
