@value query700 from '~styles/queries.css';

.main {
  composes: stretchHorizontal from '~styles/layout.css';
}

.mainContentGrid {
  display: flex;
  justify-content: flex-end;
}

.mainContent {
  flex: 1;
  margin-left: 26.5%;
  padding: 90px 0 40px;
}

.rightAside {
  display: flex;
  flex-direction: column;
  padding: 153px 0 20px 85px;
  width: 26.5%;
}

.loadingWrapper {
  margin-left: 60px;
  height: 100%;
  width: calc(100% - 60px);
  position: relative;
}

.controls li {
  width: fit-content;
}

.controls li + li {
  margin: 18px 0 0;
}

.teamReputationPointsContainer {
  margin-bottom: 50px;
}

.teamReputationPointsContainer h4 {
  font-size: var(--size-smallish);
  line-height: 18px;
}

.reputationPoints {
  line-height: 18px;
  color: var(--dark);
}

@media screen and query700 {
  .main {
    height: 100%;
    min-height: 715px;
  }

  .mainContentGrid {
    display: grid;
    margin: 0;
    width: 100%;
    grid-template:
      "joinColony" auto
      "membersSection" auto
      / 1fr;
  }

  .mainContent {
    margin: 0;
    padding: 0;
    padding-bottom: 60px;
    grid-area: membersSection;
  }

  .loadingWrapper {
    margin: 0;
    width: 100%;
  }

  .rightAside {
    display: none;
  }
}
