.title {
  font-size: var(--size-medium-l);
  font-weight: var(--weight-bold);
  line-height: 24px;
  color: var(--dark);
}

.submitButton > button {
  width: 160px;
}

.divider {
  width: 100%;
  border-top: 1px solid var(--grey-blue-0);
}

.slider {
  display: flex;
  flex-direction: column;
  margin: 0px auto 27px;
  width: 341px;
}

.richTextEditor span[class*='characterCount'] {
  top: 152px;
}

.richTextEditor div[class*='ProseMirror'] {
  height: 100px;
}

.descriptionText {
  padding-bottom: 20px;
}
