.title {
  font-size: var(--size-medium-l);
  font-weight: var(--weight-bold);
  line-height: 24px;
  color: var(--dark);
}

.link {
  font-size: var(--size-small);
  font-weight: var(--weight-bold);
  color: var(--sky-blue);

  &:hover {
    text-decoration: underline;
    color: var(--dark-blue);
  }
}

.submitButton > button {
  width: 160px;
}

.slider {
  display: flex;
  flex-direction: column;
  margin: 10px auto 50px;
  width: 341px;
}
