.wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  margin-bottom: 100px;
}

.title {
  font-size: var(--size-smallish);
  font-weight: var(--weight-bold);
  color: var(--dark);
}

.description {
  margin-bottom: 18px;
  font-size: var(--size-tiny);
  line-height: 18px;
  color: color-mod(var(--temp-grey-blue-7) alpha(85%));
}

.buttonGroup {
  margin-top: 32px;
}

.amount {
  align-self: flex-end;
  margin-bottom: 2px;
  font-size: var(--size-tiny);
  line-height: 18px;
  color: color-mod(var(--temp-grey-blue-7) alpha(85%));
}

.sliderContainer {
  margin-left: 6px;
}
