.main {
  display: block;
  margin: 0px 0 100px 0;
}

.widget {
  margin-top: 20px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

.title {
  display: flex;
  padding: 15px 0 0;
}

.title h4 {
  /* to align questionmark icon in the middle */
  margin-bottom: 3px;
  font-size: var(--size-smallish);
  font-weight: var(--weight-bold);
  color: var(--dark);
}

.description {
  margin: 1px 0 20px;
  font-size: var(--size-tiny);
  font-weight: var(--weight-bold);
  color: color-mod(var(--temp-grey-blue-7) alpha(85%));
}

.buttonGroup {
  display: flex;
  margin-top: 30px;
}

.buttonGroupAlignment {
  justify-content: space-between;
}

.buttonGroup button {
  padding: 0 0 2px;
  width: 100px;
  font-size: var(--size-small);
}

.objectButton {
  margin-left: 20px;
}

.amount {
  align-self: flex-end;
  margin-bottom: 2px;
  font-size: var(--size-tiny);
  font-weight: var(--weight-bold);
  color: color-mod(var(--temp-grey-blue-7) alpha(85%));
  letter-spacing: var(--spacing-medium);
}

.minStakeAmount {
  composes: amount;
  color: var(--pink);
}

.sliderContainer {
  margin-left: 6px;
}

.help {
  align-self: flex-end;
  margin: 0 0 -1px 7px;
  width: 33px;
  cursor: pointer;
}

.tooltip {
  width: 220px;
}

.loading {
  padding-top: 35px;
}

.minStakeAmountContainer {
  display: flex;
  align-self: flex-end;
}

.requiredStakeText {
  font-size: var(--size-tiny);
  font-weight: var(--weight-bold);
}

.requiredStakeUnderThreshold {
  color: var(--golden);
}

.requiredStakeAboveThreshold {
  color: var(--primary);
}

.questionMarkIcon {
  align-self: flex-end;
  margin-top: 16px;
  margin-left: 7px;
  cursor: pointer;
}
