@import 'variables.css';

.main {
  background-color: var(--grey-blue-2);
}

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 8px;
  height: 60px;
  width: 100%;
  background-color: white;
}

.logo {
  flex: 1;
  margin-left: 13px;
  max-width: 90px;
}

.content {
  padding: 0 15%;
}

.content > form {
  width: 100%;
}

.controls {
  margin-top: 60px;
  text-align: right;
}

.section .logo-loader svg {
  max-width: 40%;
}
