@import 'variables.css';

.main {
  background-color: var(--grey-blue-2);
}
.header {
  height: 60px;
  background-color: var(--total-white);
  width: 100%;
}

.logo {
  max-width: 90px;
  margin-left: 13px;
  margin-top: 8px;
}

.content {
  padding: 0 15%;
}

.content > form {
  width: 100%;
}

.section {
  margin-top: -100px;
  width: 100%;
  max-width: 520px;
}

.controls {
  margin-top: 60px;
  text-align: right;
}

.section .logo-loader svg {
  max-width: 40%;
}
