.main {
  padding: 10px 15px;
  position: relative;
  border-radius: var(--radius-large);
  background-color: var(--colony-white);
  list-style: none;
  box-shadow: 0 0 6px color-mod(var(--grey-5) alpha(60%));
}

.closeButton {
  composes: button from '~styles/reset.css';
  position: absolute;
  top: 5px;
  right: 5px;
}
